@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.EmpresaVenda.Domain.Integration.Zeus.Models

@{
    ViewBag.Codigo = "PAG13";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/pagamento-unificado/index-pagamento-unificado.js"></script>
<script type="text/javascript" src="~/Static/projeto/pagamento-unificado/filtro-pagamento-unificado.js"></script>
<script type="text/javascript" src="~/Static/projeto/pagamento-unificado/datatable-pagamento-unificado.js"></script>
<script type="text/javascript" src="~/Static/projeto/pagamento-unificado/modal-status-requisicao-compra.js"></script>
<script type="text/javascript" src="~/Static/projeto/pagamento-unificado/modal-visualizar-requisicao-compra.js"></script>
<script type="text/javascript" src="~/Static/projeto/pagamento-unificado/modal-historico-requisicao-compra.js"></script>
<script type="text/javascript" src="~/Static/projeto/pagamento-unificado/modal-anexo.js"></script>

<script>
    Europa.Controllers.PagamentoUnificado.UrlListarPagamentos = '@Url.Action("ListarPagamentos", "PagamentoUnificado")';
    Europa.Controllers.PagamentoUnificado.UrlRegraComissao = '@Url.Action("Index", "MatrizPagadoria")';

    Europa.Controllers.PagamentoUnificado.UrlGerarRequisicaoCompraEmLote = '@Url.Action("GerarRequisicaoCompraEmLote", "PagamentoUnificado")';

    Europa.Controllers.PagamentoUnificado.UrlVerificarTask = '@Url.Action("VerificarStatusRequisicaoCompra", "PagamentoUnificado")';
    Europa.Controllers.PagamentoUnificado.UrlVisualizarRequisicaoCompraModal = '@Url.Action("VisualizarRequisicaoCompraModal", "PagamentoUnificado")';
    Europa.Controllers.PagamentoUnificado.UrlListarRequisicaoCompraSap = '@Url.Action("ListarRequisicaoCompraSap", "PagamentoUnificado")';
    Europa.Controllers.PagamentoUnificado.UrlRemoverPagamento = '@Url.Action("RemoverPagamento", "PagamentoUnificado")';

    Europa.Controllers.PagamentoUnificado.UrlDownloadArquivo = '@Url.Action("DownloadArquivo", "Pagamento")';
    Europa.Controllers.PagamentoUnificado.UrlExportarPagina = '@Url.Action("ExportarPagina", "PagamentoUnificado")';
    Europa.Controllers.PagamentoUnificado.UrlExportarTodos = '@Url.Action("ExportarTodos", "PagamentoUnificado")';

    Europa.Controllers.PagamentoUnificado.UrlSalvarArquivo = '@Url.Action("UploadImportFile", "PagamentoUnificado")';

    Europa.Controllers.PagamentoUnificado.Permissoes = {
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirPagamento").ToString().ToLower()'=='true',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirPagamento").ToString().ToLower()' == 'true',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo,"RemoverPagamento").ToString().ToLower()' == 'true',
        GerarRequisicaoCompra: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo,"GerarRequisicaoCompra").ToString().ToLower()' == 'true',
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarPagamento").ToString().ToLower()' == 'true'
    };
</script>

<style>
    .acoes {
        font-weight: bold;
        text-align: center;
    }

    .cabecalho {
        font-weight: bold;
        text-align: center;
        width: 150px;
    }
</style>

<div id="titlebar-name">
    @ViewBag.Title
</div>

<div id="titlebar-buttons">
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ImportarTabelas"))
    {
        <button type="button" class="btn btn-default"
                onclick="Europa.Controllers.PagamentoUnificado.AbrirModalImportExcel()">
            <i class="fa fa-cog"></i> @GlobalMessages.Importar
        </button>
    }
</div>

@Html.Partial("_Filtro")
@Html.Partial("_Datatable")

<form id="form_exportar" hidden></form>

@{
Html.RenderPartial("_Anexo");

Html.RenderPartial("_StatusRequisicaoCompra");

Html.RenderPartial("_VisualizarRequisicaoCompra", new ItemRequisicaoDTO());

Html.RenderPartial("_HistoricoRequisicaoCompra");
}