@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

@{
    ViewBag.Codigo = "CAD03";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/grupo-cca/index-grupo-cca.js"></script>
<link href="~/Static/projeto/grupo-cca/grupo-cca.css" rel="stylesheet" />

<script>
    //URLs Datatable GrupoCCA
    Europa.Controllers.GrupoCCA.UrlIncluirGrupoCCA = '@Url.Action("IncluirGrupoCCA","GrupoCCA")';
    Europa.Controllers.GrupoCCA.UrlAtualizarGrupoCCA = '@Url.Action("AtualizarGrupoCCA","GrupoCCA")';
    Europa.Controllers.GrupoCCA.UrlListarGruposCCA = '@Url.Action("ListarDatatableGrupoCCA","GrupoCCA")';
    Europa.Controllers.GrupoCCA.UrlExcluirGrupoCCA = '@Url.Action("ExcluirGrupoCCA","GrupoCCA")';

    //URLs Datatable Empresa Venda
    Europa.Controllers.GrupoCCA.UrlListarEmpresaVenda = '@Url.Action("ListarDatatableGrupoEmpresaVenda","GrupoCCA")';
    Europa.Controllers.GrupoCCA.UrlAtribuirEmpresaVendaAGrupo = '@Url.Action("AtribuirEmpresaVendaAGrupo","GrupoCCA")';

    //URLs Datatable Usuário
    Europa.Controllers.GrupoCCA.UrlListarUsuario = '@Url.Action("ListarDatatableUsuario","GrupoCCA")';
    Europa.Controllers.GrupoCCA.UrlAtribuirUsuarioAGrupo = '@Url.Action("AtribuirUsuarioAGrupo","GrupoCCA")';

    Europa.Controllers.GrupoCCA.Permissoes = {
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AtualizarGrupoCCA")',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "RemoverGrupoCCA")',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirGrupoCCA")'

    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div class="col-md-9">
    @{
        Html.RenderPartial("_DatatableGrupoCCA");
    }
</div>

<div class="tabs-container col-md-14 col-md-offset-1">
    <input type="radio" name="tabs" class="tabs" id="tab1" checked>
    <label for="tab1">@GlobalMessages.EmpresaVenda</label>
    <div style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    ">
        @{
            Html.RenderPartial("_DatatableEmpresaVenda");
        }
    </div>

    <input type="radio" name="tabs" class="tabs" id="tab2" checked>
    <label for="tab2">@GlobalMessages.Usuario</label>
    <div style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    ">
        @{
            Html.RenderPartial("_DatatableUsuario");
        }
    </div>
</div>