@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources

@{
    ViewBag.Codigo = "GEC03";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/transferir-carteira/transferir-carteira.js"></script>

<script>
    Europa.Controllers.Carteira.UrlListar = '@Url.Action("Listar","TransferenciaCarteira")';
    Europa.Controllers.Carteira.UrlTransferirSelecionados = '@Url.Action("TransferirSelecionados","TransferenciaCarteira")';
    Europa.Controllers.Carteira.UrlTransferirTodos = '@Url.Action("TransferirTodos","TransferenciaCarteira")';
</script>


<div id="titlebar-name">
    @ViewBag.Title
</div>
<div id="titlebar-buttons">
        <button class="btn btn-default" onclick="Europa.Controllers.Carteira.TransferirSelecionados()"><i class="fa fa-exchange"  aria-hidden="true"></i> @GlobalMessages.Transferir </button>
        <button class="btn btn-default" onclick="Europa.Controllers.Carteira.TransferirTodos()"><i class="fa fa-exchange"  aria-hidden="true"> </i> @GlobalMessages.Transferir @GlobalMessages.Todos</button>
 
</div>

<div class="col-md-24">
    <div class="col-md-6">
        @Html.Label(GlobalMessages.Viabilizador + " " + GlobalMessages.Origem)
        <select id="autocomplete_viabilizador" class="form-control"></select>
    </div>
    <div class="col-md-6 col-md-offset-1">
        @Html.Label(GlobalMessages.Viabilizador + " " + GlobalMessages.Destino)
        <select id="autocomplete_novo_viabilizador" class="form-control"></select>
    </div>
    <div class="col-md-6 col-md-offset-1">
        @Html.Label(GlobalMessages.EmpresaVendas)
        <select id="autocomplete_empresa_venda" name="autocomplete_empresa_venda" class="select2-container form-control" multiple="multiple"></select>
    </div>
    <div class="pull-right" style="margin-top:18px;">
        <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.Carteira.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
        <button type="button" title="@GlobalMessages.Limpar" class="btn btn-default" onClick="Europa.Controllers.Carteira.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
    </div>
</div>

<div ng-controller="PreProposta as table">
    <div id="datatable_header" class="col-md-24">
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="table.dtColumnDefs"></table>
</div>