@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.EmpresaVenda.Domain.Integration.Zeus.Models

@{
    ViewBag.Codigo = "GEC17";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<link href="~/Static/select2/css/select2-bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/Static/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<script src="~/Static/select2/js/select2.full.min.js" defer></script>
<script src="~/Static/projeto/consulta-aceites-contratos/index-consulta-aceites-contratos.js"></script>
<script src="~/Static/projeto/consulta-aceites-contratos/datatable-consulta-aceites-contratos.js"></script>
<script src="~/Static/projeto/consulta-aceites-contratos/filtro-consulta-aceites-contratos.js"></script>


<script>
    Europa.Controllers.ConsultaAceitesContratos.UrlListar = '@Url.Action("Listar", "ConsultaAceitesContratosCorretagem")';
    Europa.Controllers.ConsultaAceitesContratos.UrlExportarPagina = '@Url.Action("ExportarPagina", "ConsultaAceitesContratosCorretagem")';
    Europa.Controllers.ConsultaAceitesContratos.UrlExportarTodos = '@Url.Action("ExportarTodos", "ConsultaAceitesContratosCorretagem")';
    Europa.Controllers.ConsultaAceitesContratos.UrlBaixarContrato = '@Url.Action("BaixarArquivo", "ConsultaAceitesContratosCorretagem")';


    Europa.Controllers.ConsultaAceitesContratos.Permissoes = {
        Baixar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
    };

</script>
<style>
    .acoes {
        font-weight: bold;
        text-align: center;
    }

    .cabecalho {
        font-weight: bold;
        text-align: center;
        width: 150px;
    }
</style>



<div id="titlebar-name">
    @ViewBag.Title
</div>

@Html.Partial("_Filtro")
@Html.Partial("_Datatable")

<form id="form_exportar" hidden></form>