@using Europa.Resources
@model Tenda.Domain.EmpresaVenda.Models.TipoDocumento

<div class="col-md-24">
    <div class="col-md-10 form-group">
        @Html.Label(GlobalMessages.Nome, new { @class = "control-label" })
        <input id="nome_filtro" type="text" class="form-control" maxlength="256" />
    </div>

    <div class="pull-right" style="margin-top:20px">
        <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.TiposDocumento.FiltrarTabela()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
        <button class="btn btn-default" type="button" title="@GlobalMessages.Limpar" onClick="Europa.Controllers.TiposDocumento.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
    </div>

</div>
