@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.EmpresaVenda.Domain.Repository.Models

@{
    ViewBag.Codigo = "CAD18";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/tipos-documento/documentos.js"></script>
<script src="~/Static/projeto/tipos-documento/documentos-datatable.js"></script>

<script>
    Europa.Controllers.TiposDocumento.UrlListar = '@Url.Action("Listar", "TiposDocumento")';
    Europa.Controllers.TiposDocumento.UrlIncluir = '@Url.Action("Salvar", "TiposDocumento")';
    Europa.Controllers.TiposDocumento.UrlAlterar = '@Url.Action("Alterar", "TiposDocumento")';
    Europa.Controllers.TiposDocumento.UrlExcluir = '@Url.Action("Excluir", "TiposDocumento")';
    Europa.Controllers.TiposDocumento.UrlValidarExclusao = '@Url.Action("ValidarExclusao", "TiposDocumento")';

    Europa.Controllers.TiposDocumento.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Salvar").ToString().ToLower()',
        Alterar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()'
    };
</script>

<div id="titlebar-name">
    @ViewBag.Title
</div>
    <div id="titlebar-buttons">
        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
        {
            <div id="botoes_visualizacao">
                <button class="btn btn-default" title="@GlobalMessages.Novo" type="button" onclick="Europa.Controllers.TiposDocumento.Novo()">
                    <i class="fa fa-plus" aria-hidden="true"></i> @GlobalMessages.Novo
                </button>
            </div>
        }

    </div>

    @{
        Html.RenderPartial("_Filtro");
        Html.RenderPartial("_Datatable");

    }

