@using Europa.Extensions
@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@model Tenda.Domain.EmpresaVenda.Models.PreProposta

@{
    ViewBag.Codigo = "";
    ViewBag.Title = "Workflow de Pré Proposta";
}

<script type="text/javascript" src="~/static/projeto/pre-proposta-workflow/pre-proposta-workflow.js"></script>
<script type="text/javascript" src="~/static/projeto/pre-proposta-workflow/pre-proposta.js"></script>
<script type="text/javascript">
    Europa.Controllers.PrePropostaWorkflow.UrlHistoricos = '@Url.Action("Historico", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlRedirecionar = '@Url.Action("Index", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlBuscarPorCodigo = '@Url.Action("BuscarPorCodigo", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlSalvar = '@Url.Action("Salvar", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlEnviar = '@Url.Action("Enviar", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlReenviar = '@Url.Action("Reenviar", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlRevisar = '@Url.Action("Revisar", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlAnalisar = '@Url.Action("Analisar", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlAprovar = '@Url.Action("Aprovar", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlPendenciar = '@Url.Action("Pendenciar", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlFinalizar = '@Url.Action("Finalizar", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlCancelar = '@Url.Action("Cancelar", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlRetroceder = '@Url.Action("Retroceder", "PrePropostaWorkflow")';
    Europa.Controllers.PrePropostaWorkflow.UrlDesassociarUnidade = '@Url.Action("DesassociarUnidade", "PrePropostaWorkflow")';

</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div id="titlebar-buttons">
    <div class="col-md-24" style="display: inline-flex">
            <div class="input-group" style="margin-left:10px">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" id="botao_disponibilidade_empreendimento" style="margin-right: 20px;"
                            onclick="Europa.Controllers.DisponibilidadeEmpreendimento.Modal.Abrir()">
                        <i class="fa fa-building-o"></i> @GlobalMessages.DisponibilidadeEmpreendimentos
                    </button>
                </div>
                @if (Model.IdUnidadeSuat.HasValue())
                {
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" id="botao_desassociar_unidade" style="margin-right: 20px;"
                                onclick="Europa.Controllers.PrePropostaWorkflow.DesassociarUnidade(@Model.Id)">
                            <i class="fa fa-ban"></i> @GlobalMessages.DesassociarUnidade
                        </button>
                    </div>
                }
                @Html.TextBox("filtro_codigo", "", new { @class = "form-control", @style = "width: 270px !important;" })
                <div class="input-group-btn">
                    <button class="btn btn-default pull-left" type="button"
                            onclick="Europa.Controllers.PreProposta.Buscar()">
                        <i class="fa fa-search"></i> @GlobalMessages.Buscar
                    </button>
                </div>
            </div>
        </div>
</div>

<div class="col-md-12">
    <fieldset id="fieldset_disabled_inputs" disabled>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.SituacaoProposta)
        <div class="col-md-12">
            @Html.Label(GlobalMessages.CodigoPreProposta)
            @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control", @readonly = true })
        </div>
        <div class="col-md-11 col-md-offset-1">
            @Html.Label(GlobalMessages.Situacao)
            @Html.EnumDropDownListFor(x => x.SituacaoProposta, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </fieldset>
</div>
<div class="col-md-11 col-md-offset-1">
    <div class="col-md-24">
        @Html.Label("Ações")
    </div>
    <div class="col-md-24">
        @if (Model.Id.HasValue())
        {
            if (Model.SituacaoProposta == SituacaoProposta.EmElaboracao
                || Model.SituacaoProposta == SituacaoProposta.DocsInsuficientesSimplificado)
            {
                <button id="btn_salvar_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Salvar()">
                    <i class="fa fa-save"></i> @GlobalMessages.Salvar
                </button>
            }
            if (Model.SituacaoProposta == SituacaoProposta.EmElaboracao)
            {
                <button id="btn_enviar_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Enviar()">
                    <i class="fa fa-send"></i> @GlobalMessages.Enviar
                </button>
            }
            if (Model.SituacaoProposta == SituacaoProposta.DocsInsuficientesSimplificado)
            {
                <button id="btn_cancelar_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Reenviar()">
                    <i class="fa fa-forward"></i> @GlobalMessages.Reenviar
                </button>
            }
            if (Model.SituacaoProposta == SituacaoProposta.AnaliseSimplificadaAprovada)
            {
                <button id="btn_enviar_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Revisar()">
                    <i class="fa fa-undo"></i> @GlobalMessages.Revisar
                </button>
            }
            if (Model.SituacaoProposta == SituacaoProposta.AguardandoAnaliseSimplificada
                || Model.SituacaoProposta == SituacaoProposta.Retorno)
            {
                <button id="btn_cancelar_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Analisar()">
                    <i class="fa fa-forward"></i> @GlobalMessages.Analisar
                </button>
            }
            if (Model.SituacaoProposta == SituacaoProposta.EmAnaliseSimplificada)
            {
                <button id="btn_cancelar_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Aprovar()">
                    <i class="fa fa-check"></i> @GlobalMessages.Aprovar
                </button>
            }
            if (Model.SituacaoProposta == SituacaoProposta.EmAnaliseSimplificada
                || Model.SituacaoProposta == SituacaoProposta.AnaliseSimplificadaAprovada)
            {
                <button id="btn_cancelar_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Pendenciar()">
                    <i class="fa fa-ban"></i> @GlobalMessages.Pendenciar
                </button>
            }
            if (Model.SituacaoProposta == SituacaoProposta.AnaliseSimplificadaAprovada)
            {
                <button id="btn_cancelar_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Finalizar()">
                    <i class="fa fa-forward"></i> @GlobalMessages.Finalizar
                </button>
            }
            if (Model.SituacaoProposta == SituacaoProposta.EmElaboracao
                || Model.SituacaoProposta == SituacaoProposta.AnaliseSimplificadaAprovada
                || Model.SituacaoProposta == SituacaoProposta.DocsInsuficientesSimplificado)
            {
                <button id="btn_cancelar_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Cancelar()">
                    <i class="fa fa-forward"></i> @GlobalMessages.Cancelar
                </button>
            }

            <button id="btn_retroceder_proposta" class="btn btn-default" style="margin-right: 10px" type="submit" onclick="Europa.Controllers.PreProposta.Retroceder()">
                <i class="fa fa-fast-backward"></i> @GlobalMessages.Retroceder
            </button>
        }
    </div>
</div>


<div class="col-md-24">
    <div ng-controller="historicoPrePropostaTable as table">
        <div id="historico_pre_proposta_datatable_header">
            <div class="col-md-12 form-group">
                <h5 style="margin-top:6px;margin-bottom:0px;">@GlobalMessages.Historico</h5>
            </div>
            <div class="col-md-11 text-right" style="float: right;">
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>

@{ Html.RenderPartial("~/Views/PrePropostaWorkflow/_DisponibilidadeEmpreendimentoModal.cshtml"); }
