@using Europa.Resources
@using Europa.Extensions
@using Europa.Fmg.Portal.Models.Application
@using System
@model Europa.Fmg.Portal.Models.ProgramaFidelidadeDTO

@{
    ViewBag.Codigo = "EVS20";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

@{ 
    var link = "http://" + Model.LinkParceiroExclusivo;
}

<link href="~/Static/projeto/programa-fidelidade/programa-fidelidade.css" rel="stylesheet" />
<script src="~/Static/projeto/programa-fidelidade/como-funciona.js"></script>

<script>
    Europa.Controllers.ProgramaFidelidade.UrlDownloadPdf = '@Url.Action("DownloadPdf","ProgramaFidelidade")';
</script>

<div id="titlebar-name">
    <span class="Programa-de-fidelida">@ViewBag.Title.ToUpper()</span>
</div>

<div id="titlebar-buttons">
    @if (Model.TermoAceite)
        {
            <button class="btn  btn-fidelidade"
                    type="button"
                    onClick="location.href='@Url.Action("TermoAceite", "ProgramaFidelidade")'">
                @GlobalMessages.TermoAceite
            </button>
        }
       

    <button class="btn btn-fidelidade" type="button" onClick="Europa.Controllers.ProgramaFidelidade.DownloadPdf()">
        @GlobalMessages.Download @GlobalMessages.PDF
    </button>
    <button class="btn  btn-fidelidade"
            type="button"
            onClick="location.href='@Url.Action("Index", "ProgramaFidelidade")'">
        @GlobalMessages.Voltar
    </button>
</div>

<div class="col-md-24" style="margin-top:64px;">
    <div class="col-md-12">
        <div class="col-md-24 como-funciona">
            @GlobalMessages.ComoFunciona
        </div>

        <div class="col-md-24 Voc-merece-esse-ben">
            @GlobalMessages.VoceMereceEsseBen
        </div>

        <div class="col-md-24 texto-como-funciona" style="margin-top:25px;">
            @*@string.Format(GlobalMessages.TextoComoFuncionaProgramaFidelidade,"\n")*@
            Caro parceiro, a partir de agora suas vendas faturadas podem se transformar em pontos que se acumulam durante o período de 360 dias.
        </div>

        <div class="col-md-24 texto-como-funciona">
            Bem-vindo ao programa de fidelidade VIP TENDA, que traz o benefício da troca de pontos por produtos junto aos parceiros exclusivos da Tenda. Que tal trocar aquela cafeteira que todos andam reclamando? Ou dar aquele empurrão nas vendas disponibilizando um micro-ondas para ser sorteado entre seus corretores?
        </div>
        <div class="col-md-24 texto-como-funciona">
            Essa é mais uma iniciativa da Tenda, que busca melhorar ainda mais nossa parceria!
        </div>
        <div class="col-md-24 texto-como-funciona">
            Você é VIP para nós, queremos também ser VIP para você, juntos somos <text style="color:#e4002b;font-weight:bolder">VIP TENDA</text>!
        </div>

        <div class="col-md-24" style="margin-top: 5px;">
            <a href=@link
               target="_blank">
                <span class="Parceiro-exclusivo"
                      style="color: #e4002b;">
                    @string.Format(GlobalMessages.ParceiroExclusivo, Model.NomeParceiroExclusivo)
                </span>
            </a>
            <span class="Parceiro-exclusivo">@GlobalMessages.EmBreveNovosParceiros</span>
        </div>
    </div>

    <div class="col-md-12">
        <img src="~/Static/images/ilustra-como-funciona.svg"
             class="Iilustra_como_funciona">
    </div>
</div>

<div class="col-md-24" style="margin-top:72px;margin-bottom:72px;padding-left: 20px;padding-right: 25px;">
    <hr />
</div>

<div class="col-md-24 como-funciona">
    @GlobalMessages.VejaComoFacil
</div>

<div class="col-md-24 Voc-merece-esse-ben" style="margin-top:8px;">
    @GlobalMessages.ACadaVendaGeraPontos
</div>

<div class="col-md-24" style="text-align: center;">
    <a href="@Model.LinkParceiroExclusivo" 
             target="_blank" >
        <img class="banner-pontos"
             src="@Model.LinkBanner" />
    </a>
</div>

<div class="col-md-24 -Pontos-elegveis-p" style="text-align: center;margin-bottom:115px;">
    @GlobalMessages.RodapeBannerComoFunciona
</div>

<form id="form_pdf">

</form>