@using Europa.Extensions;
@using System;
@using Europa.Resources
@using Tenda.EmpresaVenda.Domain.Commons
@using Tenda.EmpresaVenda.Portal.Models.Application
@using Tenda.Domain.EmpresaVenda.Enums
@model Tenda.EmpresaVenda.Portal.Models.ProgramaFidelidadeDTO

@{
    ViewBag.Codigo = "EVS20";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

@{
    var ponto = Model.PontuacaoDisponivel == 1 ? "Ponto" : "Pontos";
}

<link href="~/Static/projeto/programa-fidelidade/programa-fidelidade.css" rel="stylesheet" />
<script type="text/javascript" src="~/Static/projeto/programa-fidelidade/index-programa-fidelidade.js"></script>

<div id="titlebar-name">
    <span class="Programa-de-fidelida">@ViewBag.Title.ToUpper()</span>
</div>
<div id="titlebar-buttons">
    @if (Model.PontuacaoSolicitada.HasValue() || Model.PontuacaoResgatada.HasValue())
    {
        <button class="btn  btn-fidelidade"
                type="button"
                onClick="location.href='@Url.Action("MeusResgates", "ProgramaFidelidade")'">
            @GlobalMessages.MeusResgates
        </button>
    }
    <button class="btn  btn-fidelidade"
            type="button"
            onClick="location.href='@Url.Action("ComoFunciona", "ProgramaFidelidade")'">
        @GlobalMessages.ComoFunciona
    </button>
</div>

<div class="col-md-24 titulo" style="margin-bottom:56px;">
    @if (Model.PontuacaoDisponivel.IsEmpty() && Model.PontuacaoIndisponivel.IsEmpty())
    {
        @GlobalMessages.MsgAguardePontos
    }
    else if (Model.PontuacaoDisponivel.IsEmpty())
    {
        @GlobalMessages.MsgFaltaPoucoPontos
    }
    else if (Model.PrimeiroAcesso == true && Model.PontuacaoDisponivel.HasValue())
    {
        @GlobalMessages.VoceJaPossuiPontos
    }
    else
    {
        @GlobalMessages.MsgResgateAgora
    }

</div>
@if (Model.PontuacaoTotal.HasValue())
{
    <div class="col-md-24 subtitulo" style="margin-bottom:80px;">
        @GlobalMessages.AcompanheSuaPontuacao
    </div>
}

<div class="col-md-24" style="text-align: -webkit-center;">
    <div class="col-md-12" >
        <div class="Rectangle-1 pull-right">
            <div class="col-md-24" style="margin-top:42px;margin-bottom:24px">
                <img src="~/Static/europa/css/icons/fidel-icon.svg"
                     class="fidel-icon">
            </div>
            <div class="col-md-24 pontos-1" style="margin-bottom:32px;">
                <span class="text-style">
                    @Convert.ToInt32(Model.PontuacaoDisponivel)
                </span>
                <br />
                <span class="pontos-1">
                    @ponto.ToLower()
                </span>
            </div>
            @if (Model.PontuacaoDisponivel.IsEmpty())
            {
                <div class="col-md-24 Voc-no-possui-pont" style="color:var(--white)">
                    @GlobalMessages.VoceNaoPossuiPontos
                </div>
            }
            else
            {
                <div class="col-md-24">
                    <button class="btn-resgatar-agora"
                            type="button"
                            onClick="location.href='@Url.Action("ResgatePontos", "ProgramaFidelidade")'">
                        @GlobalMessages.ResgatarAgora
                    </button>
                </div>
            }
        </div>
        <div class="col-md-24" style="margin-top:33px;padding-right: 56px;">
            @Html.Label(GlobalMessages.PontosDisponiveisResgate, new { @class = "pontos-disponveis-para-resgate pull-right" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="Rectangle-2 pull-left">
            <div class="col-md-24" style="margin-top:55px;margin-bottom:36px">
                <img src="~/Static/europa/css/icons/fidel-icon-2.svg"
                     class="fidel-icon-2">
            </div>
            <div class="col-md-24 pontos-1" style="margin-bottom:32px;color: var(--steel);">
                <span class="text-style">
                    @Convert.ToInt32(Model.PontuacaoIndisponivel)
                </span>
                <br />
                <span class="pontos-1" style="color: var(--steel);">
                    @ponto.ToLower()
                </span>
            </div>
            <div class="col-md-24 Voc-no-possui-pont">
                @if (Model.PontuacaoIndisponivel.IsEmpty())
                {
                    @GlobalMessages.VoceNaoPossuiPontos
                }
                else if (Model.PontuacaoIndisponivel.HasValue())
                {
                    @GlobalMessages.MsgUtilizarEmBreve
                }
            </div>
        </div>
        <div class="col-md-24" style="margin-top:32px;padding-left: 174px">
            @Html.Label(GlobalMessages.PontosFaturar, new { @class = "pontos-faturar pull-left" })
        </div>
    </div>
</div>

<div class="col-md-24 confira-nosso-parceiro">
    @GlobalMessages.ConfiraParceiroExclusivoTrocaPontos
</div>

<div class=" col-md-24" style="margin-bottom: 33px;">
    <img class="banner" src="@Model.LinkBanner" />
</div>