@using System;
@using Europa.Resources
@using Europa.Resources
@using Tenda.EmpresaVenda.Portal.Models.Application
@model Tenda.EmpresaVenda.Domain.Repository.Models.PontuacaoFidelidadeDTO

@{
    ViewBag.Codigo = "EVS20";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<link href="~/Static/projeto/programa-fidelidade/programa-fidelidade.css" rel="stylesheet"/>
<script type="text/javascript" src="~/Static/projeto/programa-fidelidade/meus-resgates-programa-fidelidade.js"></script>

<script>
    Europa.Controllers.MeusResgates.Url = {
        ListarResgate:'@Url.Action("ListarResgate", "ProgramaFidelidade")'
    }
</script>

<div id="titlebar-name">
    <span class="Programa-de-fidelida">@ViewBag.Title.ToUpper()</span>
</div>

<div id="titlebar-buttons">
    <button class="btn  btn-fidelidade"
            type="button"
            onClick="location.href='@Url.Action("Index", "ProgramaFidelidade")'">
        @GlobalMessages.Voltar
    </button>
</div>

<div class="col-md-24 titulo" style="text-align:left">
    @GlobalMessages.MeusResgates
</div>

<div class="col-md-24 subtitulo" style="text-align:left; margin-bottom:80px;">
    @GlobalMessages.AcompanheVouchers
</div>

@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div class="col-md-24">
        <div class="col-md-10" style="display: inline-flex; color:white">
            <div class="form-check" style="margin-right: 20px;">
                <input class="form-check-input texto-novo" type="radio" name="Data" id="DataSolicitacao" value="true" checked>
                <label class="form-check-label texto-novo" for="DataSolicitacao">
                    @GlobalMessages.DataSolicitacao
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input texto-novo" type="radio" name="Data" id="DataLiberacao" value="false">
                <label class="form-check-label texto-novo" for="DataLiberacao">
                    @GlobalMessages.DataLiberacao
                </label>
            </div>
        </div>

        <div class="col-md-5" style="width: 203px;">
            <div class="input-group" style="padding-top: 3px;">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBoxFor(x => x.PeriodoDe, new {@class = "form-control form-data", datepicker = "datepicker", parent = "#form_filtro", onchange = "Europa.Controllers.MeusResgates.OnChangePeriodoAte()"})
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height:44px" onclick=" Europa.Components.DatePicker.ClosestInput(this) ">
                        <img src="~/Static/europa/css/icons/calendar.svg"/>
                    </button>
                </span>
            </div>
        </div>
        <div></div>
        <div class="col-md-5 col-md-offset-1" style="width: 203px;">
            <div class="input-group" style="padding-top: 3px;">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBoxFor(x => x.PeriodoAte, new {@class = "form-control form-data", datepicker = "datepicker", parent = "#form_filtro"})
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height:44px" onclick=" Europa.Components.DatePicker.ClosestInput(this) ">
                        <img src="~/Static/europa/css/icons/calendar.svg"/>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-1 hidden" style="margin-left:10px;">
            <a class="btn" title="Limpar Data" onclick="Europa.Controllers.MeusResgates.LimparData()">
                <i class="fa fa-eraser"></i>
            </a>
        </div>

        <div class="col-md-2" style="margin-left:22px;">
            <button type="button" title="Pesquisar" class="btn Pesquisar" onclick="Europa.Controllers.MeusResgates.Filtrar()">@GlobalMessages.Pesquisar</button>
        </div>
    </div>
}

<div class="col-md-24">
    <div ng-controller="ResgateDatatable as table">
        <div id="resgate_datatable_header">
            <div class="col-md-11 text-right" style="float: right;">
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina"))
                {
                    <button class="btn" type="button" onclick="Europa.Controllers.PosVenda.ExportarPagina()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarPagina
                    </button>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos"))
                {
                    <button class="btn" type="button" onclick="Europa.Controllers.PosVenda.ExportarTodos()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarTodos
                    </button>
                }
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table"
               dt-column-defs="table.dtColumnDefs">
        </table>
    </div>
</div>

<div class="col-md-24 -at-a-validade-do">
    @GlobalMessages.AteValidadeVoucher
</div>

@Html.HiddenFor(x => x.Voucher)