@using System;
@using Europa.Resources
@using Europa.Resources
@using Tenda.EmpresaVenda.Portal.Models.Application
@model Tenda.EmpresaVenda.Portal.Models.ProgramaFidelidadeDTO

@{
    ViewBag.Codigo = "EVS20";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

@{
    var maximo = Model.PontuacaoDisponivel.ToString();
    var ponto = Model.PontuacaoDisponivel == 1 ? "Ponto" : "Pontos";
    var restante = Model.PontuacaoDisponivel == 1 ? "Restante" : "Restantes";
}

<link href="~/Static/projeto/programa-fidelidade/programa-fidelidade.css" rel="stylesheet"/>

<script type="text/javascript" src="~/Static/projeto/programa-fidelidade/index-programa-fidelidade.js"></script>
<script type="text/javascript" src="~/Static/projeto/programa-fidelidade/resgate-programa-fidelidade.js"></script>

<script>
    Europa.Controllers.ResgateProgramaFidelidade.PontosDisponiveis = @Model.PontuacaoDisponivel;

    Europa.Controllers.ResgateProgramaFidelidade.Url = {
        SolicitarResgate: '@Url.Action("SolicitarResgate", "ProgramaFidelidade")',
        Index:'@Url.Action("Index", "ProgramaFidelidade")'
    };
</script>

<div id="titlebar-name">
    <span class="Programa-de-fidelida">@ViewBag.Title.ToUpper()</span>
</div>
<div id="titlebar-buttons">
    <button class="btn  btn-fidelidade"
            type="button"
            onClick="location.href='@Url.Action("Index", "ProgramaFidelidade")'">
        @GlobalMessages.Voltar
    </button>

    <button class="btn  btn-fidelidade"
            type="button"
            onClick="location.href='@Url.Action("ComoFunciona", "ProgramaFidelidade")'">
        @GlobalMessages.ComoFunciona
    </button>
</div>

<div class="col-md-24 titulo" s style="margin-bottom:56px">
    @GlobalMessages.ResgatePontos
</div>

<div class="col-md-24 subtitulo" style="margin-bottom:80px">
    @GlobalMessages.MsgEscolhaPontosResgatar
</div>

<div class="col-md-24" style="margin-bottom:56px;text-align: -webkit-center;">
    <div class="col-md-24 card-pontos" style="padding-left: 10px;">
        <div class="Rectangle">
            <div class="col-md-24" style="margin-bottom:16px;">
                <img src="~/Static/europa/css/icons/fidel-icon-3.svg"
                     class="fidel-icon">
            </div>
            <div class="col-md-24 -pontos">@Convert.ToInt32(Model.PontuacaoDisponivel)</div>
            <div class="col-md-24 pon">@ponto.ToLower()</div>
            <div class="col-md-24 restantes" style="margin-top: 34px;">@restante.ToLower()</div>
        </div>
    </div>
    <div class="col-md-12 hidden info-resgate" style="text-align: center;display:block;padding-left:112px">
        <div class="voce-selecionou" style="margin-top:73px;">
            @GlobalMessages.VoceSelecionou
        </div>
        <div class="voce-selecionou text-style-1 pontos">
            0 @GlobalMessages.Pontos
        </div>
        <div style="margin-top:32px;width: 230px;">
            <button type="button" class="btn-resgatar" onclick="Europa.Controllers.ResgateProgramaFidelidade.ResgatarPontos()">@GlobalMessages.Resgatar</button>
        </div>
    </div>
</div>

<div class="col-md-24" style="padding-left:157px;padding-right:157px;margin-bottom:99px">
    <div class="col-md-20 deslize-para-escolhe" style="padding-top: 20px;">
        @GlobalMessages.MsgDeslizePontos
    </div>
    <div class="col-md-4 pull-right">
        @Html.TextBox("pontosDesejados", "", new {@class = "form-control pontos-solicitados", placeholder = GlobalMessages.Digite, oninput = "Europa.Controllers.ResgateProgramaFidelidade.OnInput('#pontosDesejados','#myRange')"})
    </div>
</div>

<div class="col-md-24" style="padding-left:157px;padding-right:157px;">
    <div class="slidecontainer">
        <input type="range" min="0" max="0" value="0" step="1" class="slider" id="myRange" oninput="Europa.Controllers.ResgateProgramaFidelidade.OnInput('#myRange','#pontosDesejados')">
        <div class="col-md-1 MinMax pull-left">@GlobalMessages.Min</div>
        <div class="col-md-1 MinMax pull-right">@GlobalMessages.Max</div>
    </div>
</div>

<div class=" col-md-24" style="margin-top:120px;margin-bottom: 33px;">
    <img class="banner" src="@Model.LinkBanner"/>
</div>

@{
    Html.RenderPartial("_ModalInformacao");
}