@model Tenda.EmpresaVenda.ApiService.Models.Cliente.ClienteDto

@{
    ViewBag.Codigo = "EVS05";
}
<form id="form_cliente">
    <div class="col-md-24">
        <fieldset id="fieldset_formulario" disabled="disabled">
            <div class="col-md-24" id="tabLead">
                <div>
                    <br />
                    <div class="geenFieldSet">
                        <div class="panel-heading">
                            <div>
                                <h3 class="panel-title pull-left">Informações do Lead</h3>
                                <div class="pull-right">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.Label("Nome do Lead", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.InformacoesGeraisDto.NomeLead, new { @class = "form-control form-control-sm", maxlength = 128, disabled = "disabled" })
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.Label("Telefone do Lead", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.InformacoesGeraisDto.TelefoneLead, new { @class = "form-control form-control-sm", maxlength = 128, disabled = "disabled" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(x => x.AgenteVendaDto.IdLoja)
            <div class="col-md-24" id="tabGeralContent">
                @{
                    Html.RenderPartial("_Geral", Model);
                }
            </div>
            <div class="col-md-24" id="tabEnderecoContent">
                @{
                    Html.RenderPartial("_Endereco", Model);
                }
            </div>
            <div class="col-md-24" id="tabDadoPessoalContent">
                @{
                    Html.RenderPartial("_DadosPessoais", Model);
                }
            </div>
            <div class="col-md-24" id="tabEmpresaContent">
                @{
                    Html.RenderPartial("_EmpresaOndeTrabalha", Model);
                }
            </div>
            <div class="col-md-24" id="tabDadoFinanceiroContent">
                @{
                    Html.RenderPartial("_DadosFinanceiros", Model);
                }
            </div>
            <div class="col-md-24" id="tabReferenciaContent">
                @{
                    Html.RenderPartial("_Referencias", Model);
                }
            </div>


            @{
                Html.RenderPartial("_ModalIntegracaoConecta", Model);
            }

            @{
                Html.RenderAction("_MensagemConecta","Conecta");
            }

        </fieldset>
    </div>
</form>