@using Europa.Extensions
@using Europa.Resources
@using Tenda.EmpresaVenda.PortalHouse.Models.Application
@model Tenda.EmpresaVenda.ApiService.Models.Cliente.ClienteDto

@{
    ViewBag.Codigo = "EVS05";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/cliente/cliente.js"></script>

<script>
    // URLs
    Europa.Controllers.Cliente.UrlBuscarCliente = '@Url.Action("BuscarDadosCliente", "PreProposta")';
    Europa.Controllers.Cliente.UrlIndex = '@Url.Action("Index", "Cliente")';
    Europa.Controllers.Cliente.UrlIncluirCliente = '@Url.Action("Incluir", "Cliente")';
    Europa.Controllers.Cliente.UrlAtualizarCliente = '@Url.Action("Atualizar", "Cliente")';
    Europa.Controllers.Cliente.UrlValidarDadosVenda = '@Url.Action("ValidarDadosVenda", "Cliente")';
    Europa.Controllers.Cliente.UrlValidarDadosIntegracao = '@Url.Action("ValidarDadosIntegracao", "Cliente")';
</script>
<div class="container-fluid p-4">
    <div id="titlebar-buttons" class="container-fluid pt-4 px-4 pb-0">
        <div class="d-flex justify-content-end" style="display: inline-flex">
            <div id="div_buttons_visualizacao">

                @*<button id="btn_conecta" class="button__red__outline px-5 mx-2" type="button" onClick="Europa.Controllers.Cliente.AbrirModalMensagemConecta()">
                    <i class="fa fa-search"></i> @GlobalMessages.Conecta
                </button>*@

                @if(SessionAttributes.Current().HasPermission(ViewBag.Codigo, "MatrizOferta"))
                {
                    <button id="btn_matriz_oferta" class="button__red__outline px-5 mx-2 @(Model.IdCliente > 0 ? "" : "oculto")" type="submit" onclick="Europa.Controllers.Simulador.AbrirMatrizOfertaCliente()">
                        Matriz de Oferta
                    </button>
                }
                <button id="btn_buscar" class="button__red__outline px-5 mx-2" type="button" onClick="Europa.Components.ClienteModal.AbrirModal(Europa.Controllers.Cliente.SelectCliente)">
                    <i class="fa fa-search"></i> @GlobalMessages.Buscar
                </button>

                <button id="btn_novo" class="button__red__outline px-5 mx-2" type="button" onClick="Europa.Controllers.Cliente.Novo()">
                    <i class="fa fa-plus"></i> @GlobalMessages.Novo
                </button>   

                <button id="btn_editar" class="button__red__outline px-5 mx-2 @(Model.IdCliente > 0 ? "" : "oculto")" type="button" onclick="Europa.Controllers.Cliente.Editar()">
                    <i class="fa fa-pencil"></i> @GlobalMessages.Editar
                </button>
            </div>
            <div id="div_buttons_edicao" style="display: none">
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VincularLead") && Model.IdCliente > 0)
                {
                    <button id="btn_vincular_cliente_lead" class="button__red__outline px-5 mx-2" type="button" onclick="Europa.Controllers.Cliente.VincularLead()">
                        <i class="fa fa-floppy-o"></i> Vincular Lead
                    </button>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VincularLead"))
                {
                    <button id="btn_salvar_cliente_lead" hidden="true" class="button__red__outline px-5 mx-2" type="button" onclick="Europa.Controllers.Cliente.VincularLead()">
                        <i class="fa fa-floppy-o"></i> @GlobalMessages.Salvar
                    </button>
                }
                <button id="btn_salvar_cliente" class="button__red__outline px-5 mx-2" hidden="true" type="button" onclick="Europa.Controllers.Cliente.Salvar(false)">
                    <i class="fa fa-floppy-o"></i> @GlobalMessages.Salvar
                </button>

                <button class="button__red__outline px-5 mx-2" type="button" onclick="Europa.Controllers.Cliente.DesabilitarEdicao()">
                    <i class="fa fa-ban"></i> @GlobalMessages.Desistir
                </button>
            </div>

            <button style="display: none; margin-left: 3px" id="btn_validar" class="button__red__outline px-3 mx-2" type="button" onclick="Europa.Controllers.Cliente.ValidarDadosIntegracao()">
                <i class="fa fa-check"></i> @GlobalMessages.ValidarDadosIntegracao
            </button>

        </div>
    </div>


<div id="div_conteudo">
    @{
        Html.RenderPartial("_Conteudo", Model);
    }
</div>

</div>
@{
    Html.RenderPartial("_ModalBuscaCliente");
    Html.RenderPartial("_ModalCadastrarProposta");
}
