@using Europa.Resources
@using Tenda.Domain.Core.Enums
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Extensions
@model Tenda.EmpresaVenda.Domain.Repository.Models.PontuacaoFidelidadeDTO

<form>
    <div class="col-md-24">
        <div class="col-md-3 form-group">
            @Html.Label(GlobalMessages.Regional)
            @Html.DropDownList("FiltroRegional", new SelectList(EstadosSelectList.ValuesWithEmpty, "Value", "Text"), new { @class = "form-control", })
        </div>
        <div class="col-md-3 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.Descricao)
            @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control" })
        </div>
        <div class="col-md-3 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.Codigo)
            @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control" })
        </div>
        <div class="col-md-5 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.EmpresaVenda)
            <select id="autocomplete_empresa_venda" class="form-control"></select>
        </div>
        <div class="col-md-6 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.Empreendimento)
            <select id="autocomplete_empreendimento" class="form-control" multiple="multiple"></select>
        </div>
    </div>
    <div class="col-md-24">
        <div class="col-md-3 form-group">
            @Html.Label(GlobalMessages.VigenteEm)
            <div class="input-group">
                @Html.TextBoxFor(x => x.VigenteEm, new { @class = "form-control", datepicker = "datepicker" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.TipoPontuacaoFidelidade)
            @Html.EnumDropDownListFor(x => x.TipoPontuacaoFidelidade, new { @class = "form-control", id = "FiltroTipoPontuacaoFidelidade", onchange = "Europa.Controllers.PontuacaoFidelidade.OnChangeTipoPontuacaoFidelidadeFiltro()" })
        </div>
        <div class="col-md-5 form-group col-md-offset-1 filtro-campanha hidden">
            @Html.Label(GlobalMessages.TipoCampanhaFidelidade)
            @Html.EnumDropDownListFor(x => x.TipoCampanhaFidelidade, new { @class = "form-control", id = "FiltroTipoCampanhaFidelidade" })
        </div>
        <div class="col-md-6 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.Situacao)
            @Html.EnumDropDownListFor(x => x.Situacao, new { @class = "form-control" })
        </div>
        <div class="pull-right" style="margin-top:20px">
            <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.PontuacaoFidelidade.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
            <button class="btn btn-default" type="button" title="@GlobalMessages.Limpar" onClick="Europa.Controllers.PontuacaoFidelidade.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
        </div>
    </div>
</form>
