@using Europa.Resources
@using Tenda.EmpresaVenda.Domain.Commons
@using Tenda.Domain.EmpresaVenda.Enums

<style>

    #modalNovaPontuacaoFidelidade .empresa-venda-wrapper {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(133,166,176,0.42);
    }

    #modalNovaPontuacaoFidelidade #empresa_venda_treeview {
        max-height: 35vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #modalNovaPontuacaoFidelidade #empresa_venda_treeview .list-group {
        margin: 0;
        padding: 0;
    }

    #modalNovaPontuacaoFidelidade #empresa_venda_treeview li {
        padding: 8px 0 7px 0;
    }

    #modalNovaPontuacaoFidelidade .empreendimento-wrapper {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(133,166,176,0.42);
    }

    #modalNovaPontuacaoFidelidade #empreendimento_treeview {
        max-height: 35vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #modalNovaPontuacaoFidelidade #empreendimento_treeview .list-group {
        margin: 0;
        padding: 0;
    }

    #modalNovaPontuacaoFidelidade #empreendimento_treeview li {
        padding: 8px 0 7px 0;
    }
</style>

<div class="modal" id="modalNovaPontuacaoFidelidade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" onclick="Europa.Controllers.PontuacaoFidelidade.FecharNovaPontuacaoFidelidade()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalNovaPontuacaoFidelidade_titulo">@GlobalMessages.NovaPontuacaoFidelidade</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    @Html.Hidden("IdPontuacaoFidelidadeReferencia")
                    <div class="col-md-24">
                        @Html.Label(GlobalMessages.Regional)
                        @Html.DropDownList("Regional", RegionalHelper.RegionaisMatrizSelectListItem, new { @class = "select2-container form-control", onchange = "Europa.Controllers.PontuacaoFidelidade.OnRegionalChanged()" })
                    </div>
                    <div class="col-md-24">
                        @Html.Label(GlobalMessages.TipoPontuacaoFidelidade)
                        @Html.DropDownList("TipoPontuacaoFidelidade", EnumHelper.GetSelectList(typeof(TipoPontuacaoFidelidade)), new { @class = "form-control", onchange = "Europa.Controllers.PontuacaoFidelidade.OnChangeTipoPontuacaoFidelidade()" })
                    </div>
                    <div class="col-md-24 campanha hidden">
                        @Html.Label(GlobalMessages.TipoCampanhaFidelidade)
                        @Html.DropDownList("TipoCampanhaFidelidade", EnumHelper.GetSelectList(typeof(TipoCampanhaFidelidade)), new { @class = "form-control",onchange= "Europa.Controllers.PontuacaoFidelidade.OnChangeTipoCampanha()" })
                    </div>
                    <div class="col-md-2 progressao hidden">
                        @Html.Label("Qtd. Progressão")
                        @Html.DropDownList("progressao", Enumerable.Range(0, 6).Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }), new { @class = "form-control",onchange= "Europa.Controllers.PontuacaoFidelidade.OnChangeProgressao()" })
                    </div>
                    <div class="col-md-20 col-md-offset-1 hidden quantidade">
                        @Html.Label("Quantidade Mínima")
                        <div id="qtde_minima"></div>
                    </div>
                    @* EMPRESAS DE VENDA *@
                    <div class="col-md-24 empresa-venda-wrapper">
                        <div class="col-md-10">
                            @Html.Label(GlobalMessages.EmpresaVendas)
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="Europa.Controllers.PontuacaoFidelidade.MarcarTodasEvs()">
                                @GlobalMessages.MarcarTodos
                            </button>
                            <button type="button" class="btn btn-default" onclick="Europa.Controllers.PontuacaoFidelidade.DesmarcarTodasEvs()">
                                @GlobalMessages.DesmarcarTodos
                            </button>
                        </div>
                        <div class="col-md-24" id="empresa_venda_treeview"></div>
                    </div>

                    @* EMPREENDIMENTOS *@
                    <div class="col-md-24 empreendimento-wrapper">
                        <div class="col-md-10">
                            @Html.Label(GlobalMessages.Empreendimentos)
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="Europa.Controllers.PontuacaoFidelidade.MarcarTodosEmpreendimentos()">
                                @GlobalMessages.MarcarTodos
                            </button>
                            <button type="button" class="btn btn-default" onclick="Europa.Controllers.PontuacaoFidelidade.DesmarcarTodosEmpreendimentos()">
                                @GlobalMessages.DesmarcarTodos
                            </button>
                        </div>
                        <div class="col-md-24" id="empreendimento_treeview"></div>
                    </div>
                    <div id="opcao_buscar_ultima_wrapper" class="col-md-24" style="padding-top: 8px;">
                        <label class="col-md-24">
                            @Html.RadioButton("BuscarUltimaAtt", false, new { @checked = true }) @GlobalMessages.CriarEmBranco
                        </label>
                        <label class="col-md-24">
                            @Html.RadioButton("BuscarUltimaAtt", true) Utilizar a tabela normal mais recente ativa para cada empreendimento como base
                        </label>
                    </div>
                </div>
            </div>

            <!-- #region footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Europa.Controllers.PontuacaoFidelidade.Confirmar()">
                    <i class="fa fa-check"></i> @GlobalMessages.Confirmar
                </button>
                <button type="button" class="btn btn-default" onclick=" Europa.Controllers.PontuacaoFidelidade.FecharNovaPontuacaoFidelidade() ">
                    <i class="fa fa-ban"></i> @GlobalMessages.Cancelar
                </button>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>
