@using Europa.Resources
@using Tenda.Domain.Core.Enums

<script type="text/javascript" src="~/Static/projeto/pontuacao-fidelidade/modal-download-pdf.js"></script>

<script>
    Europa.Controllers.ModalDownloadPdfPontuacaoFidelidade.Url = {
        ListarEmpresasVendas: '@Url.Action("ListarEmpresaVendasPontuacaoFidelidade", "PontuacaoFidelidade")',
        DownloadPdfPontuacaoFidelidade: '@Url.Action("DownloadPdfPontuacaoFidelidade", "PontuacaoFidelidade")',
        DownloadPdfPontuacaoFidelidadeEvs: '@Url.Action("DownloadPdfPontuacaoFidelidadeEvs", "PontuacaoFidelidade")'
    };
</script>

<style>
</style>

<div class="modal" id="modalDownloadPdfPontuacaoFidelidade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" onclick="Europa.Controllers.ModalDownloadPdfPontuacaoFidelidade.Fechar()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalNovaModalDownloadPdfPontuacaoFidelidade_titulo">@GlobalMessages.Download @GlobalMessages.PDF</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-24">
                        @Html.Label(GlobalMessages.EmpresaVendas)
                        <select id="empresa_vendas_select" class="form-control"></select>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
            <!-- #region footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Europa.Controllers.ModalDownloadPdfPontuacaoFidelidade.Confirmar()">
                    <i class="fa fa-check"></i> @GlobalMessages.Download
                </button>
                <button type="button" class="btn btn-default" onclick="Europa.Controllers.ModalDownloadPdfPontuacaoFidelidade.Fechar() ">
                    <i class="fa fa-ban"></i> @GlobalMessages.Cancelar
                </button>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>
