@using Europa.Resources
@using Europa.Extensions;
@using Tenda.EmpresaVenda.PortalHouse.Models.Application

@{ 
    var perfis = string.Empty;

    if (SessionAttributes.Current().UsuarioPortal.Perfis.HasValue())
    {
        perfis = String.Join(", ", SessionAttributes.Current().UsuarioPortal.Perfis.Select(x => x.Nome));
    }
}

<script>
    $(function () {
        $("#icon-user").click(function () {
            $("#popup-div").toggleClass("oculto");
        });

        $(document).mouseup(function(e) {
            var container = $("#popup-div");
            var icon = $(".c-pointer");

            if (!container.is(e.target) && container.has(e.target).length === 0 && !icon.is(e.target) && !container.hasClass("oculto")) 
            {
                container.addClass("oculto");
            }
        });
    })
</script>

<div class="layout-header">
    <div>
        <img class="open-side-menu c-pointer mr-5" src="~/Static/svg/menu-hamburguer.svg" onclick="Europa.Components.SideMenu.OpenNav()"/>
        <a class="button__white__outline px-4 mr-4" href="@Url.Content("~/PreProposta")">@GlobalMessages.CadastrarPreProposta</a>
        <a class="button__white__outline px-4 mr-4" href="@Url.Content("~/Cliente")">@GlobalMessages.CadastrarCliente</a>
    </div>
    <div>
        <div class="popup">
            <img class="c-pointer" src="~/Static/svg/icon-bell.svg" />
            @if (SessionAttributes.Current().UsuarioPortal.IdLoja.HasValue())
            {
            <span class="px-4">@SessionAttributes.Current().UsuarioPortal.NomeLoja.ToUpper() &ensp; (@SessionAttributes.Current().UsuarioPortal.EstadoLoja.ToUpper())</span>
            }
            <span type='button' class='btnRedOutline dropdown-toggle btnDropDown' title="@GlobalMessages.Opcoes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                
            </span>
            <ul class="dropdown-menu">
                @foreach (var house in SessionAttributes.Current().UsuarioPortal.Lojas)
                {
                <li><a href="#" class="dropdown-item" onclick="Europa.Controllers.HierarquiaHouse.OnChangeLoja(@house.Id)">@house.Nome (@house.Estado)</a></li>
                }
            </ul>

            <span>|</span>
            <span class="px-4">@SessionAttributes.Current().UsuarioPortal.Nome</span>
            <img id="icon-user" class="c-pointer" src="~/Static/svg/icon-user.svg" />
            <div id="popup-div" class="oculto">
                <div id="popup-content">
                    <label><b>Login: @SessionAttributes.Current().UsuarioPortal.Login</b></label>
                    @if (SessionAttributes.Current().UsuarioPortal.IdLoja.HasValue())
                    {
                    <label><b>Loja: </b>@SessionAttributes.Current().UsuarioPortal.NomeLoja.ToUpper()</label>
                    }
                    <label><b>Perfis: </b>@perfis</label>
                    <label><b>Acesso Atual: </b> #@SessionAttributes.Current().UsuarioPortal.IdAcesso</label>
                    <label><b>Início Acesso: </b> @SessionAttributes.Current().UsuarioPortal.InicioAcesso</label>
                    <a class="btn button__gradient" href="#" onclick="document.getElementById('logout').submit();">Sair</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-image">
    <div class="py-1">
        @if (@ViewBag.PageTitle == null)
        {
            ViewBag.PageTitle = @ViewBag.Title.ToUpper();
        }
        @ViewBag.PageTitle
    </div>
</div>

@{
    if (SessionAttributes.Current().IsValidSession())
    {
        using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { role = "form", id = "logout" })) { }
    }
}