@using Tenda.EmpresaVenda.PortalHouse.Models.Application
<!DOCTYPE html>
<html ng-app="europaApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @{
            if (ViewBag.Title == null)
            {
                //ViewBag.Title = ApplicationInfo.NomeSistema();
                ViewBag.Title = "Portal Loja";
            }
            @ViewBag.Title;
        }
    </title>
    <link rel="shortcut icon" href="~/Static/svg/icon-tenda.svg" />

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/bootstrap-daterangepicker")
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/select2")
    @Styles.Render("~/css/angular-datatable")
    @Styles.Render("~/css/slick-carousel")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap-daterangepicker")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-datatable")
    @Scripts.Render("~/bundles/slick-carousel")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/europa")

    <link rel="stylesheet" href="~/Static/css/font-face.css" />
    <link rel="stylesheet" href="~/Static/css/main.css" />
    <link rel="stylesheet" href="~/Static/css/europa-input.css" />

    <script src="~/Static/js/main.js"></script>
    <script src="~/Static/europa/dynamic/europa-messages-enuns.js"></script>
    <script src="~/Static/europa/dynamic/europa-messages.js"></script>
    <script src="~/Static/projeto/side-menu.js"></script>

    <script type="text/javascript" src="~/Static/projeto/hierarquia-house/index-hierarquia-house.js"></script>
    <script>
        Europa.Controllers.HierarquiaHouse.UrlSelecionarLoja = '@Url.Action("SelecionarLoja","HierarquiaHouse")';
        Europa.Controllers.HierarquiaHouse.UrlIndexHome = '@Url.Action("Index","Home")';
    </script>

</head>
<body>
    @{
        Html.RenderPartial("_AutoCompleteAction");
        Html.RenderPartial("_Dialogo");
        Html.RenderPartial("_DetailAction");
        Html.RenderPartial("_SideMenu");
        Html.RenderPartial("_DialogoSimulador");
        Html.RenderPartial("_DialogoConecta");

    }
    <script src="~/Static/projeto/autocomplete-declaration.js"></script>
    <div id="not-side-menu" class="not-side-menu">
        @{
            Html.RenderPartial("_Header");
        }
        <div id="body-container" class="main">
            @RenderBody()
        </div>
        @{
            Html.RenderPartial("_Footer");
        }
    </div>
</body>
</html>
