@using Tenda.EmpresaVenda.PortalHouse.Models.Application

<div id="side-menu" class="sidenav">
    <div style="background-color: #DADEE3;" ;>
        <img src="~/Static/svg/icon-close-sidenav.svg" class="close-sidenav" height="17" onclick="Europa.Components.SideMenu.CloseNav();" />
        <a href="@Url.Content("~/Home")"> <img src="~/Static/svg/icon-tenda-side.svg" style="height:120px;width: 100px;" /></a>
    </div>
    <div class="vector-div">
        <img src="~/Static/svg/icon-vector.svg" class="mb-3 vector" />
    </div>
    <a href="javascript:Europa.Controllers.Conecta.AbrirKanban();Europa.Components.SideMenu.CloseNav();" class="">
        <img src="~/Static/svg/icon-menu-side-conecta.svg" style="fill:#FFF !important;" class="mb-3" /> <br />
        <label>Conecta</label>
    </a>
    <div class="vector-div">
        <img src="~/Static/svg/icon-vector.svg" class="mb-3 vector" />
    </div>
    @if (SessionAttributes.Current().HasPermission("EVS05", "Visualizar"))
    {
        <a href="@Url.Content("~/Cliente")">
            <img src="~/Static/svg/icon-menu-side-Clientes.svg" class="mb-3" /> <br />
            <label>Clientes</label>
        </a>
    }
    <div class="vector-div">
        <img src="~/Static/svg/icon-vector.svg" class="mb-3 vector" />
    </div>
    @if (SessionAttributes.Current().HasPermission("EVS11", "Visualizar"))
    {
        <a href="@Url.Content("~/KanbanPreProposta")">
            <img src="~/Static/svg/icon-menu-side-Kanban-pre-proposta.svg" class="mb-3" /> <br />
            <label>Kanban Pré-Proposta</label>
        </a>
    }
    <div class="vector-div">
        <img src="~/Static/svg/icon-vector.svg" class="mb-3 vector" />
    </div>
    @if (SessionAttributes.Current().HasPermission("EVS10", "Visualizar"))
    {
        <a href="@Url.Content("~/PreProposta")">
            <img  src="~/Static/svg/icon-menu-side-Pre-Proposta.svg" class="mb-3" /> <br />
            <label>Pré-Proposta</label>
        </a>
    }
    <div class="vector-div">
        <img src="~/Static/svg/icon-vector.svg" class="mb-3 vector" />
    </div>
    @if (SessionAttributes.Current().HasPermission("EVS07", "Visualizar"))
    {
    <a href="@Url.Content("~/Produto")">
        <img style="height: 80px;" src="~/Static/svg/icon-menu-side-Produtos.svg" class="mb-3" /> <br />
        <label>Produtos</label>
    </a>
    }
</div>

