@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources
@using Tenda.EmpresaVenda.ApiService.Models.HierarquiaHouse

@model HierarquiaHouseDto

@{
    ViewBag.Codigo = "GEC19";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/hierarquia-house/index-hierarquia-house.js"></script>
<link href="~/Static/projeto/hierarquia-house/hierarquia-house.css" rel="stylesheet" />

<script>
    Europa.Controllers.HierarquiaHouse.Permissoes = {
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir")'=='True',
        Atualizar:'@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar")'=='True'
    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

@Html.HiddenFor(x=>x.IdCoordenadorHouse)
@Html.HiddenFor(x=>x.NomeCoordenadorHouse)

@Html.HiddenFor(x=>x.IdSupervisorHouse)

@Html.HiddenFor(x=>x.IsSuperiorHouse)

<div class="col-md-6">
    <label>@GlobalMessages.Coordenador</label>
    <select id="autocomplete_coordenador_house" name="autocomplete_coordenador_house" class="select2-container form-control " onchange="Europa.Controllers.HierarquiaHouse.FiltrarDatatableSupervisorHouse()"></select>
</div>

<div class="tabs-container col-md-24">

    <input type="radio" name="tabs" class="tabs" id="tab1" checked>
    <label for="tab1">@GlobalMessages.Cadastro</label>
    <div style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    ">
        <div class="col-md-11">
            @if (true)
            {
                Html.RenderPartial("_DatatableSupervisorHouse");
            }
        </div>

        <div class="col-md-12 col-md-offset-1">
            @if (true)
            {
                Html.RenderPartial("_DatatableAgenteVendaHouse");
            }
        </div>
    </div>

    <input type="radio" name="tabs" class="tabs" id="tab2" onclick="Europa.Controllers.HierarquiaHouse.FiltrarDatatableHierarquiaHouse()">
    <label for="tab2">@GlobalMessages.Hierarquia</label>
    <div style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    ">
        <div class="col-md-24">
            @if (true)
            {
                Html.RenderPartial("_DatatableHierarquiaHouse");
            }
        </div>
    </div>

</div>
