@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.Core.Enums;
@using Europa.Resources

<div class="col-md-24">
    <form id="form_filtro_empresa_venda">
        <div class="col-md-24">
            <div class="col-md-20">
                <div class="col-md-6">
                    @Html.Label(GlobalMessages.EmpresaVendas)
                    @Html.TextBox("filtro_empresa_venda", "", new { @class = "form-control", maxlength = 128 })
                </div>
                <div class="col-md-4 col-md-offset-1">
                    @Html.Label(GlobalMessages.Cnpj)
                    @Html.TextBox("filtro_cnpj", "", new { @class = "form-control", maxlength = 20 })
                </div>
                <div class="col-md-4 col-md-offset-1">
                    @Html.Label(GlobalMessages.Creci)
                    @Html.TextBox("filtro_creci", "", new { @class = "form-control", maxlength = 20 })
                </div>
                <div class="col-md-4 col-md-offset-1">
                    @Html.Label(GlobalMessages.Situacao)
                    @Html.DropDownList("filtro_situacoes", EnumHelper.GetSelectList(typeof(Situacao)), new { @class = "form-control", multiple = "multiple" })
                </div>
            </div>
            <div class="pull-right col-md-3 col-md-offset-1" style="margin-top: 22px">
                <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.EmpresaVenda.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
                <button type="button" title="@GlobalMessages.Limpar" class="btn btn-default" onClick="Europa.Controllers.EmpresaVenda.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
            </div>
            <div class="col-md-24">
                <div class="col-md-20">
                    <div class="col-md-6">
                        @Html.Label(GlobalMessages.Estado)
                        @Html.DropDownList("filtro_estados", new SelectList(EstadosSelectList.ValuesWithEmpty, "Value", "Text"), new { @class = "form-control", multiple = "multiple" })
                    </div>
                    <div class="col-md-9 col-md-offset-1">
                        @Html.Label(GlobalMessages.Regional)
                        <select id="autocomplete_regionais" name="autocomplete_regionais" class="select2-container form-control" multiple="multiple"></select>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div ng-controller="listaEmpresas as table">
        <div id="datatable_header" class="col-md-24">
            <div class="col-md-6" style="margin-top:5px">
                @Html.Label(@GlobalMessages.EmpresaVendas)
            </div>
            <div class="pull-right">
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina"))
                {
                    <button type="button" title="@GlobalMessages.ExportarPagina" class="btn btn-default" onclick="Europa.Controllers.EmpresaVenda.ExportarPagina()">
                        <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarPagina
                    </button>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos"))
                {
                    <button type="button" title="@GlobalMessages.ExportarTodos" class="btn btn-default" onclick="Europa.Controllers.EmpresaVenda.ExportarTodos()">
                        <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarTodos
                    </button>
                }
                <button class='btn btn-default dropdown-toggle' title="@GlobalMessages.Opcoes" type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class='fa fa-bars' aria-hidden='true'></i> @GlobalMessages.Opcoes
                </button>
                <ul class="dropdown-menu pull-right">
                    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Reativar"))
                    {
                        <li><a href="#" title="@GlobalMessages.Reativar" ng-click='reativarItens()'>@GlobalMessages.Reativar</a></li>
                    }
                    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Suspender"))
                    {
                        <li><a href="#" title="@GlobalMessages.Suspender" ng-click='suspenderItens()'>@GlobalMessages.Suspender</a></li>
                    }
                    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar"))
                    {
                        <li role="separator" class="divider"></li>
                        <li><a href="#" title="@GlobalMessages.Cancelar" ng-click='cancelarItens()'>@GlobalMessages.Cancelar</a></li>
                    }
                </ul>  
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>

<form id="Exportar"></form>