@using Europa.Resources
@model Tenda.Domain.EmpresaVenda.Models.EmpresaVenda

@{
    ViewBag.Title = GlobalMessages.UploadFoto;
}
<div class="modal" id="modal_upload_foto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 540px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Europa.Controllers.EmpresaVenda.Modal.CloseModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.UploadFoto</h4>
            </div>
            <div class="modal-body">
                <form id="form_upload_foto">
                    @Html.HiddenFor(x => x.Id)
                    <div class="col-md-24">
                        @Html.Label(GlobalMessages.EnvioDeArquivo + " *", new { @class = "control-label", style = "overflow: hidden;" })
                        <input name="Arquivo" id="Arquivo" type="file" class="control-label" accept="image/*" style="width: 100%;">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Europa.Controllers.EmpresaVenda.Modal.UploadFoto()"><i class="fa fa-save" aria-hidden="true"></i> @GlobalMessages.Salvar</button>
                <button type="button" class="btn btn-default" onclick="Europa.Controllers.EmpresaVenda.Modal.CloseModal()"><i class="fa fa-close" aria-hidden="true"></i> @GlobalMessages.Fechar</button>
            </div>
        </div>
    </div>
</div>
