@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.Domain.Core.Enums

@{
    ViewBag.Codigo = "PAG07";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}
<link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Static/projeto/recebimento-nota-fiscal/historico-nota-fiscal.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>

<script src="~/Static/projeto/recebimento-nota-fiscal/recebimento-nota-fiscal.js"></script>
<script src="~/Static/projeto/recebimento-nota-fiscal/historico-nota-fiscal.js"></script>


<script>
    Europa.Controllers.RecebimentoNF.UrlListar = '@Url.Action("Listar","RecebimentoNotaFiscal")';
    Europa.Controllers.RecebimentoNF.UrlDownload = '@Url.Action("DownloadArquivo","RecebimentoNotaFiscal")'
    Europa.Controllers.RecebimentoNF.UrlMudarSituacao = '@Url.Action("MudarSituacao","RecebimentoNotaFiscal")';
    Europa.Controllers.RecebimentoNF.UrlDownloadSelecionados = '@Url.Action("BaixarTodosDocumentos", "RecebimentoNotaFiscal")';
    Europa.Controllers.RecebimentoNF.UrlHistoricoNotaFiscal = '@Url.Action("HistoricoNotaFiscal", "RecebimentoNotaFiscal")';
    Europa.Controllers.RecebimentoNF.UrlExportarTodos = '@Url.Action("ExportarTodos","RecebimentoNotaFiscal")';
    Europa.Controllers.RecebimentoNF.UrlExportarPagina = '@Url.Action("ExportarPagina","RecebimentoNotaFiscal")';
    Europa.Controllers.RecebimentoNF.UrlAtualizarNumeroNF = '@Url.Action("AtualizarNumeroNF", "RecebimentoNotaFiscal")';

    Europa.Controllers.RecebimentoNF.UrlExibirNotaFiscal = '@Url.Action("ExibirNotaFiscal", "RecebimentoNotaFiscal")';
    Europa.Controllers.RecebimentoNF.UrlDownloadPdf = '@Url.Action("DownloadPdf", "RecebimentoNotaFiscal")';

    Europa.Controllers.RecebimentoNF.Permissoes = {
        Receber: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Receber").ToString().ToLower()',
        Aprovar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo,"Aprovar").ToString().ToLower()',
        ReprovarPosAprovado: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ReprovarPosAprovado").ToString().ToLower()',
        AtualizarNumeroNF: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AtualizarNumeroNF").ToString().ToLower()'
    };
</script>
<style>
    table.dataTable tbody tr .row-details {
        background-color: #eff7fd;
    }

    td .btn-default {
        width: 170px;
    }
</style>

<div id="titlebar-name">
    @ViewBag.Title
</div>

<div class="col-md-24">
    <div class="col-md-7">
        <div class="col-md-12">
            @Html.Label(GlobalMessages.DataComissao)
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBox("data_inicio", "", new { @class = "form-control filtro", datepicker = "datepicker", @style = "height: 30px;" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)" style="height: 30px;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-1">
            @Html.Label(GlobalMessages.Periodo, new { style = "visibility:hidden" })
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBox("data_termino", "", new { @class = "form-control filtro", datepicker = "datepicker", @style = "height: 30px;" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)" style="height:30px;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5 form-group  col-md-offset-1">
        @Html.Label(GlobalMessages.EmpresaVenda)
        <select id="autocomplete_empresa_venda" name="autocomplete_empresa_venda" class="select2-container form-control" multiple="multiple"></select>
    </div>
    <div class="col-md-4 col-md-offset-1">
        @Html.Label(GlobalMessages.UF)
        @Html.DropDownList("estado", new SelectList(EstadosSelectList.ValuesWithEmpty, "Value", "Text"), new { @class = "form-control", multiple = "multiple" })
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Regional)
        <select id="autocomplete_regionais" name="autocomplete_regionais" class="select2-container form-control" multiple="multiple"></select>
    </div>
</div>

<div class="col-md-24">
    <div class="col-md-7">
        <div class="col-md-12">
            @Html.Label(GlobalMessages.DataPrevisaoPagamento)
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBox("data_previsao_pagamento_inicio", "", new { @class = "form-control filtro", datepicker = "datepicker", @style = "height: 30px;" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)" style="height: 30px;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-1">
            @Html.Label(GlobalMessages.Periodo, new { style = "visibility:hidden" })
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBox("data_previsao_pagamento_termino", "", new { @class = "form-control filtro", datepicker = "datepicker", @style = "height: 30px;" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)" style="height:30px;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        @Html.Label(GlobalMessages.Situacao)
        @Html.DropDownList("situacao_nota_fiscal", EnumHelper.GetSelectList(typeof(SituacaoNotaFiscal)), new { @class = "form-control ", multiple = "multiple" })
    </div>
    <div class="col-md-4 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.NumeroPedido)
        @Html.TextBox("numero_pedido", "", new { @class = "form-control" })
    </div>
    <div class="col-md-5 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.NumeroNotaFiscalP)
        @Html.TextBox("numero_nf", "", new { @class = "form-control" })
    </div>
    <div class="pull-right" style="padding-top:12px;">
        <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.RecebimentoNF.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
        <button type="button" title="@GlobalMessages.Limpar" class="btn btn-default" onClick="Europa.Controllers.RecebimentoNF.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
    </div>
</div>

<div class="col-md-24">
    <div ng-controller="RecebimentoNFDatatable as table">
        <div id="nf_datatable_header">
            <div class="col-md-12 form-group">
                <h5 style="margin-top:6px;margin-bottom:0px;">@ViewBag.Title</h5>
            </div>
            <div class="pull-right">
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AtualizarNumeroNF"))
                {
                    <button class="btn btn-default" title="@GlobalMessages.Historico @GlobalMessages.NotaFiscal" type="button" onclick="Europa.Controllers.RecebimentoNF.AbrirModalAtualizarNumeroNF()">
                        @GlobalMessages.Numero @GlobalMessages.NotaFiscal
                    </button>
                }
                <button class="btn btn-default" title="@GlobalMessages.Historico @GlobalMessages.NotaFiscal" type="button" onclick="Europa.Controllers.RecebimentoNF.AbrirModalHistorico()">
                    <i class="fa fa-history" aria-hidden="true"></i> @GlobalMessages.Historico @GlobalMessages.NotaFiscal
                </button>
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "DownloadArquivo"))
                {
                    <button class="btn btn-default" type="button" onclick="Europa.Controllers.RecebimentoNF.DownloadEmGrupo()"><i class="fa fa-download" aria-hidden="true"></i> @GlobalMessages.Download Notas Fiscais</button>

                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina"))
                {
                    <button class="btn btn-default" title="@GlobalMessages.ExportarPagina" type="button" onclick="Europa.Controllers.RecebimentoNF.ExportarPagina()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarPagina
                    </button>

                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos"))
                {
                    <button class="btn btn-default" title="@GlobalMessages.ExportarTodos" type="button" onclick="Europa.Controllers.RecebimentoNF.ExportarTodos()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarTodos
                    </button>

                }
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table-bordered"
               dt-column-defs="table.dtColumnDefs">
        </table>
    </div>
</div>

<form id="form_nota_fiscal">
</form>

<form id="Exportar"></form>
@{
    Html.RenderPartial("_AvaliarDocumento");
    Html.RenderPartial("_HistoricoNotaFiscal", new Tenda.Domain.EmpresaVenda.Models.NotaFiscalPagamento());
    Html.RenderPartial("_ModalNotaFiscal");
    Html.RenderPartial("_ModalNumeroNotaFiscal");
}