@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Extensions
@using Europa.Resources
@model Tenda.EmpresaVenda.Web.Models.ParametroRoboViewModel

<script src="~/Static/administrativo/parametro-robo/parametro-robo.js"></script>
@{
    ViewBag.Codigo = "BTC09";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
    Html.RenderPartial("~/Views/LogExecucao/_DialogExcluirLog.cshtml");
    Html.RenderAction("Index", "LogsExecucao");
}

<script>
    Europa.Controllers.ParametroRobo.UrlIncluir = '@Url.Action("Incluir", "ParametroRobo")';
    Europa.Controllers.ParametroRobo.UrlAtualizar = '@Url.Action("Atualizar", "ParametroRobo")';
    Europa.Controllers.ParametroRobo.UrlExecutar = '@Url.Action("Executar", "ParametroRobo")';
    Europa.Controllers.ParametroRobo.UrlListarExecucoes = '@Url.Action("ListarExecucoes", "ParametroRobo")';
    Europa.Controllers.ParametroRobo.UrlQuartzDropdown = '@Url.Action("ListaQuartzPorNome", "ParametroRobo")';
    Europa.Controllers.ParametroRobo.UrlBuscarQuartz = '@Url.Action("BuscarQuartz", "ParametroRobo")';
    Europa.Components.ExcluirExecucaoModal.UrlExcluir = '@Url.Action("ExcluirExecucoes", "ParametroRobo")';
</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div id="titlebar-buttons">
    <div class="pull-left" style="width:400px; margin-right:5px">
        @Html.DropDownListFor(x => x.Quartz.Id, Model.Lista.Select(x => new SelectListItem { Text = x.Nome, Value = x.Id.ToString() }), GlobalMessages.Selecione, new { @class = "form-control", @id = "idQuartz" })
    </div>
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Executar"))
    {
        <button id="btnExecutarRobo" style="display: none" type="button" class="btn btn-default" onclick="Europa.Controllers.ParametroRobo.Executar()">
            <i class="fa fa-bolt"></i> @GlobalMessages.ExecutarRobo
        </button>
    }
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir") || (!Model.Quartz.Id.IsEmpty() && SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar")))
    {
        <button id="robo_email_botao_salvar" type="button" class="btn btn-default" onClick="Europa.Controllers.ParametroRobo.SubmitForm()">
            <i class="fa fa-save" aria-hidden="true"></i> @GlobalMessages.Salvar
        </button>

        <button id="robo_email_botao_cancelar" type="button" class="btn btn-default" onClick="location.href = '@Url.Action("Cancelar", "ParametroRobo")'">
            <i class="fa fa-ban" aria-hidden="true"></i> @GlobalMessages.Cancelar
        </button>
    }

</div>
<div>
    @using (Html.BeginForm("Incluir", "ParametroRobo", FormMethod.Post, new { enctype = "multipart/form-data", id = "formParametroRobo", @class = "form-group" }))
    {
        @Html.HiddenFor(x => x.Quartz.Id)
        @Html.HiddenFor(x => x.Quartz.ForcarDesligamento)
        @Html.HiddenFor(x => x.Quartz.Nome)
        <fieldset disabled id="fieldsetForm">
            <div class="col-md-24">
                @Html.Label(GlobalMessages.CaminhoCompleto) *
                @Html.TextBoxFor(x => x.Quartz.CaminhoCompleto, new { @class = "form-control", maxlength = 128 })
            </div>
            <div class="col-md-24">
                <div class="col-md-5">
                    @Html.Label(GlobalMessages.ServidorExecucao) *
                    @Html.TextBoxFor(x => x.Quartz.ServidorExecucao, new { @class = "form-control", maxlength = 128 })
                </div>
                <div class="col-md-5 col-md-offset-1">
                    @Html.Label(GlobalMessages.SiteExecucao)
                    @Html.TextBoxFor(x => x.Quartz.SiteExecucao, new { @class = "form-control", maxlength = 128 })
                </div>
                <div class="col-md-4 col-md-offset-1">
                    @Html.Label(GlobalMessages.AplicacaoExecucao)
                    @Html.TextBoxFor(x => x.Quartz.AplicacaoExecucao, new { @class = "form-control", maxlength = 128 })
                </div>
                <div class="col-md-3 col-md-offset-1">
                    @Html.Label(GlobalMessages.CronExpression) *
                    @Html.TextBoxFor(x => x.Quartz.Cron, new { @class = "form-control", maxlength = 40 })
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <fieldset id="fieldset_execucao_automatica">
                        @Html.Label(GlobalMessages.ExecucaoAutomatica) *
                        <select class="form-control" id="Quartz_IniciarAutomaticamente" name="Quartz_IniciarAutomaticamente">
                            <option value="true" selected>@GlobalMessages.Sim</option>
                            <option value="false">@GlobalMessages.Nao</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-md-24">
                    @Html.LabelFor(x => x.Quartz.Observacoes, GlobalMessages.Observacoes, new { })
                    @Html.TextAreaFor(x => x.Quartz.Observacoes, new { @class = "form-control", maxlength = 256, style = "resize: none; height: 75px;" })
                </div>
            </div>
        </fieldset>
    }
</div>

<div class="col-lg-24 col-md-24 col-sm-24 col-xs-24" style="margin-top: 15px;">
    <div ng-controller="listaExecucoes as Execucao">
        <div id="datatable_barra">
            <form name="formFiltroLogs">
                <div class="col-md-24">
                    <div class="pull-left col-md-5">
                        <h5>@Html.Label(GlobalMessages.Execucoes)</h5>
                    </div>
                    <div class="pull-right col-md-15" style="text-align: right;">
                        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExcluirLog"))
                        {
                            <button id="btnExcluirLog" style="display: none" type="button" class="btn btn-default" onclick="Europa.Controllers.ParametroRobo.ExcluirLogs()">
                                <i class="fa fa-trash"></i> @GlobalMessages.ExpurgoLogs
                            </button>
                        }
                        <div class="input-group">
                            @Html.Label("De", new { @for = "DiaHoraDe", @class = "input-group-addon", id = "diaLabel", style = "width: 35px;" })
                            @Html.TextBox("DataInicio", "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", datepicker = "datepicker", id = "DataInicio" })
                            @Html.Label("Até", new { @for = "DiaHoraAte", @class = "input-group-addon", id = "diaAteLabel", style = "width: 35px;" })
                            @Html.TextBox("DataFim", "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", datepicker = "datepicker", id = "DataFim" })
                        </div>
                        <button class="btn btn-default" onClick="Europa.Controllers.ParametroRobo.TabelaExtensoes.Filtrar()">
                            <i class="fa fa-filter"></i> @GlobalMessages.Filtrar
                        </button>

                        <button class="btn btn-default" onClick="Europa.Controllers.ParametroRobo.LimparFiltros()">
                            <i class="fa fa-eraser"></i> @GlobalMessages.Limpar
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <table datatable="" dt-options="Execucao.dtOptions" dt-columns="Execucao.dtColumns"
               dt-instance="Execucao.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="Execucao.dtColumnDefs"></table>
    </div>
</div>
