@using Europa.Resources
@using Tenda.Domain.Core.Enums

<div class="modal" id="modal_rateio_comissao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="overflow: auto;">
    <div class="modal-dialog" role="document" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.Novo  @GlobalMessages.RateioComissao</h4>
            </div>
            <div class="modal-body">
                <form id="form_rateio_comissao">
                    <div class="col-md-24">
                        <div class="col-md-6 form-group">
                            @Html.Label(GlobalMessages.ContratanteCentral)
                            <select id="autocomplete_contratante" class="form-control" name="Contratante"></select>
                        </div>
                        <div class="col-md-6 form-group col-md-offset-1">
                            @Html.Label(GlobalMessages.ContratadaForcaVendas)
                            <select id="autocomplete_contratada" class="form-control" name="Contratada"></select>
                        </div>
                        @*</div>*@
                    @*<div class="col-md-24">*@
                        <div class="col-md-3 form-group col-md-offset-1"  style="top: 10px">
                            @Html.RadioButton("radio-select", "Todos",new {@onchange = "Europa.Controllers.RateioComissao.OnChangeTodos()",@id="todos"}) @Html.Label(GlobalMessages.Todos)
                            <br />
                            @Html.RadioButton("radio-select", "Selecionar", new { @onchange = "Europa.Controllers.RateioComissao.OnChangeSelecionar()", @id = "selecionar" }) @Html.Label(GlobalMessages.Selecionar)
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.Label(GlobalMessages.Empreendimento)
                            <select id="autocomplete_empreendimento" class="form-control" name="Empreendimento"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" onclick="Europa.Controllers.RateioComissao.Salvar()"><i class="fa fa-save" aria-hidden="true"></i> @GlobalMessages.Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick=""><i class="fa fa-close" aria-hidden="true"></i> @GlobalMessages.Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

