@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources

@{
    ViewBag.Codigo = "CAD08";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}
<script src="~/Static/projeto/rateio-comissao/rateio-comissao.js"></script>
<script>
    Europa.Controllers.RateioComissao.UrlListar = '@Url.Action("Listar", "RateioComissao")';
    Europa.Controllers.RateioComissao.UrlIncluir = '@Url.Action("Salvar", "RateioComissao")';
    Europa.Controllers.RateioComissao.UrlFinalizar = '@Url.Action("Finalizar", "RateioComissao")';
    Europa.Controllers.RateioComissao.UrlAtivar = '@Url.Action("Ativar", "RateioComissao")';
    Europa.Controllers.RateioComissao.UrlExcluir = '@Url.Action("Excluir", "RateioComissao")';

    Europa.Controllers.RateioComissao.Permissoes = {
    Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
    Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
    Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()',
    Finalizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo,"Finalizar").ToString().ToLower()',
    Ativar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo,"Ativar").ToString().ToLower()',
    Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo,"Excluir").ToString().ToLower()'
    };

</script>
<div id="titlebar-name">
    @ViewBag.Title
</div>
<div id="titlebar-buttons">
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
    {
        <button class="btn btn-default" type="button" onclick="Europa.Controllers.RateioComissao.Novo()"><i class="fa fa-plus"></i> @GlobalMessages.Novo</button>
    }
</div>
<form id="form_filtro">
    <div class="col-md-24">
        <div class="col-md-5 form-group">
            @Html.Label(GlobalMessages.ContratanteCentral)
            <select id="autocomplete_contratante_filtro" class="form-control"></select>
        </div>
        <div class="col-md-5 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.ContratadaForcaVendas)
            <select id="autocomplete_contratada_filtro" class="form-control"></select>
        </div>
        <div class="col-md-5 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.Empreendimento)
            <select id="autocomplete_empreendimento_filtro" class="form-control"></select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            @Html.Label(GlobalMessages.VigenteEm)
            <div class="input-group">
                @Html.TextBox("vigente_em"," ", new { @class = "form-control", datepicker = "datepicker" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    

            <div class="pull-right" style="margin-top:20px">
                <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.RateioComissao.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
                <button class="btn btn-default" type="button" title="@GlobalMessages.Limpar" onClick="Europa.Controllers.RateioComissao.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
            </div>
        </div>
</form>

<div ng-controller="RateioComissao as table">
    <div id="datatable_header" class="col-md-24">
        @ViewBag.Title
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="table.dtColumnDefs"></table>
</div>

@{
    Html.RenderPartial("_ModalRateioComissao");

}