@using Europa.Resources

<script src="~/Static/projeto/carga-lead/modal-anexo-em-massa.js"></script>

<script>
    Europa.Controllers.LeadEmMassaImportExcel.UrlSalvarArquivo = '@Url.Action("UploadImportFileEmMassa", "CargaLead")';
</script>

<div ng-controller="CargaLeadEmMassaController" class="modal" id="LeadEmMassaImportExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.Importar Em Massa</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-24">
                    <div class="col-md-24">
                        @using (Html.BeginForm("UploadImportFileEmMassa", "CargaLead", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", id = "formularioUploadArquivoAnexoEmMassa" }))
                        {
                            @Html.AntiForgeryToken()
                            <label>@GlobalMessages.EnvioArquivo</label>
                            <input type="file" style="margin-top: 5px" id="arquivo" name="arquivo">
                        }

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="enviarArquivo()"><i class="fa fa-upload" aria-hidden="true"></i> @GlobalMessages.Importar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> @GlobalMessages.Desistir</button>
            </div>
        </div>
    </div>
</div>

