@using Europa.Resources

<script>
    Europa.Controllers.PropostaFaturada.UrlVerificarTask = '@Url.Action("VerificarStatusImportacao", "PropostaFaturada")';
    Europa.Controllers.PropostaFaturada.UrlDownloadArquivo = '@Url.Action("DownloadArquivo", "PropostaFaturada")';
</script>

<div class="modal" id="PropostaFaturada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Europa.Controllers.PropostaFaturada.Hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.PropostasFaturadas</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-24">
                    <div class="col-md-24">@Html.Label(GlobalMessages.Status)</div>
                    <div class="col-md-24" id="PropostaFaturada_Status" style="height:30px">

                    </div>
                    <div class="col-md-24">
                        @Html.Label(GlobalMessages.Detalhes)
                    </div>
                    <div class="col-md-24 panel panel-default" id="PropostaFaturada_Log" style="height: 300px;max-height: 300px; overflow-x: auto;padding: 5px;">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="display:none" id="PropostaFaturada_Download" onclick="Europa.Controllers.PropostaFaturada.DownloadArquivo()"><i class="fa fa-download" aria-hidden="true"></i> @GlobalMessages.Download</button>
                <button type="button" class="btn btn-default" onclick="Europa.Controllers.PropostaFaturada.Hide()"><i class="fa fa-ban" aria-hidden="true"></i> @GlobalMessages.Fechar</button>
            </div>
        </div>
    </div>
</div>
<form id="PropostaFaturada_Exportar" method="POST"></form>
