@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources
@using Tenda.EmpresaVenda.Domain.Commons
@using Tenda.Domain.Core.Enums

@model Tenda.Domain.EmpresaVenda.Models.BannerPortalEv
@{
    ViewBag.Codigo = "GEC09";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/cadastro-banner/cadastro-banner.js"></script>
<script src="~/Static/projeto/cadastro-banner/cadastro-banner-datatable.js"></script>
<script type="text/javascript" src="~/Static/projeto/cadastro-banner/modal-preview-banner.js"></script>

<script>
    Europa.Controllers.CadastroBanner.UrlListar = '@Url.Action("Listar", "CadastroBanners")';
    Europa.Controllers.CadastroBanner.UrlVisualizarBanner =  '@Url.Action("GerarLinkBanner", "CadastroBanners")';
    Europa.Controllers.CadastroBanner.UrlIncluir = '@Url.Action("Incluir", "CadastroBanners")';
    Europa.Controllers.CadastroBanner.UrlAlterar = '@Url.Action("Alterar", "CadastroBanners")';
    Europa.Controllers.CadastroBanner.UrlExcluir = '@Url.Action("Deletar", "CadastroBanners")';
    Europa.Controllers.CadastroBanner.UrlAtualizar = '@Url.Action("Alterar", "CadastroBanners")';
    Europa.Controllers.CadastroBanner.UrlUpload = '@Url.Action("AnexarFoto", "CadastroBanners")';
    Europa.Controllers.CadastroBanner.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Remover").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar").ToString().ToLower()'
    };

    Europa.Controllers.CadastroBanner.DropDownEstado =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("filtro_estados_edit", RegionalHelper.RegionaisMatrizSelectListItem,GlobalMessages.Todas, new { @class = "form-control"}).ToHtmlString()))';
    Europa.Controllers.CadastroBanner.DropDownSituacao =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("Situacao", EnumHelper.GetSelectList(typeof(Tenda.Domain.EmpresaVenda.Enums.SituacaoBanner)), new { @class = "form-control"}).ToHtmlString()))';
    Europa.Controllers.CadastroBanner.DropDownTipo =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("Tipo", EnumHelper.GetSelectList(typeof(Tenda.Domain.EmpresaVenda.Enums.TipoBanner)), new { @class = "form-control",onchange= "Europa.Controllers.CadastroBanner.OnChangeTipo()" }).ToHtmlString()))';
</script>

<div id="titlebar-name">
    @ViewBag.Title
</div>

<div id="titlebar-buttons">
    <button class="btn btn-default" title="@GlobalMessages.Novo" onclick="Europa.Controllers.CadastroBanner.Novo()">
        <i class="fa fa-plus"></i> @GlobalMessages.Novo
    </button>
</div>

<div class="col-md-24">
    <form id="form_fitro_banner">
        @Html.Hidden("IdArquivo", 0)
        @Html.Hidden("Visualizado", false);
        <div class="col-md-2">
            @Html.Label(GlobalMessages.Regional)
            <select id="autocomplete_regional" name="autocomplete_regional" class="select2-container form-control"></select>
        </div>
        <div class="col-md-2 col-md-offset-1">
            @Html.Label(GlobalMessages.Estados)
            @Html.DropDownList("filtro_estados", new SelectList(EstadosSelectList.Values, "Value", "Text"), new { @class = "form-control", multiple = "multiple" })
        </div>

        <div class="col-md-3 col-md-offset-1">
            @Html.Label(GlobalMessages.Descricao)
            @Html.TextBox("DescricaoBanner", null, new { @class = "form-control" })
        </div>
        <div class="col-md-2 col-md-offset-1">
            @Html.Label(GlobalMessages.Tipo)
            @Html.EnumDropDownListFor(x => x.Tipo, "Selecione", new { @class = "form-control", id = "TipoBannerForm" })

        </div>
        <div class="col-md-2 col-md-offset-1">
            @Html.Label(GlobalMessages.SituacaoBanner)
            @Html.EnumDropDownListFor(x => x.Situacao, "Selecione", new { @class = "form-control", id = "SituacaoBannerFiltro" })
        </div>
        <div class="col-md-5 col-md-offset-1">
            @Html.Label(GlobalMessages.InicioFimVigencia)
            <div class="input-group">
                @Html.Label("De", new { @for = "DiaDe", @class = "input-group-addon", id = "diaLabel", style = "width: 35px;" })
                @Html.TextBox("DataInicioVigencia", "{0:dd/MM/yyyy}", new { @class = "form-control", datepicker = "datepicker", id = "DataInicioVigencia", onchange = "Europa.Controllers.CadastroBanner.OnChangeDataInicioFiltro()" })
                @Html.Label("Até", new { @for = "DiaAte", @class = "input-group-addon", id = "diaAteLabel", style = "width: 35px;" })
                @Html.TextBox("DataFimVigencia", "{0:dd/MM/yyyy}", new { @class = "form-control", datepicker = "datepicker", id = "DataFimVigencia" })
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1" style="">
            <div class="form-check">
                @Html.Label(GlobalMessages.Diretor)
                <input id="DiretorBannerFiltro" name="DiretorBannerFiltro" type="checkbox" value="true" class="form-check-input" />
            </div>
            <div class="form-check">
                @Html.Label(GlobalMessages.ExibicaoUnica)
                <input id="ExibicaoBannerFiltro" name="ExibicaoBannerFiltro" type="checkbox" value="true" class="form-check-input" />
            </div>
        </div>
        <div class="pull-right" style="margin-top: 20px">
            <button title="@GlobalMessages.Filtrar" class="btn btn-default" style="width: 100px" onClick="Europa.Controllers.CadastroBanner.Filtrar()">
                <i class="fa fa-filter"></i> @GlobalMessages.Filtrar
            </button>
            <button title="@GlobalMessages.Limpar" class="btn btn-default" style="width: 100px" onClick="Europa.Controllers.CadastroBanner.LimparFiltro()">
                <i class="fa fa-eraser"></i> @GlobalMessages.Limpar
            </button>
        </div>

    </form>
</div>

<div ng-controller="CadastroBanner as table">
    <div class="col-md-24">
        <div id="CadastroBannerDatatable_barra">
            <div class="col-md-12" style="margin-left: 5px">
                <h5>@GlobalMessages.Banner</h5>
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>

<div id="hiddens" hidden>
    <input id="IdBanner" type="text" />
</div>

@{
    //Html.RenderPartial("_ModalVisualizarImagem");
    Html.RenderPartial("_ModalCadastrarImagem");
    Html.RenderPartial("_ModalPreviewBanner");
}