@using Europa.Resources
@model Tenda.EmpresaVenda.Web.Models.UsuarioViewModel
<script src="~/Static/portal-pos-venda/usuario-portal/modal-formulario-usuario.js"></script>
<script>
    Europa.Components.Modal.FormularioUsuario.GetUsuario = '@Url.Action("GetUser", "Usuario")';
</script>

<div class="modal" id="usuarioModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- #region header -->
            <div class="modal-header">
                <button type="button" class="close" onclick=" Europa.Components.Modal.FormularioUsuario.CloseModal() " aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="usuarioModal_titulo"></h4>
            </div>
            <!-- #endregion -->

            <!-- #region body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="usuarioModal_formulario" class="form-group">
                        <fieldset id="usuarioModal_formulario_fieldset">
                            <div class="col-md-11">
                                @Html.HiddenFor(x=>x.Usuario.Id)
                                @Html.Label(GlobalMessages.Nome, new {@class = "control-label"}) *
                                @Html.TextBoxFor(x => x.Usuario.Nome, new {@class = "form-control", maxlength = 254})
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                @Html.Label(GlobalMessages.Login, new { @class = "control-label" }) *
                                @Html.TextBoxFor(x => x.Usuario.Login, new { @class = "form-control", maxlength = 254 })
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                @Html.Label(GlobalMessages.Situacao, new { @class = "control-label" }) * 
                                @Html.TextBox("Situ",GlobalMessages.SituacaoUsuario_Ativo, new {@class="form-control", disabled="disabled"})
                                @Html.HiddenFor(x=>x.Usuario.Situacao)
                            </div>
                            <div class="col-md-11">
                                @Html.Label(GlobalMessages.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.Usuario.Email, new { @class = "form-control", maxlength = 254 })
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-12">
                                @Html.Label(GlobalMessages.Perfil, new { @class = "control-label" }) *
                                <div class="input-group">
                                    @Html.Hidden("PerfilId")
                                    <select id="autocomplete_perfil_usuarioModal_formulario" class="select2-container form-control"></select>
                                    <span class="input-group-btn">
                                        <button id="usuarioModal_formulario_btn_perfil" class="btn btn-default" type="button" onclick=" Europa.Components.Modal.FormularioUsuario.AbrirModalPerfil() ">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-24">
                                @Html.Label(GlobalMessages.AreaNegocio, new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.HiddenFor(x => x.Usuario.Area.Id)
                                    <select id="autocomplete_area_usuarioModal_formulario" class="select2-container form-control"></select>
                                    <span class="input-group-btn">
                                        <button id="usuarioModal_formulario_btn_area" class="btn btn-default" type="button" onclick=" Europa.Components.Modal.FormularioUsuario.AbrirModalAreas(); ">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                        
                    </form>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region footer -->
            <div class="modal-footer">
                <button id="usuarioModal_btnSelecionar" type="button" class="btn btn-default" onclick=" Europa.Components.Modal.FormularioUsuario.MainAction() "><i class="fa fa-save"></i> @GlobalMessages.Salvar</button>
                <button id="usuarioModal_btnDesistir" type="button" class="btn btn-default" onclick=" Europa.Components.Modal.FormularioUsuario.CloseModal() "><i class="fa fa-ban"></i> @GlobalMessages.Cancelar</button>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>

