@using Europa.Resources
@model Tenda.EmpresaVenda.Web.Models.DocumentacaoAvalistaViewModel

<div class="col-md-24">
    @Html.HiddenFor(x => x.IdAvalista)
    @Html.HiddenFor(x => x.IdPreProposta)
    <div class="col-md-8 form-group">
        @Html.Label(GlobalMessages.Nome + "*", new { @class = "control-label" })
        @Html.TextBoxFor(x => x.NomeAvalista, new { @class = "form-control", readOnly = "readOnly" })
    </div>

    <div class="col-md-3 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Situacao, new { @class = "control-label" })
        @Html.TextBox("SituacaoAvalista", (string)ViewBag.SituacaoAvalista, new { @class = "form-control", readOnly = "readOnly" })
    </div>

    <div class="col-md-5 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.RG, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.RG, new { @class = "form-control ", maxlength = "14", readOnly = "readOnly" })
    </div>

    <div class="col-md-5 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.OrgaoEmissor, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.OrgaoExpedicao, new { @class = "form-control", readOnly = "readOnly" })
    </div>
</div>

<div class="col-md-24">
    <div class="col-md-5 form-group">
        @Html.Label(GlobalMessages.Cpf + "*", new { @class = "control-label" })
        @Html.TextBoxFor(x => x.CPF, new { @class = "form-control", maxlength = "14", readOnly = "readOnly" })
    </div>

    <div class="col-md-6 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.Profissao, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Profissao, new { @class = "form-control", readOnly = "readOnly" })
    </div>

    <div class="col-md-7 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.Email, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.EmailAvalista, new { @class = "form-control", readOnly = "readOnly" })
    </div>

    <div class="col-md-3 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.TempoEmpresa, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.TempoEmpresa, new { @class = "form-control text-right inteiro", readOnly = "readOnly" })
    </div>
</div>

<div class="col-md-24">
    @Html.HiddenFor(x => x.IdEndereco)

    <div class="col-md-9 form-group">
        @Html.Label(GlobalMessages.Endereco, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Logradouro, new { @class = "form-control", maxlength = 60, readOnly = "readOnly" })
    </div>

    <div class="col-md-2 form-group col-md-offset-1 ">
        @Html.Label(GlobalMessages.Numero, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Numero, new { @class = "form-control", maxlength = 40, readOnly = "readOnly" })
    </div>

    <div class="col-md-5 form-group col-md-offset-1 ">
        @Html.Label(GlobalMessages.Bairro, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Bairro, new { @class = "form-control", maxlength = 40, readOnly = "readOnly" })
    </div>

    <div class="col-md-5 form-group col-md-offset-1 ">
        @Html.Label(GlobalMessages.Empresa, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Empresa, new { @class = "form-control", maxlength = 40, readOnly = "readOnly" })
    </div>
</div>

<div class="col-md-24">
    <div class="col-md-6 form-group">
        @Html.Label(GlobalMessages.CEP, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cep, new { @class = "form-control cep", maxlength = 9, onchange = "Europa.Controllers.PreProposta.DadosOnChangeCepEnderecoAvalista(this)", readOnly = "readOnly" })
    </div>

    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Cidade, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cidade, new { @class = "form-control", maxlength = 40, readOnly = "readOnly" })
    </div>

    <div class="col-md-2 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.UF, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Estado, new { @class = "form-control", readOnly = "readOnly" })
    </div>

    <div class="col-md-3 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.RendaDeclarada, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.RendaDeclarada, new { @class = "form-control text-right dinheiro", maxlength = 13, disabled = "disabled", Value = Model.RendaDeclarada.ToString("F") })
    </div>
    <div class="col-md-4 col-md-offset-1">
        @Html.Label(GlobalMessages.OutrasRendas, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.OutrasRendas, new { @class = "form-control text-right dinheiro", maxlength = 13, disabled = "disabled", Value = Model.OutrasRendas.ToString("F") })
    </div>
</div>

<div class="col-md-24">
    <div class="col-md-3 form-group">
        @Html.Label(GlobalMessages.Banco, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Banco, new { @class = "form-control", maxlength = 40, readOnly = "readOnly" })
    </div>

    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.ContatoGerente, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.ContatoGerente, new { @class = "form-control", maxlength = 40, readOnly = "readOnly" })
    </div>

    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.ValorTotalBens, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.ValorTotalBens, new { @class = "form-control text-right dinheiro", maxlength = 13, disabled = "disabled", Value = Model.ValorTotalBens.ToString("F") })
    </div>

    <div class="col-md-4 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.PossuiImovel, new { @class = "control-label" })
        <div class="col-md-24">
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.PossuiImovel, true, new { id = "Avalista_PossuiImovel_Sim" }) <label class="control-label" for="Avalista_PossuiImovel_Sim">@GlobalMessages.Sim</label>
            </div>
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.PossuiImovel, false, new { id = "Avalista_PossuiImovel_Nao" }) <label class="control-label" for="Avalista_PossuiImovel_Nao">@GlobalMessages.Nao</label>
            </div>
        </div>
    </div>

    <div class="col-md-4 form-group">
        @Html.Label(GlobalMessages.PossuiVeiculo, new { @class = "control-label" })
        <div class="col-md-24">
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.PossuiVeiculo, true, new { id = "Avalista_PossuiVeiculo_Sim" }) <label class="control-label" for="Avalista_PossuiVeiculo_Sim">@GlobalMessages.Sim</label>
            </div>
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.PossuiVeiculo, false, new { id = "Avalista_PossuiVeiculo_Nao" }) <label class="control-label" for="Avalista_PossuiVeiculo_Nao">@GlobalMessages.Nao</label>
            </div>
        </div>
    </div>
</div>
<form id="Exportar"></form>
