@using Europa.Extensions
@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.EmpresaVenda.Web.Models.Application
@model Tenda.EmpresaVenda.Web.Models.DocumentacaoAvalistaViewModel

@{
    ViewBag.Codigo = "EVS17";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
    if (Model.Documentos.FirstOrDefault().HasValue())
    {
        ViewBag.SituacaoAvalista = Model.Documentos.FirstOrDefault().Situacao.ToString();
    }


    if(ViewBag.SituacaoAvalista == "Enviado")
    {
        ViewBag.SituacaoAvalista = "Aguardando Análise";
    }
    else if (ViewBag.SituacaoAvalista == "PreAprovado")
    {
        ViewBag.SituacaoAvalista = "Avalista Aprovado";
    }
    else if(ViewBag.SituacaoAvalista == "Pendente")
    {
        ViewBag.SituacaoAvalista = "Avalista Reprovado";
    }

    var listaAvalistas = new List<SelectListItem>();
    foreach (var avalista in Model.Avalistas)
    {
        listaAvalistas.Add(new SelectListItem
        {
            Value = avalista.Id.ToString(),
            Text = avalista.Nome
        });
    }

    var listaDocumentos = new List<SelectListItem>();
    foreach (var documento in Model.Documentos)
    {
        listaDocumentos.Add(new SelectListItem
        {
            Value = documento.Id.ToString(),
            Text = documento.TipoDocumento.Nome
        });
    }
}

<script type="text/javascript" src="~/Static/projeto/documentacao-avalista/documentacao-avalista.js"></script>
<script>
    Europa.Controllers.DocumentacaoAvalista.UrlAtualizarViewModel = '@Url.Action("AtualizarViewModel","DocumentacaoAvalista")';
    Europa.Controllers.DocumentacaoAvalista.UrlAprovarDocumento = '@Url.Action("AprovarDocumentacao", "DocumentacaoAvalista")';
    Europa.Controllers.DocumentacaoAvalista.UrlPendenciarDocumento = '@Url.Action("PendenciarDocumentacao","DocumentacaoAvalista")';
    Europa.Controllers.DocumentacaoAvalista.UrlBaixarTodosDocumentos = '@Url.Action("BaixarTodosDocumentos","DocumentacaoAvalista")';
    Europa.Controllers.DocumentacaoAvalista.UrlAprovarAvalista = '@Url.Action("AprovarAvalista","DocumentacaoAvalista")';
    Europa.Controllers.DocumentacaoAvalista.UrlPendenciarAvalista = '@Url.Action("PendenciarAvalista","DocumentacaoAvalista")';

    //listas
    Europa.Controllers.DocumentacaoAvalista.ListaAvalistas = @Html.Raw(Json.Encode(Model.Avalistas));
    Europa.Controllers.DocumentacaoAvalista.ListaDocumentos = @Html.Raw(Json.Encode(Model.Documentos));
    Europa.Controllers.DocumentacaoAvalista.ListaArquivos = @Html.Raw(Json.Encode(Model.Arquivos));
    Europa.Controllers.DocumentacaoAvalista.ListaParecer = @Html.Raw(Json.Encode(Model.Pareceres));
</script>

<div id="titlebar-name">@ViewBag.Title</div>
<div id="titlebar-buttons">
    <div class="col-md-18" style="display: inline-flex; margin-top: 2px">
        <button id="btn_baixar_docs_avalista" class="btn btn-default" type="button"
                onclick="Europa.Controllers.DocumentacaoAvalista.BaixarTodosDocumentos()">
            <i class="fa fa-download"></i> @GlobalMessages.BaixarTodosDocumentos
        </button>
        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AprovarDocumento"))
        {
            <button id="btn_aprovar_documentacao" class="btn btn-default" type="button"
                    onclick="Europa.Controllers.DocumentacaoAvalista.AprovarDocumentacao()">
                <i class="fa fa-check"></i> @GlobalMessages.AprovarDocumentacao
            </button>
        }
        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "PendenciarDocumento"))
        {
            <button id="btn_pendenciar_documentacao" class="btn btn-default" type="button"
                    onclick="Europa.Controllers.DocumentacaoAvalista.PendenciarDocumentacao()">
                <i class="fa fa-ban"></i> @GlobalMessages.PendenciarDocumentacao
            </button>
        }
    </div>
</div>

<form id="form_avalista">
    <div class="col-md-24">
        <fieldset id="fieldset_avalsita">
            <div class="col-md-24" id="area_avalista">
                @{
                    Html.RenderPartial("_DadosAvalista", Model);
                }
            </div>
        </fieldset>
    </div>
</form>

<div class="col-md-24"><hr/></div>


<div class="col-md-24">
    <div class="col-md-6 pull-left">
        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AprovarDocumento"))
        {
            <label>
                <input id="somente_nao_analisados" type="checkbox" checked onchange="Europa.Controllers.DocumentacaoAvalista.AtualizarViewModel(@Model.IdPreProposta)" style="vertical-align:sub;position: relative;bottom: 0.55px;" />
                <span onclick="">@GlobalMessages.ExibirSomenteDocumentosSemAnalise</span>
            </label>
        }
    </div>
    
</div>

<div class="col-md-24">
    <div class="col-md-24">
        <div class="col-md-6 form-group">
            @Html.Label(GlobalMessages.Avalista, new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Controllers.DocumentacaoAvalista.CycleAvalista(false)">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </span>
                @Html.DropDownList("lista_avalistas", listaAvalistas, GlobalMessages.Selecione,
                    new { @class = "form-control", onchange = "Europa.Controllers.DocumentacaoAvalista.SelecionarAvalista(this)" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Controllers.DocumentacaoAvalista.CycleAvalista(true)">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 form-group dadosDocumentos">
            @Html.Label(GlobalMessages.SituacaoDocumento, new { @class = "control-label" })
            @Html.TextBox("Situacao", "", new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="col-md-9 col-md-offset-1 dadosDocumentos">
            @Html.Label(GlobalMessages.Motivo, new { @class = "control-label" })
            @Html.TextArea("Motivo", "", new { @class = "form-control", disabled = "disabled", style = "resize: none;" })
        </div>

        <div class="col-md-3 col-md-offset-1 dadosDocumentos">
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AprovarDocumento"))
            {
                <button id="btn_aprovar_documento" class="btn btn-default" type="button" onclick="Europa.Controllers.DocumentacaoAvalista.AprovarDocumento()"
                        disabled="disabled" style="margin-top: 19px; width: 100%">
                    <i class="fa fa-check"></i> @GlobalMessages.Aprovar
                </button>
            }
        </div>
    </div>

    <div class="col-md-24 dadosDocumentos">
        <div class="col-md-6 form-group">
            @Html.Label(GlobalMessages.Documento, new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-cycle-documentos" type="button" disabled="disabled" onclick="Europa.Controllers.DocumentacaoAvalista.CycleDocumento(false)">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </span>
                <select id="lista_documentos" class="form-control" onchange="Europa.Controllers.DocumentacaoAvalista.SelecionarDocumento(this)" disabled="disabled"></select>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-cycle-documentos" type="button" disabled="disabled" onclick="Europa.Controllers.DocumentacaoAvalista.CycleDocumento(true)">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-13 col-md-offset-1">
            @Html.Label(GlobalMessages.Parecer, new { @class = "control-label" })
            @Html.TextArea("Parecer", "", new { @class = "form-control", maxlength = 255, disabled = "disabled", style = "resize: none;" })
        </div>

        <div class="col-md-3 col-md-offset-1">
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "PendenciarDocumento"))
            {
                <button id="btn_pendenciar_documento" class="btn btn-default" type="button" onclick="Europa.Controllers.DocumentacaoAvalista.PendenciarDocumento()"
                        disabled="disabled" style="margin-top: 19px; width: 100%">
                    <i class="fa fa-warning"></i> @GlobalMessages.Pendenciar
                </button>
            }
        </div>
    </div>

    <div class="col-md-24 dadosDocumentos" style="padding-top: 20px">
        <div id="DocumentoContainer" class="col-md-24" style="height: 550px;">
            <input type="text" id="ExisteDocumento" style="visibility:hidden" />
            <div id="ViewerContainer" class="col-md-16 col-md-offset-4" style="height: 100%;">
            </div>
        </div>
    </div>

    <div id="todos_documentos_aprovados" class="col-md-24 hidden" style="margin-top:25px;">
        <div class="col-md-6"></div>
        <div class="col-md-18">
            <h2><i class="fa fa-check"></i> @GlobalMessages.TodosDocumentosAvalsitaAnalisados </h2>
        </div>
    </div>
</div>

<form id="Exportar"></form>

