@using Europa.Resources
@model Tenda.EmpresaVenda.Domain.Repository.Models.PontuacaoFidelidadeDTO

<div class="col-md-24">
    <div class="col-md-13">
        @Html.Label(GlobalMessages.EmpresaVendas)
        <select id="autocomplete_empresa_venda" multiple="multiple" name="autocomplete_empresa_venda" class="select2-container form-control"></select>
    </div>

    <div class="col-md-3 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.Periodo+" "+GlobalMessages.De)
        <div class="input-group">
            @Html.TextBoxFor(x => x.InicioVigencia, new { @class = "form-control", datepicker = "datepicker" })
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="col-md-3 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.Periodos+" "+GlobalMessages.Ate)
        <div class="input-group">
            @Html.TextBoxFor(x => x.TerminoVigencia, new { @class = "form-control", datepicker = "datepicker" })
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="pull-right" style="margin-top:20px">
        <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.ResgatePontuacaoFidelidade.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
        <button class="btn btn-default" type="button" title="@GlobalMessages.Limpar" onClick="Europa.Controllers.ResgatePontuacaoFidelidade.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
    </div>

</div>
