@using Europa.Resources
@model Tenda.EmpresaVenda.Domain.Repository.Models.PontuacaoFidelidadeDTO

<div class="col-md-24">
    <div class="col-md-3 form-group">
        @Html.Label(GlobalMessages.PontuacaoResgatada)
        @Html.TextBoxFor(x => x.PontuacaoResgatada, new { @class="form-control",@readonly = true})
    </div>

    <div class="col-md-3 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.PontuacaoSolicitada)
        @Html.TextBoxFor(x => x.PontuacaoSolicitada, new { @class="form-control",@readonly = true})
    </div>

    <div class="col-md-3 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.PontuacaoDisponivel)
        @Html.TextBoxFor(x => x.PontuacaoDisponivel, new { @class="form-control",@readonly = true})
    </div>

    <div class="col-md-3 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.PontuacaoIndisponivel)
        @Html.TextBoxFor(x => x.PontuacaoIndisponivel, new { @class="form-control",@readonly = true})
    </div>

    <div class="col-md-3 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.PontuacaoTotal)
        @Html.TextBoxFor(x => x.PontuacaoTotal, new { @class="form-control",@readonly = true})
    </div>

    <div class="pull-right" style="margin-top:20px">
        <button class="btn btn-default hidden" id="btn_solicitar_resgate" title="@GlobalMessages.SolicitarResgate" onClick="Europa.Controllers.ResgatePontuacaoFidelidade.AbriModal()"><i class="fa fa-money"></i> @GlobalMessages.SolicitarResgate</button>       
    </div>
</div>
