@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.EmpresaVenda.Domain.Repository.Models

@{
    ViewBag.Codigo = "GEC06";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/resgate-pontuacao-fidelidade/index-resgate-pontuacao-fidelidade.js"></script>
<script type="text/javascript" src="~/Static/projeto/resgate-pontuacao-fidelidade/filtro-resgate-pontuacao-fidelidade.js"></script>
<script type="text/javascript" src="~/Static/projeto/resgate-pontuacao-fidelidade/datatable-resgate-pontuacao-fidelidade.js"></script>
<script type="text/javascript" src="~/Static/projeto/resgate-pontuacao-fidelidade/extrato-resgate-pontuacao-fidelidade.js"></script>
<script type="text/javascript" src="~/Static/projeto/resgate-pontuacao-fidelidade/modal-resgate-pontuacao-fidelidade.js"></script>

<link rel="stylesheet" href="~/Static/projeto/resgate-pontuacao-fidelidade/resgate-pontuacao-fidelidade.css" />

<script>
    Europa.Controllers.ResgatePontuacaoFidelidade.Url = {
        ListarPontuacao: '@Url.Action("ListarPontuacao", "ResgatePontuacaoFidelidade")',
        Totais: '@Url.Action("Totais", "ResgatePontuacaoFidelidade")',
        SolicitarResgate: '@Url.Action("SolicitarResgate", "ResgatePontuacaoFidelidade")',
        ListarResgate: '@Url.Action("ListarResgate", "ResgatePontuacaoFidelidade")',
        ExportarPaginaPontuacao: '@Url.Action("ExportarPaginaPontuacao","ResgatePontuacaoFidelidade")',
        ExportarTodosPontuacao: '@Url.Action("ExportarTodosPontuacao","ResgatePontuacaoFidelidade")',
        ExportarPaginaExtrato: '@Url.Action("ExportarPaginaExtrato","ResgatePontuacaoFidelidade")', 
        ExportarTodosExtrato: '@Url.Action("ExportarTodosExtrato","ResgatePontuacaoFidelidade")',
        MatrizPontuacaoFidelidade: '@Url.Action("MatrizPontuacaoFidelidade", "PontuacaoFidelidade")'
    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div class="col-md-24">
    @{
        Html.RenderPartial("_Filtro", new PontuacaoFidelidadeDTO());
    }
</div>

<div class="col-md-24">
    <div class="tabs-container col-md-24">
        <input type="radio" name="tabs" class="tabs" id="tab1" checked>
        <label for="tab1">@GlobalMessages.Pontuacao</label>
        <div class="col-md-24" style="
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        ">
            @{
                Html.RenderPartial("_Datatable");
                Html.RenderPartial("_Rodape",new PontuacaoFidelidadeDTO());
            }
        </div>

        <input type="radio" name="tabs" class="tabs" id="tab2" checked>
        <label for="tab2">@GlobalMessages.Extrato</label>
        <div class="col-md-24" style="
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        ">
            @{
                Html.RenderPartial("_Extrato");
                //Html.RenderPartial("_Rodape",new PontuacaoFidelidadeDTO());
            }
        </div>
    </div>
</div>


@{ 
    //Html.RenderPartial("_Rodape", new PontuacaoFidelidadeDTO());
    Html.RenderPartial("_ModalResgate", new PontuacaoFidelidadeDTO());
}

<form id="Exportar"></form>