@using Europa.Resources
@using Tenda.EmpresaVenda.Portal.Models.Application
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@GlobalMessages.RecuperarSenha</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Static/images/favicon.ico" />

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/europa")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/europa")
    @Scripts.Render("~/Static/scripts/jquery-placeholder.js")

    <script src="~/Static/europa/dynamic/europa-messages-enuns.js"></script>
    <script src="~/Static/europa/dynamic/europa-messages.js"></script>
    <link href="~/Static/europa/css/europa-modal.css" rel="stylesheet" />
    <link href="~/Static/europa/css/login.css" rel="stylesheet" />
</head>

<body>
    <div class="col-md-24 div-imgs-balls">
        <img src="~/Static/images/logo-credenciada.png" />
        <img src="~/Static/images/login/bola-gde-menor-red-cima.png" />
        <img src="~/Static/images/login/bola-rosa-menor-alto.png" />
    </div>
    <div class="col-md-24 wrapper container-fluid" style="float: left;margin: 0;margin-top: 8%;height:100%">
        <div class="div-text-login">
            <span>@GlobalMessages.EsqueciSenha</span>
        </div>
        <div class="msg-acesso" style="margin-top:2%;">
            <span>@GlobalMessages.DigiteEmailCadastro</span>
        </div>
        <div class="col-md-24 ">
            <img class="img-3-bolls" src="~/Static/images/login/3-bolas-rosas.png" style="margin-top: 40px;" />
            <div style="margin-left: auto;margin-right: auto; width: 450px;margin-top: 30px;">
                <div class="form">
                    <div class="div-login-input">
                        <span>
                            @GlobalMessages.Usuario
                        </span>
                        <div class="inner-addon left-addon">
                            <i class="iconlogin fa fa-envelope-o"></i>
                            <input id="Username" class="@(ViewData.ModelState.Values.Count == 0 ? "form-control" : "errorBorder")" onkeyup="Europa.Controllers.RecuperarConta.CheckInputs()" name="Username" placeholder="@GlobalMessages.SeuEmail" />
                        </div>
                    </div>
                    <div class="col-md-24 msg-error-login-failure">
                        @{Html.RenderPartial("~/Views/Shared/Message.cshtml");}
                    </div>
                    <img class="small-ball" src="~/Static/images/login/bola-menor.png" />
                    <div class="form-group col-md-13 col-sm-13 col-xs-13 col-md-offset-6 col-sm-offset-6 col-xs-offset-6" style="margin-top:25px">
                        <button id="btn_login" type="submit" onclick="Europa.Controllers.RecuperarConta.EsquecimentoSenha()">@GlobalMessages.Avancar</button>
                    </div>
                </div>
            </div>
        </div>
        @{ Html.BeginForm("MensagemEnvio", "RecuperarConta", FormMethod.Post);
            <button id="btn_redirect_sucess" type="submit" style="display:none;"></button>
            Html.EndForm();
        }
        <div class="div-img-footer">
            <img src="~/Static/images/login/bola-rosa.png" />
            <img src="~/Static/images/login/bola-gde-menor-red-baixo.png" />
        </div>
        <div class="col-md-24 msg-footer-tenda">
            <div class="col-md-23 col-md-offset-1">
                <img src="~/Static/images/tenda-logo.png" />
                <p>@string.Format(GlobalMessages.TodosDireitosReservadosTenda,DateTime.Now.Year)</p>
            </div>
        </div>
        <div class="col-md-24" style="color: transparent; font-size: smaller">
            @{Html.RenderPartial("~/Views/Shared/Footer.cshtml");}
        </div>
    </div>

    @{Html.RenderPartial("~/Views/Shared/Dialogo.cshtml");}

    <script src="~/Static/projeto/recuperar-conta/recuperar-conta.js"></script>
    <script>
        Europa.Controllers.RecuperarConta.UrlReenviarTokenAtivacao = '@Url.Action("ReenviarTokenAtivacao","RecuperarConta")';
    </script>
</body>
</html>
