@using Europa.Resources
@using Europa.Fmg.Portal.Models.Application
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@GlobalMessages.RecuperarSenha</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Static/images/favicon.ico" />

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/europa")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/europa")
    @Scripts.Render("~/Static/scripts/jquery-placeholder.js")

    <script src="~/Static/europa/dynamic/europa-messages-enuns.js"></script>
    <script src="~/Static/europa/dynamic/europa-messages.js"></script>
    <link href="~/Static/europa/css/europa-modal.css" rel="stylesheet" />
    <link href="~/Static/europa/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-24 div-imgs-balls">
        <img src="~/Static/images/logo-credenciada.png" style="visibility:hidden"/>
        <img src="~/Static/images/login/bola-gde-menor-red-cima.png" />
        <img src="~/Static/images/login/bola-rosa-menor-alto.png" />
    </div>
    <div class="col-md-24 wrapper container-fluid" style="float: left;margin: 0;margin-top:8%;height:100%">
        <div class="div-text-login">
            <img src="~/Static/images/layout-contrato/tenda-vermelho.png" style="width:154px; height:161px;" />
        </div>
        <img class="img-3-bolls" src="~/Static/images/login/3-bolas-rosas.png" />
        <div class="div-text-login" style="font-size: 23px; margin-top:25px;">
            <span>@GlobalMessages.VerifiqueCaixaMensagem</span>
            <img class="small-ball" src="~/Static/images/login/bola-menor.png" />
        </div>
        <div class="msg-acesso" style="margin-top: 10px;">
            <span>@GlobalMessages.EnvioEmailRedefinirSenha</span>
            
        </div>
        <div class="div-img-footer">
            <img src="~/Static/images/login/bola-rosa.png" />
            <img src="~/Static/images/login/bola-gde-menor-red-baixo.png" />
        </div>
        <div class="col-md-24 msg-footer-tenda">
            <div class="col-md-23 col-md-offset-1">
                <img src="~/Static/images/tenda-logo.png" />
                <p>@string.Format(GlobalMessages.TodosDireitosReservadosTenda, DateTime.Now.Year)</p>
            </div>
        </div>
        <div class="col-md-24" style="color: transparent; font-size: smaller">
            @{Html.RenderPartial("~/Views/Shared/Footer.cshtml");}
        </div>
    </div>
</body>
</html>