@using Europa.Resources

<script type="text/javascript" src="~/Static/projeto/consulta-estoque/modal-unidade.js"></script>

<div class="modal fade bd-example-modal-lg" id="disponibilidade-unidade-modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.ConsultaEstoqueUnidade</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row form-group">
                        <div class="col-md-4">
                            @Html.Label(GlobalMessages.Empreendimento)
                            @Html.TextBox("modal_unidade_empreendimento", "", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label(GlobalMessages.Caracteristicas)
                            @Html.TextBox("modal_unidade_caracteristicas", "", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label(GlobalMessages.PrevisaoEntrega)
                            @Html.TextBox("modal_unidade_previsao_entrega", "", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    @{
                        Html.RenderPartial("~/Views/ConsultaEstoque/_UnidadeDatatable.cshtml");
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button__red__outline" title="@GlobalMessages.EnviarParaIntegracao" onclick="Europa.Components.ConsultaEstoqueModalUnidade.PreSelecionar()">
                    @GlobalMessages.EnviarParaIntegracao
                </button>
                <button type="button" class="button__red__outline" title="@GlobalMessages.Fechar" data-dismiss="modal">
                    @GlobalMessages.Fechar
                </button>
            </div>
        </div>
    </div>
</div>
