@using Tenda.EmpresaVenda.Portal.Models.Application
@using Tenda.Domain.Core.Enums
@using Europa.Resources

<div class="col-md-24">
    <div class="col-md-24">
        <form id="form_filtro_empresa_venda">
            <div class="col-md-6">
                @Html.Label(GlobalMessages.Nome)
                @Html.TextBox("filtro_nome", "", new {@class = "form-control", maxlength = 128})
            </div>
            <div class="col-md-4 col-md-offset-1">
                @Html.Label(GlobalMessages.CpfCnpjCreci)
                @Html.TextBox("filtro_cpf_cnpj_creci", "", new {@class = "form-control", maxlength = 30})
            </div>
            <div class="col-md-4 col-md-offset-1">
                @Html.Label(GlobalMessages.Situacao)
                @Html.DropDownList("filtro_situacoes", EnumHelper.GetSelectList(typeof(Situacao)), new {@class = "form-control", multiple = "multiple"})
            </div>

            <div class="pull-right" style="margin-top: 22px">
                <button class="btn" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.Corretor.FiltrarTabela()">@GlobalMessages.Filtrar</button>
                <button type="button" title="@GlobalMessages.Limpar" class="btn" onClick="Europa.Controllers.Corretor.LimparFiltro()">@GlobalMessages.Limpar</button>
            </div>
        </form>
    </div>
    <div ng-controller="corretoresTable as table">
        <div id="datatable_header" class="col-md-24">
            <div class="pull-right">
                <div class="btn-group">
                    <button class='btn dropdown-toggle' title="@GlobalMessages.Opcoes" type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @GlobalMessages.Opcoes
                    </button>
                    <ul class="dropdown-menu pull-right">
                        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Ativar"))
                        {
                            <li><a href="#" title="@GlobalMessages.Reativar" ng-click='reativarItens()'>@GlobalMessages.Reativar</a></li>
                        }
                        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Suspender"))
                        {
                            <li><a href="#" title="@GlobalMessages.Suspender" ng-click='suspenderItens()'>@GlobalMessages.Suspender</a></li>
                        }
                        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar"))
                        {
                            <li role="separator" class="divider"></li>
                            <li><a href="#" title="@GlobalMessages.Cancelar" ng-click='cancelarItens()'>@GlobalMessages.Cancelar</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>