@using Europa.Resources
@using Europa.Fmg.Portal.Models.Application
@{
    ViewBag.Codigo = "EVS02";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}


<script src="~/Static/projeto/corretor/corretor.js"></script>
<script src="~/Static/projeto/corretor/corretor-datatable.js"></script>
<script src="~/Static/projeto/corretor/corretor-perfil.js"></script>

<script>
    Europa.Controllers.Corretor.UrlListar = '@Url.Action("Listar", "Corretor")';
    Europa.Controllers.Corretor.UrlIncluir = '@Url.Action("SalvarComPerfil", "Corretor")';
    Europa.Controllers.Corretor.UrlAlterar = '@Url.Action("Atualizar", "Corretor")';
    Europa.Controllers.Corretor.UrlExcluir = '@Url.Action("Excluir", "Corretor")';
    Europa.Controllers.Corretor.UrlReativar = '@Url.Action("Reativar", "Corretor")';
    Europa.Controllers.Corretor.UrlSuspender = '@Url.Action("Suspender", "Corretor")';
    Europa.Controllers.Corretor.UrlCancelar = '@Url.Action("Cancelar", "Corretor")';
    Europa.Controllers.Corretor.UrlBuscarCorretor = '@Url.Action("BuscarCorretor", "Corretor")';
    Europa.Controllers.Corretor.UrlReenviarTokenAtivacao = '@Url.Action("ReenviarTokenAtivacao", "Corretor")';
    Europa.Controllers.Corretor.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar").ToString().ToLower()'
    };
    Europa.Controllers.Corretor.UrlPerfisSelecionados = '@Url.Action("ListaPerfisSelecionados", "Corretor")';
    Europa.Controllers.Corretor.UrlSistemaEmpresaVendaPortal = '@Url.Action("BuscaEmpresaVendaPortal", "Corretor")';
    Europa.Controllers.Corretor.UrlIncluirPerfil = '@Url.Action("IncluirPerfil", "Corretor")';
    Europa.Controllers.Corretor.UrlExcluirPerfil = '@Url.Action("ExcluirPerfil", "Corretor")';
    Europa.Controllers.Corretor.UrlBuscarPerfil = '@Url.Action("BuscarPerfil", "Corretor")';
    Europa.Controllers.Corretor.UrlBuscarCorretorView = '@Url.Action("BuscarCorretorView", "Corretor")';

</script>

<div class="menu-options" align='center'>
    <div id="titlebar-name">
        <h3>@ViewBag.Title</h3>
    </div>
    <div id="titlebar-buttons">
        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
        {
            <div id="header_listagem">
                <div class="button-group" style="padding-right: 15px;text-align: right;">
                    <!--<i class="btn fa fa-search btn-icon" aria-hidden="true" title="@GlobalMessages.Buscar"
                           onclick="Europa.Controllers.Corretor.Incluir()"
                           style="font-size: 32px; margin-right: 30px;"></i>-->
                    <button class="btn btn-white" title="@GlobalMessages.Adicionar"
                            type="button" onclick="Europa.Controllers.Corretor.Incluir()">
                        <i aria-hidden="true"></i> @GlobalMessages.Adicionar
                    </button>
                </div>
            </div>
        }
        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir") || SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar"))
        {
            <div id="header_edicao" style="display: none;">
                <div id="botoes_edicao" class="button-group" style="text-align: right;">
                    <button type="button" title="@GlobalMessages.Cancelar" class="btn btn-white"
                            onClick="Europa.Controllers.Corretor.CancelarEdicao()"
                            style="margin-right: 15px;">
                        @GlobalMessages.Cancelar
                    </button>
                    <button type="button" title="@GlobalMessages.Salvar" class="btn btn-white"
                            onClick="Europa.Controllers.Corretor.Salvar()">
                        @GlobalMessages.Salvar
                    </button>
                </div>
            </div>
            <div id="header_detalhamento" style="display: none;">
                <div id="botoes_detalhamento" class="button-group">
                    <img src="~/Static/images/x-icon.png" class="btn-close pull-right" title="@GlobalMessages.Fechar"
                         onclick="Europa.Controllers.Corretor.CancelarEdicao()"
                         width="18px" height="17px"
                         style="margin-top: 5px;"/>
                </div>
            </div>
        }
    </div>
</div>

<div class="col-md-24">
    <div id="div_visualizacao">
        @{
            Html.RenderPartial("_CorretorDataTable");
        }
    </div>
    <div id="div_edicao" style="display:none">
        @{
            Html.RenderPartial("_FormularioCompleto");
        }

        @{
            Html.RenderPartial("_CorretorPerfil");
        }
    </div>
</div>