@using Europa.Resources
@using Europa.Fmg.Portal.Models.Application
@using Tenda.Domain.EmpresaVenda.Enums
@using Europa.Extensions
@using System.Globalization

@model Europa.Fmg.Domain.Services.Models.NotaFiscalDTO



<style>
    .borda {
        width: 718px;
        height: auto;
        box-shadow: 4px 4px 50px 0 rgba(0, 0, 0, 0.25);
        border: solid 2px #003e62;
        background-color: var(--white);
        margin: 33px 103px 33px 103px;
    }

    .celula-logo-cabecalho {
        padding: 18px 18px 16px 18px;
        border: solid 2px #003e62;
    }

    .celula-cabecalho {
        padding: 6px 11px 6px 11px;
        border: solid 1px #003e62;
    }

    .texto-cabecalho {
        width: 121px;
        height: 15px;
        /*background-color: var(--dark);*/
        font-family: AktivGrotesk;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--dark);
    }

    .secao {
        border: solid 1px #003e62;
        padding-left: 16px;
        padding-right: 17px;
        padding-bottom: 8px;
        border-bottom-style: hidden;
    }

    .titulo-1 {
        height: 26px;
        font-family: AktivGrotesk;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #e4002b;
        padding: 8px 0px 0px 0px;
    }

    .celula {
        height: 31px;
        background-color: #e4ebef;
        padding: 9px 0px 0px 8px;
        margin-top: 8px;
    }

    .titulo-2 {
        font-family: AktivGrotesk;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #003e62;
        font-weight: bold;
    }

    .conteudo {
        font-family: AktivGrotesk;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #003e62;
    }

    .titulo-3 {
        font-family: AktivGrotesk;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #003e62;
        font-weight: bold;
        padding: 9px 15px 8px 8px;
        background-color: #bbe5ee;
    }

    .conteudo-2 {
        font-family: AktivGrotesk;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #003e62;
        background-color: #efefef;
        padding: 9px 17px 8px 7px;
        margin-left: 2px;
    }

    .rodape {
        height: 41px;
        background-color: #e4002b;
        padding-top: 14px;
        padding-bottom: 10px;
        text-align: center;
    }

    .titulo-4 {
        width: 186px;
        height: 17px;
        font-family: AktivGrotesk;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: var(--white);
    }
    
    .detalhes
    {
        padding-top: 8px;
        color: #003d62;
        font-family: AktivGrotesk;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        text-decoration: underline;
        text-align:end;
    }

    .detalhes:hover {
        color: #196FA3;
        cursor: pointer;
    }

    .triangle {
        width: 15px;
        height: 27px;
        margin-right: 8px;
    }

    
</style>

<div class="col-md-24 borda">
    <div class="col-md-24">
        <p style="margin-left: 10px;margin-top: 10px;"><strong>Deverá haver o recolhimento de impostos sobre o valor bruto da nota fiscal conforme legislação vigente, em caso de dúvidas, acione o seu contador.</strong></p>
    </div>
    <div class="col-md-16 celula-logo-cabecalho">
        <img style="height:51px" src="~/Static/images/logo-tenda-tagline-rgb-vermelho.png" />
    </div>
    <div class="col-md-8">
        <div class="col-md-24 celula-cabecalho">
            <span class="texto-cabecalho">Número da Nota</span>
        </div>
        <div class="col-md-24 celula-cabecalho">
            <span class="texto-cabecalho">Data e Hora de Emissão</span>
        </div>
        <div class="col-md-24 celula-cabecalho">
            <span class="texto-cabecalho">Código de Verificação</span>
        </div>
    </div>
    <div class="col-md-24 secao">
        <div class="col-md-24 titulo-1">PRESTADOR DE SERVIÇO</div>
        <div class="col-md-6 celula">
            <span class="titulo-2"><b>@GlobalMessages.Cnpj:</b></span>
            <span class="conteudo">@Model.CnpjEmpresaVenda</span>
        </div>
        <div class="col-md-17 col-md-offset-1 celula">
            <span class="titulo-2"><b>@GlobalMessages.RazaoSocial:</b></span>
            <span class="conteudo">@Model.RazaoSocialEmpresaVenda</span>
        </div>
        <div class="col-md-24 celula">
            <span class="titulo-2"><b>@GlobalMessages.Endereco:</b></span>
            <span class="conteudo">@Model.LogradouroEmpresaVenda, @Model.NumeroEmpresaVenda, @Model.BairroEmpresaVenda - CEP @Model.CepEmpresaVenda.ToCEPFormat()</span>
        </div>
        <div class="col-md-21 celula">
            <span class="titulo-2"><b>@GlobalMessages.Municipio:</b></span>
            <span class="conteudo">@Model.CidadeEmpresaVenda</span>
        </div>
        <div class="col-md-2 col-md-offset-1 celula">
            <span class="titulo-2"><b>@GlobalMessages.UF:</b></span>
            <span class="conteudo">@Model.RegionalEmpresaVenda</span>
        </div>
    </div>
    <div class="col-md-24 secao">
        <div class="col-md-24 titulo-1">TOMADOR DE SERVIÇOS</div>
        <div class="col-md-6 celula">
            <span class="titulo-2"><b>@GlobalMessages.Cnpj:</b></span>
            <span class="conteudo">@Model.CnpjEstabelecimento</span>
        </div>
        <div class="col-md-17 col-md-offset-1 celula">
            <span class="titulo-2"><b>@GlobalMessages.RazaoSocial:</b></span>
            <span class="conteudo">@Model.RazaoSocialEstabelecimento</span>
        </div>
        <div class="col-md-24 celula">
            <span class="titulo-2"><b>@GlobalMessages.Endereco:</b></span>
            <span class="conteudo">@Model.LogradouroEstabelecimento, @Model.NumeroEstabelecimento, @Model.BairroEstabelecimento - CEP @Model.CepEstabelecimento</span>
        </div>
        <div class="col-md-21 celula">
            <span class="titulo-2"><b>@GlobalMessages.Municipio:</b></span>
            <span class="conteudo">@Model.CidadeEstabelecimento</span>
        </div>
        <div class="col-md-2 col-md-offset-1 celula">
            <span class="titulo-2"><b>@GlobalMessages.UF:</b></span>
            <span class="conteudo">@Model.RegionalEstabelecimento</span>
        </div>
    </div>
    <div class="col-md-24 secao" style="height:10px"></div>
    <div class="col-md-24 secao" style="max-height: 406px; overflow-y: scroll">
        <div class="col-md-24 titulo-1" style="margin-bottom: 19px;">DESCRIÇÃO DOS SERVIÇOS</div>

        <div class="col-md-24">
            <div class="col-md-4 titulo-3" style="width: max-content;color: white !important; background-color: #003d62 !important"><b>@GlobalMessages.NumeroPedido:</b></div>
            <div class="col-md-4 conteudo-2" style="width:max-content">@Model.PedidoSap</div>
        </div>
        @{int i = 1;}
        @foreach (var nota in Model.NotasFiscais)
        {
            <div class="col-md-24" style="margin-top: 16px; padding-bottom: 10px;">
                <div class="col-md-24" style="">
                    <div class="col-md-3 col-md-pull-0 titulo-3" style="width:max-content">@GlobalMessages.Cliente @i:</div>
                    <div class="col-md-18 coll-md-push-3 conteudo-2" style="width:583px;">@nota.NomeCliente.ToUpper()</div>
                </div>

                <div class="col-md-24" style="margin-top: 8px;">
                    <div class="col-md-1 titulo-3" style="width:max-content"><b>PRO:</b></div>
                    <div class="col-md-5 conteudo-2" style="min-height: 32px;margin-right: 8px;">@nota.CodigoProposta</div>
                    <div class="col-md-1 titulo-3" style="width:max-content"><b>@GlobalMessages.Comissao:</b></div>
                    <div class="col-md-4 conteudo-2" style="width:max-content">@String.Format(new CultureInfo("pt-BR"), "{0:C}", nota.ValorAPagar)</div>
                    <div class="pull-right col-md-4 detalhes" onclick="detalharServicoPorCliente(event.target);">
                        <img class="triangle" style="vertical-align:middle !important;" onclick="detalharServicoPorCliente(event.target.parentNode);" src="~/Static/images/caret-down.png" />
                        Detalhes
                    </div>
                </div>

                <div class="col-md-24" style="margin-top: 8px; display:none;">
                    <div class="col-md-24" style="margin-top: 8px;">
                        <div class="col-md-1 titulo-3" style="width:max-content;"><b>PPR:</b></div>
                        <div class="col-md-5 conteudo-2" style=" min-height: 32px;">@nota.CodigoPreProposta</div>
                    </div>

                    <div class="col-md-24" style="margin-top: 8px;">
                        <div class="col-md-5 titulo-3" style="width:max-content"><b>@GlobalMessages.Empreendimento:</b></div>
                        <div class="col-md-18 conteudo-2">@nota.NomeEmpreendimento</div>
                    </div>

                    <div class="col-md-24" style="margin-top: 8px;">
                        <div class="col-md-1 titulo-3" style="width:max-content"><b>@GlobalMessages.Torre:</b></div>
                        <div class="col-md-4 conteudo-2" style="width:max-content">@nota.DescricaoTorre</div>

                        <div class="col-md-1 titulo-3" style="width:max-content;margin-left:8px;"><b>@GlobalMessages.Unidade:</b></div>
                        <div class="col-md-4 conteudo-2" style="width:max-content">@nota.DescricaoUnidade</div>

                        <div class="col-md-1 titulo-3" style="width:max-content;margin-left:8px;"><b>@GlobalMessages.VgvSemPremiada:</b></div>
                        <div class="col-md-4 conteudo-2" style="width:max-content">@String.Format(new CultureInfo("pt-BR"), "{0:C}", nota.ValorVgv)</div>
                    </div>

                    <div class="col-md-24" style="margin-top: 8px;">
                        <div class="col-md-1 titulo-3" style="width:max-content"><b>@GlobalMessages.Comissao:</b></div>
                        <div class="col-md-4 conteudo-2" style="width:max-content">@String.Format(new CultureInfo("pt-BR"), "{0:C}", nota.ValorAPagar)</div>

                        <div class="col-md-1 titulo-3" style="width:max-content;margin-left:8px;"><b>@GlobalMessages.Porcentagem:</b></div>
                        <div class="col-md-4 conteudo-2" style="width:max-content">@Math.Round(nota.Percentual, 2)%</div>

                        <div class="col-md-1 titulo-3" style="width:max-content;margin-left:8px;"><b>@GlobalMessages.Parcela:</b></div>
                        <div class="col-md-4 conteudo-2" style="width:max-content">@nota.RegraPagamento% @nota.TipoPagamento.AsString()</div>
                    </div>

                    <div class="col-md-24" style="margin-top: 8px;">
                        <div class="col-md-1 titulo-3" style="width:max-content"><b>@GlobalMessages.Tabela:</b></div>
                        <div class="col-md-4 conteudo-2" style="width:max-content">@nota.ModalidadeComissao.AsString()</div>

                        @if (nota.ModalidadeComissao == TipoModalidadeComissao.Nominal)
                        {
                            <div class="col-md-1 titulo-3" style="width:max-content;margin-left:8px;"><b>@GlobalMessages.SubTabela:</b></div>
                            <div class="col-md-4 conteudo-2" style="width:max-content">@nota.SubTabela.AsString()</div>
                        }

                        <div class="col-md-1 titulo-3" style="width:max-content;margin-left:8px;"><b>@GlobalMessages.Faixa:</b></div>
                        <div class="col-md-4 conteudo-2" style="width:max-content">@nota.Tipologia.AsString()</div>

                        <div class="col-md-1 titulo-3" style="width:max-content;margin-left:8px;"><b>Cód. fornecedor SAP:</b></div>
                        <div class="col-md-4 conteudo-2" style="width:max-content">@Model.CodigoFornecedorSap</div>
                    </div>
                </div>
            </div>
            i++;
        }

        <div class="col-md-24" style="margin-top: 8px;">
            <div class="col-md-4 titulo-3" style="width: max-content;background-color: #003d62 !important;color: white !important"><b>Cód. do Serviço:</b></div>
            <div class="col-md-20 conteudo-2" style="width:543px">10.05.03 - agenciamento, corretagem ou intermediação de bens imóveis</div>
        </div>
    </div>
    <div class="col-md-24 rodape" style="margin-top:16px">
        <span class="titulo-4">Valor da Nota:</span>
        <span class="titulo-4"><b>@Model.Total</b></span>
    </div>
</div>
