@using Europa.Resources
@model Tenda.EmpresaVenda.ApiService.Models.Loja.LojaPortalDto

<script src="~/Static/projeto/loja-portal/formulario-loja-portal.js"></script>

<div class="col-md-24">
    <form id="form_loja_portal">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.IdCentralVenda)
        @Html.HiddenFor(x => x.NomeCentralVenda)
        <div class="col-md-24" id="div_dados_loja">
            <div class="col-md-24">
                <div class="col-md-4 form-group">
                    @Html.Label(GlobalMessages.Nome + " *", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", @maxlength = 128 })
                </div>
                <div class="col-md-4 col-md-offset-1 form-group">
                    @Html.Label(GlobalMessages.NomeComercial + " *", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.NomeComercial, new { @class = "form-control", @maxlength = 256 })
                </div>
                <div class="col-md-4 col-md-offset-1 form-group">
                    @Html.Label(GlobalMessages.PessoaContato + " *", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.PessoaContato, new { @class = "form-control", @maxlength = 256 })
                </div>
                <div class="col-md-4 col-md-offset-1 form-group">
                    @Html.Label(GlobalMessages.Telefone + " *", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.TelefoneContato, new { @class = "form-control", @maxlength = 20 })
                </div>
                <div class="col-md-2 col-md-offset-1 form-group">
                    @Html.Label(GlobalMessages.Situacao + " *", new { @class = "control-label" })
                    @Html.EnumDropDownListFor(x => x.Situacao, GlobalMessages.Selecione, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-24">
                <div class="col-md-4 form-group">
                    @Html.Label(GlobalMessages.CentralVendas + " *", new { @class = "control-label" })
                    <select id="autocomplete_central_vendas" name="IdCentralVenda" class="select2-container form-control"></select>
                </div>
                <div class="col-md-9 form-group col-md-offset-1">
                    @Html.Label(GlobalMessages.Regionais + " *")
                    <select id="autocomplete_regional_loja" name="autocomplete_regional_loja" style="width: 100%;" class="select2-container form-control" multiple="multiple"></select>
                </div>
                <div class="col-md-9 form-group col-md-offset-1">
                    @Html.Label(GlobalMessages.ConsiderarUf + " *", new { @class = "control-label" })
                    @Html.EnumDropDownListFor(x => x.ConsiderarUF, GlobalMessages.ConsiderarUf, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </form>
</div>