@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.EmpresaVenda.ApiService.Models.Loja
@using Europa.Resources

@{
    ViewBag.Codigo = "CAD15";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/loja-portal/loja-portal.js"></script>

<script>
    Europa.Controllers.LojaPortal.UrlListar = '@Url.Action("Listar", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlIncluir = '@Url.Action("Incluir", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlAtualizar = '@Url.Action("Alterar", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlExcluir = '@Url.Action("Excluir", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlReativar = '@Url.Action("Reativar", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlSuspender = '@Url.Action("Suspender", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlCancelar = '@Url.Action("Cancelar", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlUploadFoto = '@Url.Action("UploadFoto", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlMeuCadastro = '@Url.Action("Detalhar", "MeuCadastro")';
    Europa.Controllers.LojaPortal.UrlBuscarLojaPortal = '@Url.Action("Buscar", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlExportarPagina = '@Url.Action("ExportarPagina", "LojaPortal")';
    Europa.Controllers.LojaPortal.UrlExportarTodos = '@Url.Action("ExportarTodos", "LojaPortal")';
    Europa.Controllers.LojaPortal.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Editar").ToString().ToLower()',
        Reativar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Reativar").ToString().ToLower()',
        Suspender: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Suspender").ToString().ToLower()',
        Cancelar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar").ToString().ToLower()',
        UploadFoto: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "UploadFoto").ToString().ToLower()',
        ExportarPagina: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina").ToString().ToLower()',
        ExportarTodos: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos").ToString().ToLower()'
    };
    Europa.Controllers.LojaPortal.urlBuscarRegionaisLoja = '@Url.Action("ListarRegionaisPorEmpresa", "RegionalEmpresa")';

</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div id="titlebar-buttons">
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
    {
        <div id="botoes_visualizacao">
            <button class="btn btn-default" title="@GlobalMessages.Novo" type="button" onclick="Europa.Controllers.LojaPortal.HabilitarEdicao()">
                <i class="fa fa-plus" aria-hidden="true"></i> @GlobalMessages.Novo
            </button>
        </div>
        <div id="botoes_edicao" style="display:none">
            <button type="button" title="@GlobalMessages.Salvar" class="btn btn-default" onClick="Europa.Controllers.LojaPortal.Salvar()"><i class="fa fa-floppy-o"></i> @GlobalMessages.Salvar</button>
            <button type="button" title="@GlobalMessages.Cancelar" class="btn btn-default" onClick="Europa.Controllers.LojaPortal.CancelarEdicao()"><i class="fa fa-ban"></i> @GlobalMessages.Cancelar</button>
        </div>
    }
</div>

@if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar"))
{
    <div id="div_visualizacao">
        @{
            Html.RenderPartial("_DataTableLojaPortal");
        }
    </div>

    <div id="div_edicao" style="display:none">
        @{
            Html.RenderPartial("_FormularioCompleto", new LojaPortalDto());
        }
    </div>
}

@*@{ 
    Html.RenderPartial("_ModalUploadArquivo");
}*@