<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>WebFMG</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-datatable")
    @Styles.Render("~/css/angular-datatable")

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/font-awesome")

    @*@Styles.Render("~/css/europa")
    @Scripts.Render("~/bundles/europa")*@
    <link rel="stylesheet" href="~/Static/css/main.css" />
    <link rel="stylesheet" href="~/Static/css/button.css" />

    @*<script src="~/Static/js/main.js"></script>*@
</head>
<body>
    <div>
        <div>
            @Html.Partial("_Header")
        </div>
        <div>

            @RenderBody()
        </div>

    </div>
    @Html.Partial("_Footer")
</body>
</html>
