<!DOCTYPE html>
<html ng-app="europaApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/bootstrap-daterangepicker")
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/select2")
    @Styles.Render("~/css/angular-datatable")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap-daterangepicker")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-datatable")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/europa")
    <script src="~/Static/europa/dynamic/europa-messages-enuns.js"></script>
    <script src="~/Static/europa/dynamic/europa-messages.js"></script>
    <link rel="stylesheet" href="~/Static/css/main.css" />
    <link rel="stylesheet" href="~/Static/css/button.css" />

    <script src="~/Static/js/main.js"></script>


</head>
<body>
    @{
        Html.RenderPartial("_AutoCompleteAction");
        Html.RenderPartial("Dialogo");
        Html.RenderPartial("_DetailAction");

    }
    <script src="~/Static/projeto/autocomplete-declaration.js"></script>
    <div class="app">
        <div>
            @Html.Partial("_Header")
        </div>
        <div style="margin-bottom:100px">
            @RenderBody()
        </div>
        <script>
            Europa.AjustTitleAndMenuAcitons()
        </script>
        @Html.Partial("_Footer")
    </div>
</body>
</html>

