@using Tenda.EmpresaVenda.Portal.Models.Application
@using System
<!DOCTYPE html>
<html ng-app="europaApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @{
            if (ViewBag.Title == null)
            {
                ViewBag.Title = ApplicationInfo.NomeSistema();
            }
            @ViewBag.Title;
        }
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Static/images/favicon.ico" />
    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/bootstrap-daterangepicker")
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/select2")
    @Styles.Render("~/css/jquery-ui")
    @Styles.Render("~/css/fullcalendar")
    @Styles.Render("~/css/notify")
    @Styles.Render("~/css/tinymce")
    @Styles.Render("~/css/bootstrap-treeview")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryNumeric")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/pdfjs")
    @Scripts.Render("~/bundles/pdfobject")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-daterangepicker")
    @Scripts.Render("~/bundles/bootstrap-validator")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-datatable")
    @Styles.Render("~/css/angular-datatable")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/notify")

    @Styles.Render("~/css/europa")
    @Scripts.Render("~/bundles/europa")
    @Scripts.Render("~/bundles/bootstrap-treeview")


    @* LINK PARA OS ARQUIVOS DO NOVO LAYOUT - TEMPORARIO *@
    <link href="~/Static/europa/css/europa-layout.css" rel="stylesheet" />
    <link href="~/Static/europa/css/europa-menu-icons.css" rel="stylesheet" />
    <link href="~/Static/europa/css/europa-button.css" rel="stylesheet" />
    <link href="~/Static/europa/css/europa-input.css" rel="stylesheet" />
    <link href="~/Static/europa/css/europa-modal.css" rel="stylesheet" />
    <link href="~/Static/europa/css/europa-tabs.css" rel="stylesheet" />
    <link href="~/Static/europa/css/europa-text.css" rel="stylesheet" />
    <link href="~/Static/europa/css/europa-action-bar.css" rel="stylesheet" />
    <link href="~/Static/europa/css/europa-main.css" rel="stylesheet" />


    <script src="~/Static/europa/js/europa-menu.js"></script>
    <script src="~/Static/europa/dynamic/europa-messages-enuns.js"></script>
    <script src="~/Static/europa/dynamic/europa-messages.js"></script>
    <script src="~/Static/tinymce/tinymce.min.js"></script>
    <script>
        var basePath = "@Request.Url.OriginalString.Replace(Request.Url.PathAndQuery, "")" + "@Request.ApplicationPath";
    </script>

    <style>
    </style>
</head>

<body>
    <div class="conteudo-layout">
        @{
            Html.RenderPartial("~/Views/Shared/_AutoCompleteAction.cshtml");
            Html.RenderPartial("~/Views/Shared/_DetailAction.cshtml");
        }
        <script src="~/Static/projeto/autocomplete-declaration.js"></script>
        <div class="container-fluid">
            <div id="title-bar-display">
                <nav class="menu-actions titlebar">
                    <div id="titlebar-wrapper" class="container-fluid">
                        <div id="titlebar-empty-space"></div>
                        <div href="#" id="titlebar-name-target"></div>
                        <div id="titlebar-buttons-target"></div>
                    </div>
                </nav>
                <div id="titlebar-extra-target"></div>
            </div>
            <div id="block_content_page" class="block-content">
                <div id="corpo-conteudo-layout" class="aling-content content">
                    @RenderBody()
                </div>
                <script>
                    Europa.AjustTitleAndMenuAcitons();
                </script>
                <div id="footer" class="footer">
                    <img class="logo-tenda" src="~/Static/europa/css/icons/tenda.svg" />
                    <p>Todos os direitos reservados Tenda @DateTime.Now.Year</p>
                </div>
            </div>
            <div class="col-md-24" style="color: transparent; font-size: smaller">
                @{Html.RenderPartial("~/Views/Shared/Footer.cshtml");}
            </div>
        </div>
        @{Html.RenderPartial("~/Views/Shared/Dialogo.cshtml");}
        @RenderSection("scripts", required: false)
    </div>

    <script>
        $.fn.select2.defaults.set("language", "pt-BR");
        $.fn.select2.defaults.set("theme", "bootstrap");
        $(document)
            .ready(function () {
                Europa.AjaxConfigure();
                Europa.Ready();
                $.fn.modal.Constructor.prototype.enforceFocus = function () { };
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
    </script>
</body>
</html>

