@using Europa.Resources
@using Tenda.EmpresaVenda.Portal.Models.Application
<!DOCTYPE html>
<html ng-app="europaApp">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Static/images/favicon.ico" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Styles.Render("~/css/europa")
    @Scripts.Render("~/bundles/europa")
    @Scripts.Render("~/bundles/bootstrap-treeview")

    <script src="~/Static/europa/js/pdf.js"></script>
    <script src="~/Static/europa/js/pdf.worker.js"></script>
    <link href="~/Static/europa/css/europa-layout-contrato.css" rel="stylesheet" />
</head>
<body>
    <div id="bg-body-layout" class="layoutIndex">
        <img class="bola-grd-menor-cima-logado" src="~/Static/images/layout-contrato/3-bolas-rosas-copy.png" />
        <img id="bola-rosa-menor-layout" class="bola-rosa-menor-logado" src="~/Static/images/login/bola-rosa-menor-alto.png" />
        <img id="bolas-no-blur-layout" class="bola-no-blur-logado" src="~/Static/images/layout-contrato/3-bolas-rosas.png" />
        <img id="bola-menor-layout" class="bola-menor-logado" src="~/Static/images/login/bola-menor.png" />
        <img id="bola-rosa-layout" class="bola-rosa-logado" src="~/Static/images/login/bola-rosa.png" />
        <img id="bola-grd-menor-layour" class="bola-grd-menor-red-logado" src="~/Static/images/login/bola-gde-menor-red-baixo.png" />
    </div>
    <div class="conteudo-layout">
        <div class="wrapper container-fluid">
            @RenderBody()
            <div class="col-md-24 msg-footer-tenda" style="width: 100%; background-color: #a6b9c8; height: 56px; bottom: 0;">
                <div class="col-md-23 col-md-offset-1" style="margin-left:40px;display: -webkit-inline-box;">
                    <img src="~/Static/images/tenda-logo.png"  style="width: 37px; margin-top: 11px;"/>
                    <p style="margin-top: 23px; margin-left: 15px; color: white; font-size: 16px; font-weight: 400;">@string.Format(GlobalMessages.TodosDireitosReservadosTenda, DateTime.Now.Year)</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
