@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources
@{
    ViewBag.Codigo = "SEG03";
}
<script src="~/Static/administrativo/usuario/usuario-datatable.js"></script>
<script>
    var False = false;
    Europa.Components.Datatable.Usuario.listAction = '@Url.Action("Listar", "Usuario")';
    Europa.Components.Datatable.Usuario.ActionSalvar = '@Url.Action("Salvar", "Usuario")';
    Europa.Components.Datatable.Usuario.ActionCancelar = '@Url.Action("Cancelar", "Usuario")';
    Europa.Components.Datatable.Usuario.ActionSuspender = '@Url.Action("Suspender", "Usuario")';
    Europa.Components.Datatable.Usuario.ActionAtivar = '@Url.Action("Ativar", "Usuario")';
    Europa.Components.Datatable.Usuario.permissao = [];
    Europa.Components.Datatable.Usuario.permissao.atualizar = '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()';
    Europa.Components.Datatable.Usuario.urlExportarUsuariosAtivos = '@Url.Action("ExportarUsuariosAtivos", "Usuario")';

</script>

<div ng-controller="UsuarioDataTable as table">
    <form class="form-inline">
        <div id="UsuarioDatatable_barra" class="col-md-24">
            <div class="col-md-18">
                <div class="input-group">
                    <input type="text" id="filtroNomeEmail" placeholder="@GlobalMessages.DigiteNomeEmailLogin" class="form-control" style="width: 300px !important">
                    <span class="input-group-btn">
                        <button class="btn btn-default" onclick="Europa.Components.Datatable.Usuario.Filtrar()"><i class="fa fa-filter" aria-hidden="true"></i></button>
                        <button class="btn btn-default" type="button" onclick="Europa.Components.Datatable.Usuario.AbrirModalFiltro()"><i class="fa fa-binoculars" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dropdown">
                    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Ativar") || SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Suspender") || SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar"))
                    {
                        <button class="btn btn-default dropdown-toggle pull-right" type="button" id="UsuarioDatatable_barra_btn_opcoes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-bars"></i>
                            @GlobalMessages.Opcoes
                        </button>
                        <ul class="dropdown-menu pull-right">
                            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Ativar"))
                            {
                                <li><a href="#" onclick="Europa.Components.Datatable.Usuario.AtivarRegistrosSelecionados()">@GlobalMessages.Reativar</a></li>
                            }
                            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Suspender"))
                            {
                                <li><a href="#" onclick="Europa.Components.Datatable.Usuario.SuspenderRegistrosSelecionados()">@GlobalMessages.Suspender</a></li>
                            }
                            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar"))
                            {
                                <li role="separator" class="divider"></li>
                                <li><a href="#" onclick="Europa.Components.Datatable.Usuario.CancelarRegistrosSelecionados()">@GlobalMessages.Cancelar</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </form>
</div>


<form id="formExportacaoUsuario" class="hidden"></form>
