@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources
@using Tenda.Domain.Core.Models
@using Tenda.EmpresaVenda.Web.Models.PreferenciasUsuarioViewModel
@model Tenda.EmpresaVenda.Web.Models.PreferenciasUsuarioViewModel.PreferenciasUsuarioViewModel

@{
    ViewBag.Codigo = "SEG03";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<div id="titlebar-name">
    @ViewBag.Title

    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarAprovacao"))
    {
        <button type="button" class="btn btn-default" style="position: absolute; right: 10px; top: 5px;" onclick="window.location = ('@Url.Action("IndexAprovacao", "Usuario")')">
            <i class="fa fa-lock"></i> @GlobalMessages.PendenteAprovacao
        </button>
    }
</div>

<div id="titlebar-buttons">
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarUsuariosAtivos"))
    {
        <button class="btn btn-default" title="@GlobalMessages.ExportarUsuariosAtivos" onclick="Europa.Components.Datatable.Usuario.ExportarUsuariosAtivos()">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarUsuariosAtivos
        </button>
    }
        <div class="pull-left" style="width:300px; margin-right:5px; margin-top:3px">
            @Html.DropDownListFor(x => x.Sistema.Id, Model.Sistemas.Select(x => new SelectListItem { Text = x.Nome, Value = x.Id.ToString() }), new { @class = "form-control", @id = "IdSistema" })
        </div>
    </div>

@{
    Html.RenderPartial("~/Views/Usuario/_DatatableUsuario.cshtml");
    Html.RenderPartial("~/Views/Shared/Componentes/Usuario/_ModalFormularioUsuario.cshtml", new PreferenciasUsuarioViewModel { Fila = new List<SelectListItem>(), Usuario = new UsuarioPortal() });
    Html.RenderPartial("~/Views/Usuario/_FiltroUsuarioModal.cshtml", new UsuarioPortal());
    Html.RenderPartial("~/Views/Shared/Componentes/_PerfilModal.cshtml");
}