@using Europa.Resources

<script>
    Europa.Controllers.Simulador.UrlBuscarUrlMatrizOferta = '@Url.Action("BuscarUrlMatrizOferta","Simulador")';
    Europa.Controllers.Simulador.UrlBuscarUrlSimulador = '@Url.Action("MontarUrlSimulador", "Simulador")';
    Europa.Controllers.Simulador.UrlMontarUrlSimuladorMenu = '@Url.Action("MontarUrlSimuladorMenu", "Simulador")';
    Europa.Controllers.Simulador.UrlMontarUrlMatrizOfertaMenu = '@Url.Action("MontarUrlMatrizOfertaMenu", "Simulador")';
    Europa.Controllers.Simulador.UrlAplicarSimulacaoAtual = '@Url.Action("AplicarSimulacaoAtual", "Simulador")';
    Europa.Controllers.Simulador.UrlMatrizOfertaCliente = '@Url.Action("UrlMatrizOfertaCliente", "Simulador")';
</script>
    
<div class="modal fade modal-fullscreen" id="dialogo_simulador" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" style="margin-top:3%;overflow-y:auto !important;min-width:100%;z-index:1000;">
    <div class="modal-dialog dialogo-simulador">
        <div class="modal-content content-simulador">
            <div class="modal-header" style="cursor: unset !important; height: 64px !important; background-image: linear-gradient(to bottom, #ed1c24, #d0021b 250%)">
                <div onclick="Europa.Controllers.Simulador.FecharDialogo();" style="margin-left: 96.5%;width: 4%;display: flex;flex-direction: column;">
                    <img id="btn_close" data-dismiss="modal"
                            style="cursor: pointer; width: 35px; margin-left: 3px;" src="~/Static/images/fechar-dialogo.png">
                    <br />
                    <label style="color: white; margin-top: -15px">Fechar</label>
                </div>
            </div>
            <div class="modal-body" onmouseover="Europa.Controllers.Simulador.CloseMenu()" id="modal_simulador" style="padding:0;border-top:0;">
                <div id="div-frame-simulador" name="div_frame" class="div-frame">
                </div>
            </div>

        </div>
    </div>
</div>




