@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@using Europa.Fmg.Portal.Models.Application
@using Europa.Extensions
@using Europa.Fmg.Domain.Commons

@model Europa.Fmg.Portal.Models.PrePropostaDTO

@{
    Model.PodeManterAssociacoes = Model.PreProposta != null &&
                                  Model.PreProposta.Id > 0 &&
                                  (SituacaoProposta.EmElaboracao == Model.PreProposta.SituacaoProposta ||
                                   SituacaoProposta.DocsInsuficientesSimplificado == Model.PreProposta.SituacaoProposta ||
                                   SituacaoProposta.Condicionada == Model.PreProposta.SituacaoProposta ||
                                    SituacaoProposta.DocsInsuficientesCompleta == Model.PreProposta.SituacaoProposta ||
                                   SituacaoProposta.AguardandoFluxo == Model.PreProposta.SituacaoProposta);
}

@{
    var listaTipoParcelasItbi = TipoParcelaWrapper.TipoParcelaItbiEmolumento().Select(x => new SelectListItem
    {
        Text = x.AsString(),
        Value = "" + (int)x
    });

    var listaTipoParcelasDetalhamentoFinanceiro = TipoParcelaWrapper.TipoParcelaDetalhamentoFinanceiro().Select(x => new SelectListItem
    {
        Text = x.AsString(),
        Value = "" + (int)x
    });
}

<script>

    //SIMULADOR
    Europa.Controllers.Simulador.UrlDetalhamentoFinanceiroBySimulador = '@Url.Action("DetalhamentoFinanceiroBySimulador", "Simulador")';
    Europa.Controllers.Simulador.UrlAtualizarResultadosSimulacao='@Url.Action("AtualizarResultadosSimulacao", "Simulador")';
    Europa.Controllers.Simulador.UrlMontarUrlSimulador= '@Url.Action("MontarUrlSimulador","Simulador")';
    Europa.Controllers.Simulador.UrlAplicarDetalhamentoFinanceiro = '@Url.Action("AplicarDetalhamentoFinanceiro", "Simulador")';

    Europa.Controllers.Simulador.Permissoes = {
        DetalhamentoFinanceiroManual:'@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "DetalhamentoFinanceiroManual").ToString().ToLower()'=='true'
    }

    //DETALAHMENTO FINANCEIRO
    Europa.Controllers.Simulador.UrlListarDetalhamentoFinanceiro = '@Url.Action("DetalhamentoFinanceiro", "Simulador")';
    Europa.Controllers.Simulador.UrlIncluirDetalhamentoFinanceiro = '@Url.Action("IncluirDetalhamentoFinanceiro", "PreProposta")';
    Europa.Controllers.Simulador.UrlAlterarDetalhamentoFinanceiro = '@Url.Action("AlterarDetalhamentoFinanceiro", "PreProposta")';
    Europa.Controllers.Simulador.UrlExcluirDetalhamentoFinanceiro = '@Url.Action("ExcluirDetalhamentoFinanceiro", "PreProposta")';
    Europa.Controllers.Simulador.UrlAtualizarTotalFinanceiro = '@Url.Action("AtualizarTotalFinanceiro", "Simulador")';
    Europa.Controllers.Simulador.PermissoesDetalhamentoFinanceiro = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarDetalhamentoFinanceiro").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirDetalhamentoFinanceiro").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExcluirDetalhamentoFinanceiro").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AlterarDetalhamentoFinanceiro").ToString().ToLower()'
    };
    Europa.Controllers.Simulador.DropDownTipoParcelaDetalhamentoFinanceiro =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("TipoParcela", listaTipoParcelasDetalhamentoFinanceiro,
        new { @class = "form-control" }).ToHtmlString()))';

    //ITBI
    Europa.Controllers.Simulador.UrlListarItbiEmolumento = '@Url.Action("ItbiEmolumento", "Simulador")';
    Europa.Controllers.Simulador.UrlIncluirItbiEmolumento = '@Url.Action("IncluirItbiEmolumento", "PreProposta")';
    Europa.Controllers.Simulador.UrlAlterarItbiEmolumento = '@Url.Action("AlterarItbiEmolumento", "PreProposta")';
    Europa.Controllers.Simulador.UrlExcluirItbiEmolumento = '@Url.Action("ExcluirItbiEmolumento", "PreProposta")';

    Europa.Controllers.Simulador.DropDownTipoParcelaItbiEmolumento =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("TipoParcela", listaTipoParcelasItbi,
        new { @class = "form-control" }).ToHtmlString()))';

    Europa.Controllers.Simulador.PermissoesItbiEmolumento = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarItbiEmolumento").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirItbiEmolumento").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExcluirItbiEmolumento").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AlterarItbiEmolumento").ToString().ToLower()'
    };

</script>

<div id="modal-simulacao" class="modal fade" tabindex="-1" role="dialog" style="z-index: 1041;margin-top: 1%;">
    <div class="modal-dialog" style="width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Europa.Controllers.Simulador.FecharModalSimulador()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@GlobalMessages.Resultado</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-24">
                    <div class="col-md-19">
                        @GlobalMessages.Simulacoes
                        @Html.DropDownList("simulacoes", new List<SelectListItem>(), GlobalMessages.Selecione, new { @class = "form-control", onChange = "Europa.Controllers.Simulador.OnChangeSimulacao()" })
                    </div>
                    <div class="col-md-1 pull-left"style="padding-left: 10px;">
                        @if (Model.PodeManterAssociacoes)
                        {
                                <button id="btn_simulador" class="btn" type="button"
                                        style="margin-top:16px"
                                        onclick="Europa.Controllers.Simulador.AtualizarSimulacoes()">
                                    <i class="fa fa-refresh"></i>
                                </button>
                        }
                    </div>

                    <div class="pull-right">
                        @if (Model.PodeManterAssociacoes)
                        {
                            <button id="btn_simulador" class="btn" type="button"
                                    style="margin-top:16px"
                                    onclick="Europa.Controllers.Simulador.AbrirSimulador()">
                                <i class="fa fa-archive"></i> Simulador
                            </button>
                        }
                    </div>
                </div>

                <div class="col-md-24">
                    <div class="col-md-11">
                        <form id="form-simulador">
                            <div class="col-md-24">
                                <div ng-controller="ResultadoSimulacaoModalTable as simulacao">
                                    <div id="resultado_simulacao_datatable_modal_header">
                                        <div class="col-md-10 ">
                                            <h5>@GlobalMessages.Resultado da Simulação</h5>
                                        </div>

                                    </div>
                                    <table datatable="" dt-options="simulacao.dtOptions" dt-columns="simulacao.dtColumns"
                                           dt-instance="simulacao.dtInstance" class="table table-striped table-bordered"
                                           dt-column-defs="simulacao.dtColumnDefs"></table>
                                </div>
                            </div>
                        </form>
                    </div>
                    @*Detalahmento financeiro*@
                    <div class="col-md-12 col-md-offset-1">
                        <div class="col-md-24">
                            <div ng-controller="DetalhamentoFinanceiroModalSimulador as table">
                                <div id="detalhamento_financeiro_datatable_modal_header">
                                    <div class="col-md-24">
                                        <div class="col-md-10">
                                            <h5>@GlobalMessages.DetalhamentoFinanceiro</h5>
                                        </div>
                                        @if (Model.PodeManterAssociacoes)
                                        {
                                            <div style="min-width:190px">
                                                 @if (Model.PodeManterAssociacoes && SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AplicarSimulacao"))
                                                 {
                                                <button id="btn-aplicar-simulacao" class="btn pull-right" type="button" onclick="Europa.Controllers.Simulador.AplicarDetalhamentoFinanceiro()">Aplicar</button>
                                                 }

                                                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "DetalhamentoFinanceiroManual"))
                                                {
                                                <button id="btn-novo-detalhamento-simulacao" class="btn pull-right" type="button" title="@GlobalMessages.Novo" onClick="Europa.Controllers.Simulador.NovoDetalhamentoFinanceiro()"><i class="fa fa-plus" aria-hidden="true"></i> @GlobalMessages.Novo</button>
                                                }
                                            </div>
                                        }
                                    </div>                                    
                                </div>
                                <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
                                       dt-instance="table.dtInstance" class="table table-striped table-bordered"
                                       dt-column-defs="table.dtColumnDefs"></table>
                            </div>
                        </div>

                        @*Itbl e emolumentos*@
                        <div class="col-md-24">
                            <div ng-controller="ItbiEmolumentoModalSimulador as itbi">
                                <div id="itbi_emolumento_datatable_modal_header">
                                    <div class="col-md-24">
                                        <div class="col-md-8 ">
                                            <h5>@GlobalMessages.ItbiEmolumentos</h5>
                                        </div>
                                        <div class="pull-right">
                                            @if (Model.PodeManterAssociacoes && SessionAttributes.Current().HasPermission(ViewBag.Codigo, "DetalhamentoFinanceiroManual"))
                                            {
                                                <button id="btn-novo-itbi-simulacao" class="btn" type="button" title="@GlobalMessages.Novo" onClick="Europa.Controllers.Simulador.NovoItbiEmolumento()"><i class="fa fa-plus" aria-hidden="true"></i> @GlobalMessages.Novo</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <table datatable="" dt-options="itbi.dtOptions" dt-columns="itbi.dtColumns"
                                       dt-instance="itbi.dtInstance" class="table table-striped table-bordered"
                                       dt-column-defs="itbi.dtColumnDefs"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" onclick="Europa.Controllers.Simulador.FecharModalSimulador()"><i class="fa fa-close"></i> @GlobalMessages.Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
