@using Europa.Resources
@using Tenda.EmpresaVenda.Domain.Commons
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.EmpresaVenda.Enums
@using Europa.Extensions

@{
    ViewBag.Codigo = "PAG08";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/adiantamento-emergencial/adiantamento-emergencial.js"></script>

<script>
    Europa.Controllers.AdiantamentoEmergencial.UrlListar = '@Url.Action("Listar", "AdiantamentoEmergencial")';
    Europa.Controllers.AdiantamentoEmergencial.UrlRegraComissao = '@Url.Action("Index", "MatrizPagadoria")';
    Europa.Controllers.AdiantamentoEmergencial.UrlSolicitarAdiantamento = '@Url.Action("SolicitarAdiantamento", "AdiantamentoEmergencial")';
</script>
@{
    var tiposPagamentoParaVisualizacao = new List<TipoPagamento>() {
                                        TipoPagamento.Conformidade,
                                        TipoPagamento.Repasse
                                    };

    var tipoPagamentoSelectList = new List<SelectListItem>();
    foreach (var situacao in tiposPagamentoParaVisualizacao)
    {
        tipoPagamentoSelectList.Add(new SelectListItem { Text = situacao.AsString(), Value = situacao.GetHashCode().ToString() });
    }
    tipoPagamentoSelectList = tipoPagamentoSelectList.AsQueryable().ToList();
}

<div id="titlebar-name">@ViewBag.Title</div>

<div class="col-md-24">
    <form class="form-filtro">
        <div class="col-md-24">
            <div class="col-md-5 form-group">
                @Html.Label(GlobalMessages.EmpresaVenda, new { @class = "control_label" })
                <select id="autocomplete_empresa_venda" name="autocomplete_empresa_venda" class="select2-container form-control" multiple="multiple"></select>
            </div>
            <div class="col-md-4 col-md-offset-1  form-group">
                @Html.Label(GlobalMessages.DataVenda)
                <div class="input-group">
                    <span class="input-group-addon">@GlobalMessages.De</span>
                    @Html.TextBox("filtro_data_venda_de", "", new { @class = "form-control", datepicker = "datepicker", parent = "#form_filtro", @style = "height:30px" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="height:30px" onclick=" Europa.Components.DatePicker.ClosestInput(this) ">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                @Html.Label(GlobalMessages.DataVenda, new { style = "visibility:hidden" })
                <div class="input-group">
                    <span class="input-group-addon">@GlobalMessages.Ate</span>
                    @Html.TextBox("filtro_data_venda_ate", "", new { @class = "form-control", datepicker = "datepicker", parent = "#form_filtro", @style = "height:30px" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="height:30px" onclick=" Europa.Components.DatePicker.ClosestInput(this) ">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.TipoPagamento, new { @class = "control-label" })
                @Html.DropDownList("filtro_tipo_pagamento", tipoPagamentoSelectList,"", new { @class = "form-control" })
            </div>

            <div class="pull-right" style="margin-top:18px;">
                <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.AdiantamentoEmergencial.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
                <button type="button" title="@GlobalMessages.Limpar" class="btn btn-default" onClick="Europa.Controllers.AdiantamentoEmergencial.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
            </div>
        </div>
    </form>
</div>


<div ng-controller="AdiantamentoEmergencial as table">
    <div id="datatable_header" class="col-md-24">
        <div class="col-md-5">
            <h5 style="margin-top:6px;margin-bottom:0px;">@ViewBag.Title</h5>
        </div>
        <div class="pull-right">
            @{
                if (SessionAttributes.Current().HasPermission("PAG08", "SolicitarAdiantamento"))
                {
                    <button class="btn btn-default" title="" onClick="Europa.Controllers.AdiantamentoEmergencial.Solicitar()">Solicitar Adiantamento</button>

                }
            }
        </div>
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="table.dtColumnDefs"></table>
</div>