@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

@{
    ViewBag.Codigo = "PAG10";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/parametro-requisicao-compra/parametro-requisicao-compra.js"></script>
<script>
    Europa.Controllers.ParametroRC.UrlListar = '@Url.Action("Listar","ParametroRequisicaoCompra")';
    Europa.Controllers.ParametroRC.UrlAtualizar = '@Url.Action("Atualizar","ParametroRequisicaoCompra")';

    Europa.Controllers.ParametroRC.Permissoes = {
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()'
    };
</script>
<div id="titlebar-name"> @ViewBag.Title </div>

<div class="col-md-24">
    <div ng-controller="ParametroRC as table">
        <div id="datatable_header" class="col-md-24">
            <form>
                <div class="col-md-5" style="margin-left: 5px">
                    @Html.TextBox("filtro-chave", null, new { @class = "form-control", placeholder = "Código, valor ou descrição", maxlength = "256" })
                </div>
                <div class="col-md-2" style="margin-left: 5px">
                    <button class="btn btn-default" title="@GlobalMessages.Filtrar" type="submit" onclick="Europa.Controllers.ParametroRC.Filtrar()">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default" title="@GlobalMessages.Limpar" type="button" onclick="Europa.Controllers.ParametroRC.LimparFiltro()">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>
