@using Europa.Resources
@model Tenda.Domain.EmpresaVenda.Models.Corretor


<form id="form_corretor">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Usuario.Id)
    @Html.HiddenFor(x => x.EmpresaVenda.Id)
    <div class="col-md-24">
        <div class="col-md-9 form-group">
            @Html.Label(GlobalMessages.Nome + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", maxlength = 128 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.NomeGuerra + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Apelido, new { @class = "form-control", maxlength = 30 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Funcao + " *", new { @class = "control-label" })
            @Html.EnumDropDownListFor(x => x.Funcao, GlobalMessages.Selecione, new { @class = "form-control" })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">

        </div>
    </div>
    <div class="col-md-24">
        <div class="col-md-4 form-group">
            @Html.Label(GlobalMessages.Cpf + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.CPF, new { @class = "form-control", maxlength = 20 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Cnpj, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.CNPJ, new { @class = "form-control", maxlength = 20 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Creci + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Creci, new { @class = "form-control", maxlength = 50 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.RG + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.RG, new { @class = "form-control", maxlength = 30 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.DataDeNascimento + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.DataNascimento, new { @class = "form-control", @datepicker = "datepicker" })
        </div>
    </div>
    <div class="col-md-24">
        <div class="col-md-4 form-group">
            @Html.Label(GlobalMessages.DataDeCredenciamento + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.DataCredenciamento, new { @class = "form-control", maxlength = 128, @datepicker = "datepicker" })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Email + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", maxlength = 60 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Telefone + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Telefone, new { @class = "form-control", maxlength = 20 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.DataCadastro + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.CriadoEm, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = true })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Codigo + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control", @readonly = true })
        </div>
    </div>
</form>

