@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources

@{
    ViewBag.Codigo = "EVS02";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}


<script src="~/Static/projeto/corretor/corretor.js"></script>
<script src="~/Static/projeto/corretor/corretor-datatable.js"></script>
<script src="~/Static/projeto/corretor/corretor-perfil.js"></script>

<script>
    Europa.Controllers.Corretor.UrlListar = '@Url.Action("Listar", "Corretor")';
    Europa.Controllers.Corretor.UrlIncluir = '@Url.Action("Incluir", "Corretor")';
    Europa.Controllers.Corretor.UrlAlterar = '@Url.Action("Atualizar", "Corretor")';
    Europa.Controllers.Corretor.UrlExcluir = '@Url.Action("Excluir", "Corretor")';
    Europa.Controllers.Corretor.UrlReativar = '@Url.Action("Reativar", "Corretor")';
    Europa.Controllers.Corretor.UrlSuspender = '@Url.Action("Suspender", "Corretor")';
    Europa.Controllers.Corretor.UrlCancelar = '@Url.Action("Cancelar", "Corretor")';
    Europa.Controllers.Corretor.UrlBuscarCorretor = '@Url.Action("BuscarCorretor", "Corretor")';
    Europa.Controllers.Corretor.UrlReenviarTokenAtivacao = '@Url.Action("ReenviarTokenAtivacao", "Corretor")';
    Europa.Controllers.Corretor.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar").ToString().ToLower()'
    };
    Europa.Controllers.Corretor.UrlPerfis = '@Url.Action("ListaPerfis", "Perfil")';
    Europa.Controllers.Corretor.UrlPerfisSelecionados = '@Url.Action("ListaPerfisSelecionados", "Perfil")';
    Europa.Controllers.Corretor.UrlSistemaEmpresaVendaPortal = '@Url.Action("BuscaEmpresaVendaPortal", "Corretor")';
    Europa.Controllers.Corretor.UrlIncluirPerfil = '@Url.Action("IncluirPerfil", "Usuario")';
    Europa.Controllers.Corretor.UrlExcluirPerfil = '@Url.Action("ExcluirPerfil", "Usuario")';
    Europa.Controllers.Corretor.UrlBuscarPerfil = '@Url.Action("BuscarPerfil","Perfil")';

    Europa.Controllers.Corretor.UrlExportarPagina = '@Url.Action("ExportarPagina", "Corretor")';
    Europa.Controllers.Corretor.UrlExportarTodos = '@Url.Action("ExportarTodos", "Corretor")';

</script>

<div id="titlebar-name">@ViewBag.Title</div>
<div id="titlebar-buttons">
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
    {
        <div id="botoes_visualizacao">
            <button class="btn btn-default" title="@GlobalMessages.Novo" type="button" onclick="Europa.Controllers.Corretor.Incluir()">
                <i class="fa fa-plus" aria-hidden="true"></i> @GlobalMessages.Novo
            </button>
        </div>
    }
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir") || SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar"))
    {
        <div id="botoes_edicao" style="display:none">
            <button type="button" title="@GlobalMessages.Salvar" class="btn btn-default" onClick="Europa.Controllers.Corretor.Salvar()"><i class="fa fa-floppy-o"></i> @GlobalMessages.Salvar</button>
            <button type="button" title="@GlobalMessages.Cancelar" class="btn btn-default" onClick="Europa.Controllers.Corretor.CancelarEdicao()"><i class="fa fa-ban"></i> @GlobalMessages.Cancelar</button>
        </div>
        <div id="botoes_detalhamento" style="display:none">
            <button type="button" title="@GlobalMessages.Voltar" class="btn btn-default" onClick="Europa.Controllers.Corretor.CancelarEdicao()"><i class="fa fa-arrow-left"></i> @GlobalMessages.Voltar</button>
        </div>
    }
</div>

<div id="div_visualizacao">
    @{
        Html.RenderPartial("_CorretorDataTable");
    }
</div>

<div id="div_edicao" style="display:none">
    @{
        Html.RenderPartial("_FormularioCompleto");
    }

    @{
        Html.RenderPartial("_CorretorPerfil");
    }
</div>