@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@model Tenda.EmpresaVenda.Web.Models.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ApplicationInfo.NomeSistema()</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Static/images/favicon.ico" />

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/europa")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .login-wrapper {
            padding: 30px 40px 40px 40px;
            background: #edeef2;
        }

        .login-field {
            background: white !important;
            color: #ac3531;
            border: 0px solid transparent;
            border-radius: 0px;
            font-size: 13px;
            font-weight: bold;
            padding-left: 15px;
            padding-right: 15px;
            height: 40px;
            width: 100%;
        }

            .login-field:active {
                box-shadow: inset 0px 0.99px 0.99px 0px rgba(0, 0, 0, 0.0749428), 0px 0px 7.99px 0px rgba(101, 174, 232, 0.599542);
            }

            .login-field:focus {
                box-shadow: inset 0px 0.99px 0.99px 0px rgba(0, 0, 0, 0.0749428), 0px 0px 7.99px 0px rgba(101, 174, 232, 0.599542);
            }

            .login-field::placeholder {
                color: rgba(172, 53, 49, 1) !important;
                font-weight: bold;
            }

            .login-field::-webkit-input-placeholder {
                color: rgba(172, 53, 49, 1) !important;
                font-weight: bold;
            }

            .login-field::-moz-placeholder {
                color: rgba(172, 53, 49, 1) !important;
                font-weight: bold;
            }

        .login-btn {
            background-color: #ac3531 !important;
            border-color: transparent;
            color: white;
            border-width: 0px;
            border-radius: 0px;
            cursor: pointer;
            font-size: 11px;
            font-weight: normal;
            padding: 0px 15px 0px 15px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            width: 100%;
        }

            .login-btn:hover {
                background-color: #9d312d !important;
                color: white;
            }

            .login-btn:focus {
                background-color: #9d312d !important;
                color: white;
            }

            .login-btn:active {
                background-color: #832a26 !important;
                border-color: #832a26;
                color: white;
            }

        .alert {
            margin-bottom: 0px;
        }

        body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
            padding-right: 0px !important;
        }

        .menu.navbar-default .navbar-text {
            font-size: small;
        }   
            
    </style>
</head>
<body style="overflow-y: scroll;">
    <!--[if lt IE 9]>
    <i></i>
    <![endif]-->
    <div class="menu navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand col-md-5">
                <img src="~/Static/images/logo_icone.png" />
            </div>
            <div class="col-md-19">
                <p class="navbar-text" style="margin-top:12px;">@ApplicationInfo.NomeSistema()</p>
            </div>
        </div>
    </div>
    <div class="wrapper container-fluid">


        @using (Html.BeginForm("Logar", "Login", FormMethod.Post, new { role = "form", @class = "col-md-24", id = "login" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
            <div class="col-md-24" style="text-align: center; margin-bottom: -10px">
                <img src="~/static/images/logo-vermelho-fundo-branco.jpg" />
            </div>
            <div class="col-md-24" style="margin-bottom: 10px; margin-top: 10px;">
                <div style="position: relative; width: 820px; margin: 0 auto;">
                    <img src="~/static/images/tendinha_315x357.png" style="position: absolute; top: 0px; left: 0px; z-index: 1500; width: 315px; height: 357px;" />
                    <div class="col-lg-13 col-md-13 login-wrapper" style="top: 60px; left: 290px; position: absolute; width: 460px;">
                        <div class="col-md-24" style="margin-bottom: 10px; position: relative;">
                            @{Html.RenderPartial("~/Views/Shared/Message.cshtml");}
                        </div>
                        <div class="form">
                            <span class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-user" aria-hidden="true" style="color: #ac3531; font-size: 30px; height: 40px; padding-top: 7px;"></i>
                            </span>
                            <div class="form-group col-md-21 col-sm-21 col-xs-21">
                                <input class="login-field" id="Username" name="Username" value="@Model.Username" placeholder="@GlobalMessages.Usuario">
                            </div>
                            <div class="col-md-24 col-sm-24 col-xs-24" style="margin-top: 25px">
                                <span class="col-md-3 col-sm-3 col-xs-3">
                                    <i class="fa fa-lock" aria-hidden="true" style="color: #ac3531; font-size: 30px; height: 40px; padding-top: 7px;"></i>
                                </span>
                                <div class="form-group col-md-13 col-sm-13 col-xs-13">
                                    <input type="password" class="login-field" id="Password" name="Password" placeholder="@GlobalMessages.Senha" onkeypress="keyPress(event)">
                                </div>
                                <div class="form-group col-md-7 col-sm-7 col-xs-7 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                                    <button id="btn_login" class="btn login-btn" type="button" onclick="checkBrowser()">@GlobalMessages.EntrarAllCaps</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-24" style="color: #96979b; margin-top: 35px;">
                            @GlobalMessages.EsqueceuSenhaPergunta
                            <a href="https://trocasenha.construtoratenda.com" target="_blank" style="color:#696a6e; font-weight: bold;">
                                @GlobalMessages.CliqueAqui
                            </a><br />
                            @GlobalMessages.OuEntreEmContatoNum
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-24" style="color: transparent; font-size: smaller">
            @{Html.RenderPartial("~/Views/Shared/Footer.cshtml");}
        </div>
    </div>
    @{Html.RenderPartial("~/Views/Shared/Dialogo.cshtml");}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/europa")
    @Scripts.Render("~/Static/scripts/jquery-placeholder.js")

    <script>
        var div = document.createElement("div");
        div.innerHTML = "<!--[if lt IE 9]><i></i><![endif]-->";
        var isIeLessThan9 = (div.getElementsByTagName("i").length == 1);
        if (isIeLessThan9) {
            showMessage();
        }

        function keyPress(e) {
            if (e.keyCode == 13) {
                checkBrowser();
            }
        };
        function checkBrowser() {
            if (isIeLessThan9) {
                showMessage();
                return false;
            }
            Spinner.Show();
            document.getElementById("login").submit();
            return true;
        };

        function showMessage() {
            alert("O seu navegador não é compatível com o sistema. Utilize a versão 9 ou superior do IE.");
        };

        $(function () {
            $("[placeholder]").placeholder();
        });

    </script>
</body>
</html>
