@using Europa.Extensions
@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.Core.Enums

<div ng-controller="FilaUnificadaDatatableOperador as datatable">
    <div id="datatable_operador_header" class="col-md-24">
        <div class="pull-right">
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarFilaUnificada"))
            {
                <button class="btn btn-default" title="@GlobalMessages.Atualizar" onClick="Europa.Controllers.FilaUnificada.FiltrarOperador()">
                    <i class="fa fa-refresh"></i> @GlobalMessages.Atualizar
            </button>
            }
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina"))
            {
                <button type="button" title="@GlobalMessages.ExportarPagina" class="btn btn-default" onclick="Europa.Controllers.FilaUnificada.ExportarPaginaOperador()">
                    <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarPagina
                </button>
            }
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos"))
            {
                <button type="button" title="@GlobalMessages.ExportarTodos" class="btn btn-default" onclick="Europa.Controllers.FilaUnificada.ExportarTodosOperador()">
                    <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarTodos
                </button>
            }
        </div>

    </div>
    <table datatable="" dt-options="datatable.dtOptions" dt-columns="datatable.dtColumns"
           dt-instance="datatable.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="datatable.dtColumnDefs"></table>
</div>
