@using Tenda.EmpresaVenda.Web.Models.Application

@{
    ViewBag.Codigo = "REL02";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/fila-unificada/index.js"></script>
<script type="text/javascript" src="~/Static/projeto/fila-unificada/filtro.js"></script>
<script type="text/javascript" src="~/Static/projeto/fila-unificada/datatable.js"></script>
<script type="text/javascript" src="~/Static/projeto/fila-unificada/datatable-operador.js"></script>

<script>
    Europa.Controllers.FilaUnificada.UrlListar = '@Url.Action("ListarDatatable","Filaunificada")';
    Europa.Controllers.FilaUnificada.UrlDocumentacaoAvalista = '@Url.Action("Index","DocumentacaoAvalista")';
    Europa.Controllers.FilaUnificada.UrlVerDocumentacao = '@Url.Action("Index", "DocumentacaoPreProposta")';
    Europa.Controllers.FilaUnificada.UrlExportarPagina = '@Url.Action("ExportarPagina","FilaUnificada")';
    Europa.Controllers.FilaUnificada.UrlExportarPaginaOperador = '@Url.Action("ExportarPaginaOperador", "FilaUnificada")';
    Europa.Controllers.FilaUnificada.UrlExportarTodos = '@Url.Action("ExportarTodos","Filaunificada")';
    Europa.Controllers.FilaUnificada.UrlExportarTodosOperador = '@Url.Action("ExportarTodosOperador", "Filaunificada")';

    Europa.Controllers.FilaUnificada.CodigoUf = '@ViewBag.Codigo';
</script>

<div id="titlebar-name">@ViewBag.Title</div>

@if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarSurpevisor"))
{
    Html.RenderPartial("_Filtro");
    Html.RenderPartial("_Datatable");
}else if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarOperador"))
{
    Html.RenderPartial("_DatatableOperador");
}

<form id="form_exportar" hidden></form>
