@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources

@{
    ViewBag.Codigo = "CAD06";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}
<script src="~/Static/projeto/fornecedor/fornecedor.js"></script>
<script>
    Europa.Controllers.Fornecedor.UrlListar = '@Url.Action("Listar", "Fornecedor")';
    Europa.Controllers.Fornecedor.UrlExcluir = '@Url.Action("Remover", "Fornecedor")';
    Europa.Controllers.Fornecedor.UrlIncluir = '@Url.Action("Incluir", "Fornecedor")';
    Europa.Controllers.Fornecedor.UrlAlterar = '@Url.Action("Alterar", "Fornecedor")';

    Europa.Controllers.Fornecedor.Permissoes = {
    Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
    Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
    Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()',
    Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()'
    };

</script>
<div id="titlebar-name">
    @ViewBag.Title
</div>
<div id="titlebar-buttons">
    <button class="btn btn-default" type="button" onclick="Europa.Controllers.Fornecedor.Novo()"><i class="fa fa-plus"></i> @GlobalMessages.Novo</button>
</div>
<div ng-controller="Fornecedor as table">
    <div id="datatable_header" class="col-md-24">
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="table.dtColumnDefs"></table>
</div>
