@using Europa.Resources

<div class="col-md-24">
    <div class="modal" id="documento_proponente_nao_anexar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" onclick="Europa.Controllers.PreProposta.DocumentoProponente.FecharModalNegativarAnexo()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@GlobalMessages.InformarMotivoNaoAnexar</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-24">
                        <div class="col-md-11">
                            @Html.Label(GlobalMessages.Proponente)
                            @Html.TextBox("CampoProponente", null, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                        <div class="col-md-12 col-md-offset-1">
                            @Html.Label(GlobalMessages.Documento)
                            @Html.TextBox("CampoDocumento", null, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-md-24">
                        <div class="col-md-11">
                            @Html.Label(GlobalMessages.Motivo)
                            @{
                                //Html.RenderAction("RenderMotivosNegativosAnexo", "Motivo");
                            }
                        </div>
                        <div class="col-md-12 col-md-offset-1">
                            @Html.Label(GlobalMessages.Detalhes)
                            @Html.TextBox("DescricaoMotivo", null, new { @class = "form-control", @disabled = "disabled", @maxlength="255" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" title="@GlobalMessages.Confirmar" onclick="Europa.Controllers.PreProposta.DocumentoProponente.SalvarNegativarAnexo()">
                        <i class="fa fa-check" aria-hidden="true"></i> @GlobalMessages.Confirmar
                    </button>
                    <button type="button" class="btn btn-default" title="@GlobalMessages.Desistir" onclick="Europa.Controllers.PreProposta.DocumentoProponente.FecharModalNegativarAnexo()">
                        <i class="fa fa-ban"></i> @GlobalMessages.Desistir
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
