@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources

@{
    ViewBag.Codigo = "CAD01";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/status-suat-status-evs/status-suat-status-evs.js"></script>

<script>
    Europa.Controllers.StatusSuatEvs.UrlListar = '@Url.Action("Listar", "StatusSuatStatusEvs")';
    Europa.Controllers.StatusSuatEvs.UrlExcluir = '@Url.Action("Remover", "StatusSuatStatusEvs")';
    Europa.Controllers.StatusSuatEvs.UrlIncluir = '@Url.Action("Incluir", "StatusSuatStatusEvs")';
    Europa.Controllers.StatusSuatEvs.UrlAlterar = '@Url.Action("Alterar", "StatusSuatStatusEvs")';

    Europa.Controllers.StatusSuatEvs.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Remover").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar").ToString().ToLower()'
    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

@{
    Html.RenderPartial("_DataTable");
}
