@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.EmpresaVenda.Domain.Commons

@{
    ViewBag.Codigo = "CAD12";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/state-machine-pre-proposta/index.js"></script>
<link href="~/Static/projeto/state-machine-pre-proposta/state-machine.css" rel="stylesheet" />

<script>
    //Datatable Rule Machine
    Europa.Controllers.StateMachinePreProposta.UrlListarRuleMachinePreProposta = '@Url.Action("ListarRuleMachinePreProposta","StateMachinePreProposta")';
    Europa.Controllers.StateMachinePreProposta.UrlIncludeRule = '@Url.Action("IncludeRule", "StateMachinePreProposta")';
    Europa.Controllers.StateMachinePreProposta.UrlUpdateRule = '@Url.Action("UpdateRule", "StateMachinePreProposta")';
    Europa.Controllers.StateMachinePreProposta.UrlExcluirRule = '@Url.Action("ExcluirRule", "StateMachinePreProposta")';
    Europa.Controllers.StateMachinePreProposta.UrlOnJoinTipoDocumento = '@Url.Action("OnJoinTipoDocumento", "StateMachinePreProposta")';

    Europa.Controllers.StateMachinePreProposta.DropDownOrigem =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("Origem", EnumHelper.GetSelectList(typeof(Tenda.Domain.EmpresaVenda.Enums.SituacaoProposta)), "", new { @class = "form-control" }).ToHtmlString()))';

    Europa.Controllers.StateMachinePreProposta.DropDownDestino =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("Destino", EnumHelper.GetSelectList(typeof(Tenda.Domain.EmpresaVenda.Enums.SituacaoProposta)), "", new { @class = "form-control" }).ToHtmlString()))';

    //Datatable Documento Proponente
    Europa.Controllers.StateMachinePreProposta.UrlListarDocumentoProponenteRule = '@Url.Action("ListarDocumentoProponenteRule","StateMachinePreProposta")';

    //Permissões
    Europa.Controllers.StateMachinePreProposta.Permissoes = {
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar")' == 'True',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir")' == 'True',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir")'=='True'
    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div class="col-md-12">
    @{
        Html.RenderPartial("_DatatableRuleMachine");
    }
</div>


<div class="tabs-container col-md-11 col-md-offset-1">
    <input type="radio" name="tabs" class="tabs" id="tab1" checked>
    <label for="tab1">@GlobalMessages.DocumentosProponente @GlobalMessages.Obrigatorios</label>
    <div style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    ">
        @{
            Html.RenderPartial("_DatatableDocumentoProponente");
        }
    </div>
</div>