@using Europa.Resources

<div class="modal col-md-20" id="modal_planta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="width: 1049px;">
    <div class="modal-dialog" role="document" style="box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.25); background-image: linear-gradient(226deg, #fcfcfc, #ececec); opacity: 0.95">
        <div class="modal-content">
            <div class="modal-header modal-red" style="cursor:unset">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <img class="btn-close" data-dismiss="modal" aria-label="Close" src="~/Static/images/x-icon.png" onclick="Europa.Controllers.Produto.FecharModal();" />
                <h4 class="modal-title" id="TituloNome">  </h4>
                <span id="TituloBairro">
                    
                </span>
            </div>
            <div class="modal-body">
                <div class=" col-md-24" style="margin-bottom: 10%;">
                    <div class="col-md-24" style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 3%;">
                        <a onclick="Europa.Controllers.Produto.VoltarModalPlanta()" href="" style="font-size: 17px; font-weight: 600; color: #ec1d24;">@GlobalMessages.Voltar</a>
                    </div>
                    <div class="col-md-24">
                        <span style="padding-top: 10px; padding-bottom: 10px; position: center; font-size: 20px; font-weight: 500;">
                            @GlobalMessages.QualPlanta.ToUpper()
                        </span>
                    </div>
                    <div class="col-md-24" style="margin-top: 10%;">
                        <div class="col-md-12" id="caixa-planta-4" style="align-items:center; margin-left: 60px; width: 400px; height: 284px; border-radius: 33px; box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2); background-color: #f9f9f9;">
                            <a href="@Tenda.Domain.Shared.ProjectProperties.Planta3DLink4" target="_blank">
                                <img src="~/Static/images/group-blue.svg" style=" display: block; margin-left: auto; margin-right: auto; margin-top: 5%; width: 286px; height: 178px;" />
                            </a>
                            <p style="text-align: center; margin-top:35px; font-size: 20px; font-weight: 600;">
                                @GlobalMessages.Planta4
                            </p>
                        </div>

                        <div class="col-md-12" id="caixa-planta-7" style=" align-items:center; margin-left: 30px; width: 400px; height: 284px; border-radius: 33px; box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2); background-color: #f9f9f9;">
                            <a href="@Tenda.Domain.Shared.ProjectProperties.Planta3DLink7" target="_blank">
                                <img src="~/Static/images/group-red.svg" style=" display: block; margin-left: auto; margin-right: auto; margin-top: 5%; width: 286px; height: 178px;" />
                            </a>

                            <p style="margin-top:35px;  text-align: center; font-size: 20px; font-weight: 600;">
                                @GlobalMessages.Planta7
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
