@using Europa.Resources
@model Tenda.EmpresaVenda.Portal.Models.InfoBreveLancamentoViewModel

@if (Model.ArquivoBreveLancamento != null)
{
    <div class="modal col-md-20" id="modal_produtos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document" style="box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.25); background-image: linear-gradient(226deg, #fcfcfc, #ececec);opacity:0.95">
            <div class="modal-content">
                <div class="modal-header modal-red" style="cursor:unset">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <img class="btn-close" data-dismiss="modal" aria-label="Close" src="~/Static/images/x-icon.png" onclick="Europa.Controllers.Produto.FecharModal();"/>
                    <h4 class="modal-title" id="myModalLabel"> @Model.Endereco.BreveLancamento.Nome</h4>
                    <span id="ModalBairro">
                        @Model.Endereco.Bairro
                    </span>
                </div>
                <div class="modal-body">
                    <div class="col-md-24">
                        <div class="col-md-24">
                            <div class="div-btn-download">
                                <button class="btn btn-lg btn-book btn-planta" onclick="Europa.Controllers.Produto.AbrirModalPlanta()">
                                    <img id="bnt-planta" src="~/Static/images/planta-icon1.svg" style="width: 35px; height: 20px;" />
                                    @GlobalMessages.Planta3D
                                </button>
                                <button class="btn btn-lg btn-book" onclick="Europa.Controllers.Produto.SalvarBook(@Model.Endereco.BreveLancamento.Id, false)">
                                    @GlobalMessages.Book
                                </button>
                                <button class="btn btn-lg btn-lancamento" id="btnInfoSimu" onclick="Europa.Controllers.Produto.DownloadSimulador(@Model.Endereco.BreveLancamento.Id)">
                                    @GlobalMessages.SimuladorVenda
                                </button>
                            </div>
                        </div>
                        <div class="col-md-24">
                            <div class="div-img-style">
                                <span>@GlobalMessages.Imagens.ToUpper()</span>
                            </div>
                            @if (Model.ListaArquivo.Count > 0)
                            {
                                <div style="margin-left: 3%;width:95%">
                                    <div class="div-exibir-img">
                                        <div>
                                            @if (Model.ListaArquivo.Count > 0)
                                            {
                                                if (Model.ListaArquivo.Any(x => x.ContentType.Equals("video")) && Model.ListaArquivo[0].ContentType == "video")
                                                {
                                                    <iframe id="video-detail-breve-lancamento" style="width: 100%; display: block;" height="300" src="@("https://www.youtube.com/embed/" + Model.ListaArquivo[0].Nome)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                    <img style="width: 100%; height: 100%; min-height: 150px; max-height: 300px; display: none;" id="img-zoom-breve-lancamento" src="@Model.ListaArquivo[0].Url" alt=""/>
                                                }
                                                else
                                                {
                                                    <iframe id="video-detail-breve-lancamento" style="width: 100%; display: none;" height="300" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                    <img style="width: 100%; height: 100%; min-height: 150px; max-height: 300px; display: block;" id="img-zoom-breve-lancamento" src="@Model.ListaArquivo[0].Url" alt=""/>
                                                }
                                            }
                                        </div>
                                        <div id="div-imgs">
                                            <div class="grid-imgs-book">
                                                @for (var i = 0; i < Model.ListaArquivo.Count; i = i + 2)
                                                {
                                                    <div onclick="Europa.Controllers.Produto.SelecionarImgBreveLancamento('@Model.ListaArquivo[i].ContentType', '@Model.ListaArquivo[i].Url', '@Model.ListaArquivo[i].Nome')">
                                                        <img class="thumbnail" src="@Model.ListaArquivo[i].Url"/>
                                                        @if (Model.ListaArquivo[i].ContentType.ToLower().Equals("video"))
                                                        {
                                                            <div class="thumbnail video-thumbnail-overlay">
                                                                <span class="fa fa-youtube-play"> </span>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            <div class="grid-imgs-book" style="margin-top: 8px;">
                                                @for (var i = 1; i < Model.ListaArquivo.Count; i = i + 2)
                                                {
                                                    <div onclick="Europa.Controllers.Produto.SelecionarImgBreveLancamento('@Model.ListaArquivo[i].ContentType', '@Model.ListaArquivo[i].Url', '@Model.ListaArquivo[i].Nome')">
                                                        <img class="thumbnail" src="@Model.ListaArquivo[i].Url"/>

                                                        @if (Model.ListaArquivo[i].ContentType.ToLower().Equals("video"))
                                                        {
                                                            <div class="thumbnail video-thumbnail-overlay">
                                                                <span class="fa fa-youtube-play"> </span>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div-btn-imgs">
                                        <div>
                                            <span style="color: var(--slate);font-size:15px;font-weight:500">
                                                @GlobalMessages.ImagemIlustrativa
                                            </span>
                                        </div>
                                        <div>
                                            @if (Model.ListaArquivo.Count > 4)
                                            {
                                                <img id="previImg" onclick="Europa.Controllers.Produto.VoltarImg()" src="~/Static/images/arrow-square-left.png"/>
                                                <img id="nextImg" onclick="Europa.Controllers.Produto.ProxImg()" src="~/Static/images/arrow-square-right.png"/>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div style="margin-left: 4%; margin-top: 10px; width: 90%;">
                                    <span style="color: var(--slate);font-size:17px;">
                                        @GlobalMessages.NaoExisteImagens
                                    </span>
                                </div>
                            }
                            <div class="col-md-24 div-detalhe-imov">
                                <div>
                                    <span>@GlobalMessages.DetalhesImovel.ToUpper()</span>
                                </div>
                                <div>
                                    <span>
                                        @Model.Endereco.BreveLancamento.Informacoes
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-24 div-ficha-tecnica">
                                <div>
                                    <span>@GlobalMessages.FichaTecnica.ToUpper()</span>
                                </div>
                                <div>
                                    <span>
                                        @Model.Endereco.BreveLancamento.FichaTecnica
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-24 div-endereco">
                                <div>
                                    <span>@GlobalMessages.Endereco.ToUpper()</span>
                                </div>
                                <div>
                                    @{
                                        var endereco = Model.Endereco.Logradouro + ',' + Model.Endereco.Numero + ',' + Model.Endereco.Bairro + ',' + Model.Endereco.Cidade + ',' + Model.Endereco.Estado + ',' + Model.Endereco.Pais + ',' + Model.Endereco.Cep;
                                        var enderecoBreveLan = endereco.Replace(",,", ",");
                                    }
                                    <span>
                                        @enderecoBreveLan
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div-pre-proposta-btn">
                        @using (Html.BeginForm("Index", "PreProposta", FormMethod.Post, new {@class = "col-md-24", @style = "height: 55px;"}))
                        {
                            @Html.TextBoxFor(x => x.Endereco.BreveLancamento.Id, new {Id = "idEmpre", Name = "idEmpre", @class = "hide"})
                            <button type="submit" class="btn btn-default" title="@GlobalMessages.BtnPreProposta">@GlobalMessages.BtnPreProposta.ToUpper()</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal col-md-20" id="modal_produtos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document" style="box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.25); background-image: linear-gradient(226deg, #fcfcfc, #ececec);opacity:0.95">
            <div class="modal-content">
                <div class="modal-header modal-red" style="cursor:unset">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <img class="btn-close" data-dismiss="modal" aria-label="Close" src="~/Static/images/x-icon.png" onclick="Europa.Controllers.Produto.FecharModal();"/>
                    <h4 class="modal-title" id="myModalLabel"> @Model.EnderecoEmpreendimento.Empreendimento.Nome</h4>
                    <span id="ModalBairro">
                        @Model.EnderecoEmpreendimento.Bairro
                    </span>
                </div>
                <div class="modal-body">
                    <div class="col-md-24">
                        <div class="col-md-24">
                            <div class="div-btn-download">
                                <button class="btn btn-lg btn-book btn-planta" onclick="Europa.Controllers.Produto.AbrirModalPlanta()">
                                    <img id="bnt-planta" src="~/Static/images/planta-icon1.svg" style="width: 35px; height: 20px;" />
                                    @GlobalMessages.Planta3D
                                </button>
                                <button class="btn btn-lg btn-book" onclick="Europa.Controllers.Produto.SalvarBook(@Model.EnderecoEmpreendimento.Empreendimento.Id, true)">
                                    @GlobalMessages.Book
                                </button>
                                <button class="btn btn-lg btn-lancamento" id="btnInfoSimu" onclick="Europa.Controllers.Produto.DownloadSimulador(@Model.EnderecoEmpreendimento.Empreendimento.Id)">
                                    @GlobalMessages.SimuladorVenda
                                </button>
                            </div>
                        </div>
                        <div class="col-md-24">
                            <div class="div-img-style">
                                <span>@GlobalMessages.Imagens.ToUpper()</span>
                            </div>
                            @if (Model.ListaArquivo.Count > 0)
                            {
                                <div style="margin-left: 3%;width:95%">
                                    <div class="div-exibir-img">
                                        <div>
                                            @if (Model.ListaArquivo.Count > 0)
                                            {
                                                if (Model.ListaArquivo.Any(x => x.ContentType.Equals("video")) && Model.ListaArquivo[0].ContentType == "video")
                                                {
                                                    <iframe id="video-detail-empreendimento" style="width: 100%; display: block;" height="300" src="@("https://www.youtube.com/embed/" + Model.ListaArquivo[0].Nome)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                    <img style="width: 100%; height: 100%; min-height: 150px; max-height: 300px; display: none;" id="img-zoom-empreendimento" src="@Model.ListaArquivo[0].Url" alt="" />
                                                }
                                                else
                                                {
                                                    <iframe id="video-detail-empreendimento" style="width: 100%; display: none;" height="300" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                    <img style="width: 100%; height: 100%; min-height: 150px; max-height: 300px; display: block;" id="img-zoom-empreendimento" src="@Model.ListaArquivo[0].Url" alt="" />
                                                }
                                            }
                                        </div>
                                        <div id="div-imgs">
                                            <div class="grid-imgs-book">
                                                @for (var i = 0; i < Model.ListaArquivo.Count; i = i + 2)
                                                {
                                                    <div onclick="Europa.Controllers.Produto.SelecionarImgEmpreendimento('@Model.ListaArquivo[i].ContentType', '@Model.ListaArquivo[i].Url', '@Model.ListaArquivo[i].Nome')">
                                                        <img class="thumbnail" src="@Model.ListaArquivo[i].Url" />
                                                        @if (Model.ListaArquivo[i].ContentType.ToLower().Equals("video"))
                                                        {
                                                            <div class="thumbnail video-thumbnail-overlay">
                                                                <span class="fa fa-youtube-play"> </span>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            <div class="grid-imgs-book" style="margin-top: 8px;">
                                                @for (var i = 1; i < Model.ListaArquivo.Count; i = i + 2)
                                                {
                                                    <div onclick="Europa.Controllers.Produto.SelecionarImgEmpreendimento('@Model.ListaArquivo[i].ContentType', '@Model.ListaArquivo[i].Url', '@Model.ListaArquivo[i].Nome')">
                                                        <img class="thumbnail" src="@Model.ListaArquivo[i].Url" />

                                                        @if (Model.ListaArquivo[i].ContentType.ToLower().Equals("video"))
                                                        {
                                                            <div class="thumbnail video-thumbnail-overlay">
                                                                <span class="fa fa-youtube-play"> </span>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div-btn-imgs">
                                        <div>
                                            <span style="color: var(--slate);font-size:15px;font-weight:500">
                                                @GlobalMessages.ImagemIlustrativa
                                            </span>
                                        </div>
                                        <div>
                                            @if (Model.ListaArquivo.Count > 4)
                                            {
                                                <img id="previImg" onclick="Europa.Controllers.Produto.VoltarImg()" src="~/Static/images/arrow-square-left.png" />
                                                <img id="nextImg" onclick="Europa.Controllers.Produto.ProxImg()" src="~/Static/images/arrow-square-right.png" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div style="margin-left: 4%; margin-top: 10px; width: 90%;">
                                    <span style="color: var(--slate);font-size:17px;">
                                        @GlobalMessages.NaoExisteImagens
                                    </span>
                                </div>
                            }
                            <div class="col-md-24 div-detalhe-imov">
                                <div>
                                    <span>@GlobalMessages.DetalhesImovel.ToUpper()</span>
                                </div>
                                <div>
                                    <span>
                                        @Model.EnderecoEmpreendimento.Empreendimento.Informacoes
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-24 div-ficha-tecnica">
                                <div>
                                    <span>@GlobalMessages.FichaTecnica.ToUpper()</span>
                                </div>
                                <div>
                                    <span>
                                        @Model.EnderecoEmpreendimento.Empreendimento.FichaTecnica
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-24 div-endereco">
                                <div>
                                    <span>@GlobalMessages.Endereco.ToUpper()</span>
                                </div>
                                <div>
                                    @{
                                        var endereco = Model.EnderecoEmpreendimento.Logradouro + ',' + Model.EnderecoEmpreendimento.Numero + ',' + Model.EnderecoEmpreendimento.Bairro + ',' + Model.EnderecoEmpreendimento.Cidade + ',' + Model.EnderecoEmpreendimento.Estado + ',' + Model.EnderecoEmpreendimento.Pais + ',' + Model.EnderecoEmpreendimento.Cep;
                                        var enderecoEmpreendimento = endereco.Replace(",,", ",");
                                    }
                                    <span>
                                        @enderecoEmpreendimento
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-24">
                        <div class="pull-right">
                            <button class="btn btn-md btn-blue-light" onclick="Europa.Controllers.Produto.TabelaValorNominal(@Model.EnderecoEmpreendimento.Empreendimento.Id)"> @GlobalMessages.VisualizarTabelaNominal.ToUpper()</button>
                            @using (Html.BeginForm("Index", "PreProposta", FormMethod.Post, new {@class="pull-right",  @style = "height: 55px;margin-left: 24px;" }))
                            {
                                @Html.TextBoxFor(x => x.Endereco.BreveLancamento.Id, new { Id = "idEmpre", Name = "idEmpre", @class = "hide" })
                                <button type="submit" class="btn btn-md btn-default" title="@GlobalMessages.BtnPreProposta">@GlobalMessages.BtnPreProposta.ToUpper()</button>
                            }
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}

<form id="form_exportar" hidden>
    <input name="idBl" id="idBl"/>
</form>
<script>
    $(".btn-planta").hover(function () {
        $("#bnt-planta").attr("src", "./Static/images/planta-icon2.svg");
    }, function () {
        $("#bnt-planta").attr("src", "./Static/images/planta-icon1.svg");
    })
</script>