@using Europa.Resources
@model Europa.Fmg.Portal.Models.ClienteDTO

@{
    ViewBag.Codigo = "EVS05";
}
<div class="col-md-24">
    <br />
    <div class="geenFieldSet">
        <div class="panel-heading">
            <div>
                <h3 class="panel-title pull-left">@GlobalMessages.InformacoesComplementares</h3>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-24">
    <div class="col-md-4 form-group">
        @Html.Label(GlobalMessages.PossuiVeiculo + "? *", new { @class = "control-label" })
        <div class="col-md-24">
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.PossuiVeiculo, true, new { onchange = "Europa.Controllers.Cliente.OnChangePossuiVeiculo()", id = "Cliente_PossuiVeiculo_Sim" }) <label class="control-label" for="Cliente_PossuiVeiculo_Sim">@GlobalMessages.Sim</label>
            </div>
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.PossuiVeiculo, false, new { onchange = "Europa.Controllers.Cliente.OnChangePossuiVeiculo()", id = "Cliente_PossuiVeiculo_Nao" }) <label class="control-label" for="Cliente_PossuiVeiculo_Nao">@GlobalMessages.Nao</label>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.VeiculoFinanciado, new { @class = "control-label" })
        <div class="col-md-24">
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.VeiculoFinanciado, true, new { onchange = "Europa.Controllers.Cliente.OnChangeVeiculoFinanciado()", id = "Cliente_VeiculoFinanciado_Sim" }) <label class="control-label" for="Cliente_VeiculoFinanciado_Sim">@GlobalMessages.Sim</label>
            </div>
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.VeiculoFinanciado, false, new { onchange = "Europa.Controllers.Cliente.OnChangeVeiculoFinanciado()", id = "Cliente_VeiculoFinanciado_Nao" }) <label class="control-label" for="Cliente_VeiculoFinanciado_Nao">@GlobalMessages.Nao</label>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.ValorVeiculo, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cliente.ValorVeiculo, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.ValorVeiculo:n2}" })
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.ValorUltimaParcelaFinanciamentoVeiculo, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cliente.ValorUltimaParcelaFinanciamentoVeiculo, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.ValorUltimaParcelaFinanciamentoVeiculo:n2}" })
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.DataUltimaParcelaFinanciamentoPaga, new { @class = "control-label" })
        <div class="input-group">
            @Html.TextBoxFor(x => x.Cliente.DataUltimaParcelaFinanciamentoPaga, "{0:dd/MM/yyyy}", new { @class = "form-control", datepicker = "datepicker", parent = "#cliente_form" })
            <span class="input-group-btn">
                <button class="btn control-label" id="btn_data_financiamento" type="button" onclick="Europa.Components.DatePicker.Closest(this)">
                    <img src="~/Static/europa/css/icons/calendar.svg" />
                </button>
            </span>
        </div>
    </div>
</div>

<div class="col-md=24">
    <div class="col-md-4 form-group">
        @Html.Label(GlobalMessages.PossuiContaBanco + "? *", new { @class = "control-label" })
        <div class="col-md-24">
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.PossuiContaBanco, true, new { onchange = "Europa.Controllers.Cliente.OnChangePossuiContaBanco()", id="Cliente_PossuiContaBanco_Sim" }) <label class="control-label" for="Cliente_PossuiContaBanco_Sim">@GlobalMessages.Sim</label>
            </div>
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.PossuiContaBanco, false, new { onchange = "Europa.Controllers.Cliente.OnChangePossuiContaBanco()", id="Cliente_PossuiContaBanco_Nao" })<label class="control-label" for="Cliente_PossuiContaBanco_Nao">@GlobalMessages.Nao</label>
            </div>
        </div>
    </div>
    <div id="div_banco" class="col-md-9 col-md-offset-1 form-group">
        @Html.HiddenFor(x => x.Cliente.Banco.Id)
        @{
            Html.RenderAction("RenderBancos");
        }
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.LimiteChequeEspecial, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cliente.LimiteChequeEspecial, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.LimiteChequeEspecial:n2}" })
    </div>
</div>

<div class="col-md-24">
    <div class="col-md-4 form-group">
        @Html.Label(GlobalMessages.PossuiComprometimentoFinanceiro + "? *", new { @class = "control-label" })
        <div class="col-md-24">
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.PossuiComprometimentoFinanceiro, true, new { onchange = "Europa.Controllers.Cliente.OnChangePossuiComprometimentoFinanceiro()", id = "Cliente_PossuiComprometimentoFinanceiro_Sim" }) <label class="control-label" for="Cliente_PossuiComprometimentoFinanceiro_Sim">@GlobalMessages.Sim</label>
            </div>
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.PossuiComprometimentoFinanceiro, false, new { onchange = "Europa.Controllers.Cliente.OnChangePossuiComprometimentoFinanceiro()", id = "Cliente_PossuiComprometimentoFinanceiro_Nao" }) <label class="control-label" for="Cliente_PossuiComprometimentoFinanceiro_Nao">@GlobalMessages.Nao</label>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.ValorComprometimentoFinanceiro, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cliente.ValorComprometimentoFinanceiro, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.ValorComprometimentoFinanceiro:n2}" })
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.PrestacoesVencer, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cliente.PrestacoesVencer, new { @class = "form-control text-right inteiro", maxlength = 4, Value = Model.Cliente?.PrestacoesVencer })
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.DataUltimaPrestacaoPaga, new { @class = "control-label" })
        <div class="input-group">
            @Html.TextBoxFor(x => x.Cliente.DataUltimaPrestacaoPaga, "{0:dd/MM/yyyy}", new { @class = "form-control", datepicker = "datepicker", parent = "#cliente_form" })
            <span class="input-group-btn">
                <button class="btn control-label" id="btn_data_prestacao" type="button" onclick="Europa.Components.DatePicker.Closest(this)">
                    <img src="~/Static/europa/css/icons/calendar.svg" />
                </button>
            </span>
        </div>
    </div>
</div>

<div class="col-md-24">
    <div class="col-md-4 form-group">
        @Html.Label(GlobalMessages.PossuiCartaoCredito + "? *", new { @class = "control-label" })
        <div class="col-md-24">
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.PossuiCartaoCredito, true, new { onchange = "Europa.Controllers.Cliente.OnChangePossuiCartaoCredito()", id = "Cliente_PossuiCartaoCredito_Sim" }) <label class="control-label" for="Cliente_PossuiCartaoCredito_Sim">@GlobalMessages.Sim</label>
            </div>
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.Cliente.PossuiCartaoCredito, false, new { onchange = "Europa.Controllers.Cliente.OnChangePossuiCartaoCredito()", id = "Cliente_PossuiCartaoCredito_Nao" }) <label class="control-label" for="Cliente_PossuiCartaoCredito_Nao">@GlobalMessages.Nao</label>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.BandeiraCartaoCredito, new { @class = "control-label" })
        @Html.EnumDropDownListFor(x => x.Cliente.BandeiraCartaoCredito, GlobalMessages.Selecione, new { @class = "form-control" })
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.LimiteCartaoCredito, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cliente.LimiteCartaoCredito, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.LimiteCartaoCredito:n2}" })
    </div>
</div>