@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.EmpresaVenda.Enums
@using System.Collections.Generic
@using Tenda.EmpresaVenda.Domain.Commons
@model Tenda.EmpresaVenda.Domain.Services.Models.FiltroRegraComissaoDTO

@{ 
    var regionais = new List<SelectListItem> { new SelectListItem {Value = "Todos", Text = "Todos"} }; 
    regionais.AddRange(RegionalHelper.RegionaisMatrizSelectListItem);

    var situacoes = new List<SelectListItem> { new SelectListItem {Value = "-1", Text = "Todos"} }; 
    situacoes.AddRange(EnumHelper.GetSelectList(typeof(SituacaoRegraComissao)));
}

<script src="~/Static/projeto/regra-comissao/datatable-regra-comissao.js"></script>

<div id="secao-contrato-corretagem"></div>
<div class="panel-heading"></div>
<div class="col-md-24">
    <br />
    <div class="geenFieldSet">
        <div class="panel-heading">
            <div>
                <h3 class="panel-title pull-left">@GlobalMessages.RegraComissao</h3>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-24">
    <form id="form_filtro">
        <div class="col-md-24">
            <div class="col-md-4">
                @Html.Label(GlobalMessages.Regional)
                @Html.DropDownList("filtro_regional", regionais, new { @class = "form-control", multiple = "multiple" })
            </div>
            <div class="col-md-4 col-md-offset-1">
                @Html.Label(GlobalMessages.EmpresaVenda)
                <select id="autocomplete_filtro_empresa_venda" class="form-control"></select>
            </div>

            <div class="col-md-5 col-md-offset-1">
                @Html.Label(GlobalMessages.Descricao)
                @Html.TextBox("filtro_descricao", "", new { @class = "form-control", maxlength = 255 })
            </div>
            <div class="col-md-4 col-md-offset-1">
                @Html.Label(GlobalMessages.TipoRegraComissao)
                @Html.DropDownList("filtro_tipo_regra_comissao", EnumHelper.GetSelectList(typeof(TipoRegraComissao)), new { @class = "form-control", multiple = "multiple" })                
            </div>
            <div class="col-md-3 col-md-offset-1">
                @Html.Label(GlobalMessages.VigenteEm)
                <div class="input-group">
                    @Html.TextBoxFor(x => x.VigenteEm, new { @class = "form-control", datepicker = "datepicker" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-9">
                @Html.Label(GlobalMessages.Situacao)
                @Html.DropDownList("filtro_situacoes", situacoes, new { @class = "form-control", multiple = "multiple" })
            </div>
            <div class="col-md-5 col-md-offset-1">
                @Html.Label(GlobalMessages.CodigoRegra)
                @Html.TextBox("filtro_codigo_regra", "", new { @class = "form-control", maxlength = 10 })
            </div>
        </div>
        <div class="pull-right" style="margin-top:20px">
            <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.RegraComissao.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
            <button class="btn btn-default" type="button" title="@GlobalMessages.Limpar" onClick="Europa.Controllers.RegraComissao.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
        </div>
    </form>

    <div ng-controller="RegraComissaoTable as table">
        <div id="datatable_header" class="col-md-24">
            <div class="col-md-12" style="margin-top:5px">
                @Html.Label(GlobalMessages.RegraComissao)
            </div>
            <div class="pull-right">
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
                {
                    <button type="button" title="@GlobalMessages.Incluir" class="btn btn-default " onclick="Europa.Controllers.NovaRegraComissao.AbrirSetup()">
                        <i class="fa fa-plus"></i> Incluir Passo a Passo
                    </button>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
                {
                    <button type="button" title="@GlobalMessages.Incluir" class="btn btn-default" onclick="Europa.Controllers.ModalNovaRegraComissao.Abrir()">
                        <i class="fa fa-plus"></i> @GlobalMessages.Incluir
                    </button>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina"))
                {
                    <button title="@GlobalMessages.ExportarPagina" type="button" class="btn btn-default"
                            onclick="Europa.Controllers.RegraComissao.ExportarPagina()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarPagina
                    </button>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos"))
                {
                    <button title="@GlobalMessages.ExportarTodos" type="button" class="btn btn-default"
                            onclick="Europa.Controllers.RegraComissao.ExportarTodos()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarTodos
                    </button>
                }
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>

<form id="form_download_regra_comissao"></form>
<form id="Exportar"></form>

@{
    Html.RenderPartial("_ModalInclusao");
    Html.RenderPartial("~/Views/RegraComissao/_ModalDownloadPdfRegraComissao.cshtml");
}