@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@model Tenda.Domain.EmpresaVenda.Models.RegraComissao

@{
    ViewBag.Codigo = "EVS14";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}
<script src="~/Static/projeto/regra-comissao/aceite.js"></script>
<script>
    Europa.Controllers.RegraComissao.Aceite.UrlListar = '@Url.Action("ListarAceite", "RegraComissao")';
    Europa.Controllers.RegraComissao.Aceite.UrlExportarPagina = '@Url.Action("ExportarPagina", "RegraComissao")';
    Europa.Controllers.RegraComissao.Aceite.UrlExportarTodos = '@Url.Action("ExportarTodos", "RegraComissao")';
    Europa.Controllers.RegraComissao.Aceite.UrlDownloadPdfRegraComissaoEvs = '@Url.Action("DownloadPdfRegraComissaoEspecifica", "RegraComissaoEvs")';

    Europa.Controllers.RegraComissao.Aceite.PermDownloadRegraComissaoEvs = '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "DownloadRegraComissao")';

</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div id="titlebar-buttons">
    <div class="pull-right" style="width: 100%">
        <button class="btn btn-default"
                onClick="location.href='@Url.Action("Index", "RegraComissao")'">
            <i class="fa fa-chevron-left"></i> @GlobalMessages.Voltar
        </button>        
    </div>
</div>

<div class="col-md-24">
    <form id="form_detalhamento_regra_comissao">
        @Html.HiddenFor(x => x.Id, new { @class = "form-control", disabled = "disabled" })
        <div class="col-md-9">
            @Html.Label(GlobalMessages.Descricao)
            @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control", disabled = "disabled" })
        </div>
        <div class="col-md-2 col-md-offset-1">
            @Html.Label(GlobalMessages.Situacao)
            @Html.TextBoxFor(x => x.Situacao, new { @class = "form-control", disabled = "disabled" })
        </div>
        <div class="col-md-3 col-md-offset-1">
            @Html.Label(GlobalMessages.InicioVigencia)
            @Html.TextBoxFor(x => x.InicioVigencia, new { @class = "form-control", disabled = "disabled" })
        </div>
        <div class="col-md-7 col-md-offset-1">
            @Html.Label(GlobalMessages.TerminoVigencia)
            @Html.TextBoxFor(x => x.TerminoVigencia, new { @class = "form-control", disabled = "disabled" })
        </div>
    </form>
</div>
<div class="col-md-24">
    <div ng-controller="AceiteDatatable as table">
        <div id="datatable_header" class="col-md-24">
            <div class="col-md-12" style="margin-top:5px">
                @Html.Label(GlobalMessages.Aceites)
            </div>
            <div class="pull-right">
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina"))
                {
                    <button type="button" title="@GlobalMessages.ExportarPagina" class="btn btn-default" onclick="Europa.Controllers.RegraComissao.Aceite.ExportarPagina()">
                        <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarPagina
                    </button>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos"))
                {
                    <button type="button" title="@GlobalMessages.ExportarTodos" class="btn btn-default" onclick="Europa.Controllers.RegraComissao.Aceite.ExportarTodos()">
                        <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarTodos
                    </button>
                }
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>

<form id="exportar"></form>
