@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.EmpresaVenda.Domain.Services.Models
@using Europa.Resources

@{
    ViewBag.Codigo = "EVS14";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/regra-comissao/regra-comissao.js"></script>
<script>
    Europa.Controllers.RegraComissao.UrlListar = '@Url.Action("Listar", "RegraComissao")';
    Europa.Controllers.RegraComissao.UrlIncluir = '@Url.Action("Incluir", "RegraComissao")';
    Europa.Controllers.RegraComissao.UrlMatriz = '@Url.Action("Index", "MatrizPagadoria")';
    Europa.Controllers.RegraComissao.UrlAtualizar = '@Url.Action("Atualizar", "RegraComissao")';
    Europa.Controllers.RegraComissao.UrlLiberar = '@Url.Action("Liberar", "RegraComissao")';
    Europa.Controllers.RegraComissao.UrlDetalhar = '@Url.Action("Detalhar", "RegraComissao")';
    Europa.Controllers.RegraComissao.UrlRenderContratoCorretagem = '@Url.Action("RenderContratoCorretagem", "RegraComissao")';
    Europa.Controllers.RegraComissao.UrlDownloadContratoCorretagem = '@Url.Action("DownloadContratoCorretagem", "RegraComissao")';
    Europa.Controllers.RegraComissao.UrlDownloadRegraComissao = '@Url.Action("DownloadRegraComissao", "RegraComissao")';
    Europa.Controllers.RegraComissao.UrlExportarPagina = '@Url.Action("ExportarRegrasComissaoEvsPagina","RegraComissao")';
    Europa.Controllers.RegraComissao.UrlExportarTodos = '@Url.Action("ExportarRegrasComissaoEvsTodos","RegraComissao")';
    Europa.Controllers.RegraComissao.UrlExcluir = '@Url.Action("ExcluirPorId","RegraComissao")';

    Europa.Controllers.RegraComissao.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()',
        Liberar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Liberar").ToString().ToLower()',
        Detalhar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Detalhar").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo,"Excluir")'
    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>
<div id="titlebar-buttons">
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "DownloadContratoCorretagem"))
    {
        <div id="botao-incluir-contrato" class="btn btn-default" onclick="Europa.Controllers.RegraComissao.DownloadContratoCorretagem()">
            <i class="fa fa-download"></i> @GlobalMessages.DownloadContratoCorretagem
        </div>
    }
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirContratoCorretagem"))
    {
        <div id="botao-incluir-contrato" class="btn btn-default" onclick="Europa.Controllers.RegraComissao.Import.AbrirModal()">
            <i class="fa fa-file-text-o"></i> @GlobalMessages.IncluirContratoCorretagem
        </div>
    }
</div>

@{
    Html.RenderPartial("_AnexoContratoCorretagem");
    Html.RenderPartial("_Datatable", new FiltroRegraComissaoDTO());
    Html.RenderPartial("Componentes/_ModalNovaRegraComissao");
    Html.RenderPartial("~/Views/NovaRegraComissao/_ModalSetup.cshtml");
}

<form id="form_download_contrato_corretagem"></form>