@using Europa.Resources
@model Tenda.EmpresaVenda.Portal.Models.PreCadastroDTO
<div class="col-md-24">
    <br />
    <div class="geenFieldSet">
        <div class="panel-heading">
            <div>
                <h3 class="panel-title pull-left">@GlobalMessages.ResponsavelTecnico</h3>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-24">
    <form id="form_resp_tecnico">
        <div class="col-md-24">
            <div class="col-md-16 form-group">
                @Html.Label(GlobalMessages.Nome + " *", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.EmpresaVenda.NomeResponsavelTecnico, new { @class = "form-control", @maxlength = 128 })
            </div>
            <div class="col-md-7 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.Categoria + " *", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.EmpresaVenda.Categoria, new { @class = "form-control", @maxlength = 60 })
            </div>
        </div>
        <div class="col-md-24">
            <div class="col-md-14 form-group">
                @Html.Label(GlobalMessages.NumeroRegistroCreci + " *", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.EmpresaVenda.NumeroRegistroCRECI, new { @class = "form-control", @maxlength = 128 })
            </div>
            <div class="col-md-9 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.Situacao + " *", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.EmpresaVenda.SituacaoResponsavel, new { @class = "form-control", @maxlength = 128 })
            </div>
        </div>
    </form>
</div>
