@using Europa.Resources
@using Europa.Fmg.Portal.Models.Application
@using Tenda.Domain.EmpresaVenda.Enums
@using Europa.Extensions
@{
    ViewBag.Codigo = "EVS11";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/consulta-pre-proposta/consulta-pre-proposta.js"></script>

<script>
    Europa.Controllers.ConsultaPreProposta.UrlListar = '@Url.Action("Listar", "ConsultaPreProposta")';
    Europa.Controllers.ConsultaPreProposta.UrlExportarPagina = '@Url.Action("ExportarPagina", "ConsultaPreProposta")';
    Europa.Controllers.ConsultaPreProposta.UrlExportarTodos = '@Url.Action("ExportarTodos", "ConsultaPreProposta")';
</script>

@*<div id="titlebar-name"></div>
    <div id="titlebar-buttons"></div>*@

<div class="menu-options" color="white" size="large">
    <div id="titlebar-name">
        <h3 id="title-listagem">@ViewBag.Title</h3>
    </div>
</div>


<form>
    <div class="col-md-24">
        <div class="col-md-4 form-group">
            @Html.Label(GlobalMessages.CodigoProposta)
            @Html.TextBox("filtro_codigo_proposta", "", new { @class = "form-control", maxlength = 128 })
        </div>

        <div class="col-md-9 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.Cliente)
            @Html.TextBox("filtro_cliente", "", new { @class = "form-control", maxlength = 128 })
        </div>
        <div class="col-md-9 form-group col-md-offset-1">
            @Html.Label(GlobalMessages.Corretor)
            <select id="autocomplete_corretor" name="autocomplete_corretor" class="select2-container form-control"></select>
        </div>

        <div class="col-md-9 form-group">
            @{
                var situacoesParaVisualizacao = new List<SituacaoProposta>() {
                            SituacaoProposta.AguardandoAnaliseSimplificada,
                            SituacaoProposta.AguardandoAnaliseCompleta,
                            SituacaoProposta.AguardandoFluxo,
                            SituacaoProposta.AnaliseSimplificadaAprovada,
                            SituacaoProposta.Cancelada,
                            SituacaoProposta.Condicionada,
                            SituacaoProposta.DocsInsuficientesSimplificado,
                            SituacaoProposta.DocsInsuficientesCompleta,
                            SituacaoProposta.EmAnaliseSimplificada,
                            SituacaoProposta.EmAnaliseCompleta,
                            SituacaoProposta.EmElaboracao,
                            SituacaoProposta.AguardandoIntegracao,
                            SituacaoProposta.FluxoEnviado,
                            SituacaoProposta.SICAQComErro,
                            SituacaoProposta.Integrada,
                            SituacaoProposta.Reprovada,
                            SituacaoProposta.AnaliseCompletaAprovada
                        };

                var situacoesSelectList = new List<SelectListItem>();
                foreach (var situacao in situacoesParaVisualizacao)
                {
                    situacoesSelectList.Add(new SelectListItem { Text = situacao.AsString(), Value = situacao.GetHashCode().ToString() });
                }
                situacoesSelectList = situacoesSelectList.AsQueryable().OrderBy(reg => reg.Text).ToList();
            }
            @Html.Label(GlobalMessages.Status)
            @Html.DropDownList("situacao_pre_proposta", situacoesSelectList, new { @class = "form-control ", multiple = "multiple" })
        </div>

        <div class="col-md-9 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Produto)
            <select id="autocomplete_breve_lancamento" name="autocomplete_breve_lancamento" class="select2-container form-control"></select>
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.PontoVenda)
            <select id="autocomplete_ponto_venda" name="autocomplete_ponto_venda" class="select2-container form-control"></select>
        </div>
        <div class="col-md-4 form-group">
            @Html.Label(GlobalMessages.DataElaboracao)
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBox("ElaboracaoDe", "", new { @class = "form-control", datepicker = "datepicker", parent = "#form_filtro", @style = "height:30px" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height:30px" onclick=" Europa.Components.DatePicker.ClosestInput(this) ">
                        <img src="~/Static/europa/css/icons/calendar.svg" />
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
            @Html.Label(GlobalMessages.DataElaboracao, new { style = "visibility:hidden" })
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBox("ElaboracaoAte", "", new { @class = "form-control", datepicker = "datepicker", parent = "#form_filtro", @style = "height:30px" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height:30px" onclick=" Europa.Components.DatePicker.ClosestInput(this) ">
                        <img src="~/Static/europa/css/icons/calendar.svg" />
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-1">
            @Html.Label(GlobalMessages.DataUltimoEnvio)
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBox("DataEnvioDe", "", new { @class = "form-control", datepicker = "datepicker", parent = "#form_filtro", @style = "height:30px" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height:30px" onclick=" Europa.Components.DatePicker.ClosestInput(this) ">
                        <img src="~/Static/europa/css/icons/calendar.svg" />
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
            @Html.Label(GlobalMessages.DataUltimoEnvio, new { style = "visibility:hidden" })
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBox("DataEnvioAte", "", new { @class = "form-control", datepicker = "datepicker", parent = "#form_filtro", @style = "height:30px" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="height:30px" onclick=" Europa.Components.DatePicker.ClosestInput(this) ">
                        <img src="~/Static/europa/css/icons/calendar.svg" />
                    </button>
                </span>
            </div>
        </div>


        <div class="col-md-5 pull-right">
            <div class="col-md-24">
                @Html.Label(GlobalMessages.Filtrar, new { style = "visibility:hidden" })
            </div>
            <div class="col-md-24 text-right">
                <button class="btn" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.ConsultaPreProposta.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
                <button type="button" title="@GlobalMessages.Limpar" class="btn" onClick="Europa.Controllers.ConsultaPreProposta.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
            </div>
        </div>
    </div>
</form>

<div class="col-md-24">
    <div ng-controller="consultaPrePropostaTable as table">
        <div id="consulta_pre_proposta_datatable_header">
            <div class="col-md-12 form-group">
                <h5 style="margin-top:6px;margin-bottom:0px;">@GlobalMessages.PreProposta</h5>
            </div>
            <div class="col-md-11 text-right" style="float: right;">
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina"))
                {
                    <button class="btn" type="button" onclick="Europa.Controllers.ConsultaPreProposta.ExportarPagina()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarPagina</button>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos"))
                {
                    <button class="btn" type="button" onclick="Europa.Controllers.ConsultaPreProposta.ExportarTodos()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarTodos</button>
                }
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>

<form id="form_exportar" hidden></form>
