@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.Domain.Core.Enums



<div class="col-md-24">
    <div class="col-md-2">
        @Html.Label(GlobalMessages.Ocorrencia)
        @Html.TextBox("filtro_ocorrencia", "", new { @class = "form-control", maxlength = 128 })
    </div>

    <div class="col-md-3 col-md-offset-1">
        @Html.Label(GlobalMessages.CNPJTomador)
        @Html.TextBox("filtro_cnpj_tomador", "", new { @class = "form-control", maxlength = 128 })
    </div>
    <div class="col-md-3 col-md-offset-1">
        @Html.Label(GlobalMessages.CNPJPrestador)
        @Html.TextBox("filtro_cnpj_prestador", "", new { @class = "form-control", maxlength = 128 })
    </div>
    <div class="col-md-3 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.NumeroNotaFiscalP)
        @Html.TextBox("numero_nf", "", new { @class = "form-control" })
    </div>
    <div class="col-md-3 col-md-offset-1">
        @Html.Label(GlobalMessages.Proposta)
        @Html.TextBox("numero_preproposta", "", new { @class = "form-control" })
    </div>
    <div class="col-md-2 col-md-offset-1">
        @Html.Label(GlobalMessages.Match)
        @Html.DropDownList("filtro_match", EnumHelper.GetSelectList(typeof(TipoSimNao)), new { @class = "form-control " })
    </div>
    <div class="col-md-2 col-md-offset-1">
        @Html.Label(GlobalMessages.UF)
        @Html.DropDownList("estado", new SelectList(EstadosSelectList.ValuesWithEmpty, "Value", "Text"), new { @class = "form-control" })
    </div>
</div>
<div class="col-md-24">
    <div class="col-md-6 form-group">
        @Html.Label(GlobalMessages.EmpresaVenda)
        <select id="autocomplete_empresa_venda" name="autocomplete_empresa_venda" class="select2-container form-control"></select>
    </div>

    <div class="col-md-3 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.NumeroPedido)
        @Html.TextBox("numero_pedido", "", new { @class = "form-control" })
    </div>
    <div class="col-md-7  col-md-offset-1">
        <div class="col-md-12">
            @Html.Label(GlobalMessages.DataPrevisaoPagamento)
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBox("data_previsao_pagamento_inicio", "", new { @class = "form-control filtro", datepicker = "datepicker", @style = "height: 30px;" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)" style="height: 30px;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-1">
            @Html.Label(GlobalMessages.Periodo, new { style = "visibility:hidden" })
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBox("data_previsao_pagamento_termino", "", new { @class = "form-control filtro", datepicker = "datepicker", @style = "height: 30px;" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)" style="height:30px;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        @Html.Label(GlobalMessages.Situacao)
        @Html.DropDownList("situacao_nota_fiscal", EnumHelper.GetSelectList(typeof(SituacaoNotaFiscal)), new { @class = "form-control ", multiple = "multiple" })
    </div>
</div>
<div class="col-md-24">
    <div class="pull-right" style="padding-top:12px;">
        <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.CockpitMidas.Filtrar()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
        <button type="button" title="@GlobalMessages.Limpar" class="btn btn-default" onClick="Europa.Controllers.CockpitMidas.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
    </div>

</div>

