@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources

@{
    ViewBag.Codigo = "GEC21";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/cockpit-midas/cockpit-midas.js"></script>
<script src="~/Static/projeto/cockpit-midas/datatable-ocorrencias.js"></script>
<script src="~/Static/projeto/cockpit-midas/datatable-notas.js"></script>

<script>
    Europa.Controllers.CockpitMidas.UrlListarOcorrencias = '@Url.Action("ListarOcorrencias", "CockpitMidas")';
    Europa.Controllers.CockpitMidas.UrlListarNotas = '@Url.Action("ListarNotas", "CockpitMidas")';

    Europa.Controllers.CockpitMidas.UrlExportarTodosOcorrencias = '@Url.Action("ExportarTodosOcorrencias", "CockpitMidas")';
    Europa.Controllers.CockpitMidas.UrlExportarPaginaOcorrencias = '@Url.Action("ExportarPaginaOcorrencias", "CockpitMidas")';
    Europa.Controllers.CockpitMidas.UrlExportarTodosNotas = '@Url.Action("ExportarTodosNotas", "CockpitMidas")';
    Europa.Controllers.CockpitMidas.UrlExportarPaginaNotas = '@Url.Action("ExportarPaginaNotas", "CockpitMidas")';

    Europa.Controllers.CockpitMidas.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()'
    };

</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div>
    @{
        Html.RenderPartial("_Filtro");
    }
</div>
<div style="margin-top:200px;">
    <div id="div_ocorrencias" class="col-md-11">
        @{
            Html.RenderPartial("_OcorrenciasDatatable");
        }
    </div>

    <div id="div_notas" class="col-md-12 col-md-offset-1">
        @{
            Html.RenderPartial("_NotasDataTable");
        }
    </div>
</div>