@using Europa.Resources
@model Tenda.EmpresaVenda.ApiService.Models.Planta3D.PlantaTresDLinksDto

<div class="modal transparent-modal" id="modal_planta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-purple" style="cursor:unset">
                <div class="pl-4">
                    <span id="TituloBairro" class="modal-title"></span><br />
                    <span id="TituloNome" class="modal-subtitle"></span>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Europa.Controllers.Produto.FecharModal()">
                    <img src="~/Static/images/x-icon.png" width="15"/>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-3 min-vh-70">
                    <div>
                        <a onclick="Europa.Controllers.Produto.VoltarModalPlanta()" href="" style="font-size: 18px; font-weight: 600; color: #ec1d24;">@GlobalMessages.Voltar</a>
                    </div>
                    <div class="font-22 my-4">
                        @GlobalMessages.QualPlanta.ToUpper()
                    </div>
                    <div class="d-flex pt-3">
                        <div id="caixa-planta-4" class="card-planta-3d">
                            <a href="@Model.Planta3DLink4" target="_blank">
                                <img src="~/Static/images/group-blue.svg"/>
                            </a>
                            <p>
                                @GlobalMessages.Planta4
                            </p>
                        </div>
                        <div id="caixa-planta-7" class="card-planta-3d ml-4">
                            <a href="@Model.Planta3DLink7" target="_blank">
                                <img src="~/Static/images/group-red.svg"/>
                            </a>
                            <p>
                                @GlobalMessages.Planta7
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
