@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.Core.Enums
@using Europa.Resources

<div class="col-md-24">
    <form id="form_filtro_empresa_venda">
        <div class="col-md-4">
            @Html.Label(GlobalMessages.Nome)
            @Html.TextBox("filtro_nome", "", new { @class = "form-control", maxlength = 128 })
        </div>
        <div class="col-md-4 col-md-offset-1">
            @Html.Label(GlobalMessages.EmpresaVenda)
            <select id="autocomplete_filtro_empresa_venda" class="form-control"></select>
        </div>
        <div class="col-md-2 col-md-offset-1">
            @Html.Label(GlobalMessages.GerenciadoTenda)
            <select class="form-control" id="filtro_iniciativa">
                <option value="">@GlobalMessages.Selecione</option>
                <option value="true">@GlobalMessages.Sim</option>
                <option value="false">@GlobalMessages.Nao</option>
            </select>
        </div>
        <div class="col-md-4 col-md-offset-1">
            @Html.Label(GlobalMessages.Situacao)
            @Html.DropDownList("filtro_situacoes", EnumHelper.GetSelectList(typeof(Situacao)), new { @class = "form-control", multiple = "multiple" })
        </div>
        <div class="col-md-6 col-md-offset-1">
            @Html.Label(GlobalMessages.Viabilizador)
            <select id="autocomplete_filtro_viabilizador" class="form-control"></select>
        </div>
        <div class="pull-right" style="margin-top: 19px">
            <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.PontoVenda.FiltrarTabela()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
            <button type="button" title="@GlobalMessages.Limpar" class="btn btn-default" onClick="Europa.Controllers.PontoVenda.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
        </div>
    </form>
</div>

<div class="col-md-24">
    <div ng-controller="pontoVendaTable as table">
        <div id="datatable_header" class="col-md-24">
            <div class="pull-right">
                <button type="button" title="@GlobalMessages.ExportarPagina" class="btn btn-default" onclick="Europa.Controllers.PontoVenda.ExportarPagina()">
                    <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarPagina
                </button>
                <button type="button" title="@GlobalMessages.ExportarTodos" class="btn btn-default" onclick="Europa.Controllers.PontoVenda.ExportarTodos()">
                    <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarTodos
                </button>
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Suspender") ||
                SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Reativar") ||
                SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar"))
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" title="@GlobalMessages.Opcoes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            @GlobalMessages.Opcoes <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Reativar"))
                            {
                                <li><a href="#" title="@GlobalMessages.Reativar" onclick="Europa.Controllers.PontoVenda.Ativar()">@GlobalMessages.Reativar</a></li>
                            }
                            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Suspender"))
                            {
                                <li><a href="#" title="@GlobalMessages.Suspender" onclick="Europa.Controllers.PontoVenda.Suspender()">@GlobalMessages.Suspender</a></li>
                                <li role="separator" class="divider"></li>
                            }
                            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar"))
                            {
                                <li><a href="#" title="@GlobalMessages.Cancelar" onclick="Europa.Controllers.PontoVenda.Cancelar()">@GlobalMessages.Cancelar</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>

<form id="Exportar"></form>
