@using Europa.Resources
@using Europa.Extensions
@model Tenda.Domain.EmpresaVenda.Models.EmpresaVenda

<div class="col-md-24">
    <br />
    <div class="geenFieldSet">
        <div class="panel-heading">
            <div>
                <h3 class="panel-title pull-left">@GlobalMessages.Endereco</h3>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-24">
    <form id="form_endereco_empresa_venda">
        <div class="col-md-4 form-group">
            @Html.Label(GlobalMessages.CEP + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Cep, new { @class = "form-control", maxlength = 9, onchange = "Europa.Controllers.NovaEv.OnChangeCepEmpresaVenda(this)" })
        </div>
        <div class="col-md-9 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Endereco + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Logradouro, new { @class = "form-control", maxlength = 60 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Numero + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Numero, new { @class = "form-control text-right", maxlength = 10 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Complemento, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Complemento, new { @class = "form-control", maxlength = 30 })
        </div>
        <div class="col-md-4 form-group">
            @Html.Label(GlobalMessages.Bairro + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Bairro, new { @class = "form-control", maxlength = 40 })
        </div>
        <div class="col-md-9 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Cidade + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Cidade, new { @class = "form-control", maxlength = 40 })
        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Estado + " *", new { @class = "control-label" })
            @{
                if (Model.HasValue() && Model.HasValue() && Model.Estado.HasValue())
                {
                    Html.RenderPartial("_EstadosDropDownList", Tuple.Create("Estado", Model.Estado));
                }
                else
                {
                    Html.RenderPartial("_EstadosDropDownList", Tuple.Create("Estado", "Estado"));
                }
            }
        </div>
    </form>
</div>

