@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.EmpresaVenda.Models
@using Europa.Resources

@{
    ViewBag.Codigo = "GEC02";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/nova-ev/nova-ev.js"></script>

<script>
    Europa.Controllers.NovaEv.UrlListar = '@Url.Action("Listar", "NovaEv")';
    Europa.Controllers.NovaEv.UrlBuscarEmpresaVenda = '@Url.Action("BuscarEmpresaVenda", "NovaEv")';
    Europa.Controllers.NovaEv.UrlIncluir = '@Url.Action("Incluir", "NovaEv")';
    Europa.Controllers.NovaEv.UrlAtualizar = '@Url.Action("Atualizar", "NovaEv")';
    Europa.Controllers.NovaEv.UrlReprovarEv = '@Url.Action("Cancelar","NovaEv")';
    Europa.Controllers.NovaEv.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()'
    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div id="titlebar-buttons">
    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
    {
        <div id="botoes_edicao" style="display:none">
            <button type="button" title="@GlobalMessages.Aprovar" class="btn btn-default" onClick="Europa.Controllers.NovaEv.Salvar()"><i class="fa fa-check"></i> @GlobalMessages.Aprovar</button>
            <button type="button" title="@GlobalMessages.Reprovar" class="btn btn-default" onClick="Europa.Controllers.NovaEv.AbrirModal()"><i class="fa fa-times"></i> @GlobalMessages.Reprovar</button>
            <button type="button" title="@GlobalMessages.Voltar" class="btn btn-default" onClick="Europa.Controllers.NovaEv.CancelarEdicao()"><i class="fa fa-arrow-left"></i> @GlobalMessages.Voltar</button>
        </div>
    }
</div>

@if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar"))
 {
    <div id="div_visualizacao">
        @{
            Html.RenderPartial("_DataTableEmpresaVenda");
        }
    </div>

    <div id="div_edicao" style="display:none">
        @{
            Html.RenderPartial("_FormularioCompleto", new EmpresaVenda());
        }
    </div>
   
 }
@{ 
    Html.RenderPartial("_ModalReprovacao");
}