@using Europa.Extensions
@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.Core.Enums
@using Tenda.EmpresaVenda.Domain.Commons
@using Tenda.Domain.Shared

<script type="text/javascript" src="~/Static/projeto/pagamento/filtro-pagamento.js"></script>

<div class="col-md-24">
    <div class="col-md-7">
        <div class="col-md-11">
            @Html.Label(GlobalMessages.DataAptidao)
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBox("DateInicioVigencia", "", new { @class = "form-control filtro", datepicker = "datepicker", onchange = "Europa.Controllers.Pagamento.OnChangeDataTerminoVigencia()" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-2">
            @Html.Label(GlobalMessages.Periodo, new { style = "visibility:hidden" })
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBox("DataTerminoVigencia", "", new { @class = "form-control filtro", datepicker = "datepicker", onchange = "Europa.Controllers.Pagamento.LimparTabela()" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div> <!-- Fim do componente de data vigencia-->

    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.UF)
        @Html.DropDownList("filtro_estados", new SelectList(EstadosSelectList.ValuesWithEmpty, "Value", "Text"), new { @class = "form-control", multiple = "multiple" })
    </div>
    <div class="col-md-6 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Regional)
        <select id="autocomplete_regionais" multiple="multiple" name="autocomplete_regionais" class="select2-container form-control" multiple="multiple" onchange="Europa.Controllers.Pagamento.LimparTabela()"></select>
    </div>
    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Cliente)
        @Html.TextBox("filtro_cliente", "", new { @class = "form-control", maxlength = 128 })
    </div>

</div>
<div class="col-md-24">

    <div class="col-md-7 ">
        <div class="col-md-11">
            @Html.Label(GlobalMessages.DataVenda)
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBox("filtro_data_venda_inicio", "", new { @class = "form-control filtro", datepicker = "datepicker" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-2">
            @Html.Label(GlobalMessages.DataVenda, new { style = "visibility:hidden" })
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBox("filtro_data_venda_termino", "", new { @class = "form-control filtro", datepicker = "datepicker" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>


    <div class="col-md-4 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.CodigoProposta)
        @Html.TextBox("filtro_proposta", "", new { @class = "form-control", maxlength = 128 })
    </div>
    <div class="col-md-6 col-md-offset-1">
        @Html.Label(GlobalMessages.EmpresaVendas)
        <select id="autocomplete_empresa_venda" multiple="multiple" name="autocomplete_empresa_venda" class="select2-container form-control" multiple="multiple" onchange="Europa.Controllers.Pagamento.LimparTabela()"></select>
    </div>
    <div class="col-md-4 form-group col-md-offset-1">
        @Html.Label(GlobalMessages.StatusIntegracaoSap)
        @Html.DropDownList("filtro_status_sap", EnumHelper.GetSelectList(typeof(StatusIntegracaoSap)), "Todos", new { @class = "form-control" })

    </div>

</div>
<div class="col-md-24">

    <div class="col-md-7">
        <div class="col-md-11">
            @Html.Label(GlobalMessages.DataRCPedido)
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBox("filtro_data_rc_pedido_de", "", new { @class = "form-control filtro", datepicker = "datepicker" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-2">
            @Html.Label(GlobalMessages.DataVenda, new { style = "visibility:hidden" })
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBox("filtro_data_rc_pedido_ate", "", new { @class = "form-control filtro", datepicker = "datepicker" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
        @Html.Label(GlobalMessages.Pago)
        <select class="form-control" id="filtro_pago" name="filtro_pago">
            <option value="0" selected>@GlobalMessages.Selecione</option>
            <option value="1">@GlobalMessages.Sim</option>
            <option value="2">@GlobalMessages.Nao</option>
        </select>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <div class="col-md-12">
            @Html.Label(GlobalMessages.DataPrevisaoPagamento)
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.De</span>
                @Html.TextBox("data_previsao_pagamento_inicio", "", new { @class = "form-control filtro", datepicker = "datepicker", @style = "height: 30px;" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)" style="height: 30px;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-1">
            @Html.Label(GlobalMessages.Periodo, new { style = "visibility:hidden" })
            <div class="input-group">
                <span class="input-group-addon">@GlobalMessages.Ate</span>
                @Html.TextBox("data_previsao_pagamento_termino", "", new { @class = "form-control filtro", datepicker = "datepicker", @style = "height: 30px;" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)" style="height:30px;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
        @Html.Label(GlobalMessages.TipoPagamento)
        @Html.DropDownList("filtro_tipo_pagamento", EnumHelper.GetSelectList(typeof(TipoPagamento)), " ", new { @class = "form-control " })
    </div>
    <div class="pull-right" style="margin-top:19px">
        <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.Pagamento.DesenharTabelas()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
        <button type="button" title="@GlobalMessages.Limpar" class="btn btn-default" onClick="Europa.Controllers.Pagamento.LimparFiltro()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
    </div>
</div>

    <div class="col-md-24" style="border:1px solid #DDDDDD; margin-top:5px">
        <div class="pull-right" style="margin: 3px 2px 3px 1px;">
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "GerarRequisicaoCompra"))
            {
                <button id="gerar-requisicao-compra" type="button" title="@GlobalMessages.GerarRequisicaoCompra" class="btn btn-default" onclick="Europa.Controllers.Pagamento.GerarRequisicaoCompra()">
                    <i class="fa fa-save"></i> @GlobalMessages.GerarRequisicaoCompra
                </button>
            }
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina"))
            {
                <button type="button" title="@GlobalMessages.ExportarEVSFiltradas" class="btn btn-default" onclick="Europa.Controllers.Pagamento.Validar()">
                    <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarEVSFiltradas
                </button>
            }
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos"))
            {
                <button type="button" title="@GlobalMessages.ExportarTodos" class="btn btn-default hidden" onclick="Europa.Controllers.Pagamento.ExportarTodos()">
                    <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarTodos
                </button>
            }
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodasEvs"))
            {
                <button type="button" title="@GlobalMessages.ExportarTodasEvs" class="btn btn-default" onclick="Europa.Controllers.Pagamento.ExportarTodasEvs()">
                    <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarTodasEvs
                </button>
            }
        </div>
    </div>
