@using Europa.Resources
@using Europa.Extensions
@using Tenda.EmpresaVenda.Domain.Integration.Zeus.Models
@model ItemRequisicaoDTO

<div class="col-md-24">
    <form id="form_item_requisicao">
        <div class="col-md-24">
            <br />
            <div class="geenFieldSet">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title pull-left">@GlobalMessages.Fixa</h3>
                        <div class="pull-right">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-24">
            <div class="col-md-6 form-group">
                @Html.Label(GlobalMessages.NomeRequisitante)
                @Html.TextBoxFor(x => x.NomeRequisitante, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.CodigoEntradaFaturas)
                @Html.TextBoxFor(x => x.CodigoEntradaFaturas, "", new { @class = "form-control", @readOnly = true })
            </div>

            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.CodigoEntradaMercadorias)
                @Html.TextBoxFor(x => x.CodigoEntradaMercadorias, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.UnidadeMedida)
                @Html.TextBoxFor(x => x.UnidadeMedida, "", new { @class = "form-control", @readOnly = true })
            </div>
        </div>
        <div class="col-md-24">
            <div class="col-md-6 form-group">
                @Html.Label(GlobalMessages.CodigoMoedas)
                @Html.TextBoxFor(x => x.CodigoMoeda, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.GrupoCompradores)
                @Html.TextBoxFor(x => x.GrupoCompradores, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.GrupoMercadorias)
                @Html.TextBoxFor(x => x.GrupoMercadorias, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.TipoDocumento)
                @Html.TextBoxFor(x => x.TipoDocumento, "", new { @class = "form-control", @readOnly = true })
            </div>
        </div>
        <div class="col-md-24">

            <div class="col-md-6 form-group">
                @Html.Label(GlobalMessages.NumItem)
                @Html.TextBoxFor(x => x.NumeroItem, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.NumMaterial)
                @Html.TextBoxFor(x => x.NumeroMaterial, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-11 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.TextoBreve)
                @Html.TextBoxFor(x => x.TextoBreve, "", new { @class = "form-control", @readOnly = true })
            </div>
        </div>
        <div class="col-md-24">
            <div class="col-md-6 form-group">
                @Html.Label(" " + GlobalMessages.Quantidade)
                @Html.TextBoxFor(x => x.Quantidade, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.CategoriaClassificacaoContabil)
                @Html.TextBoxFor(x => x.CategoriaClassificacaoContabil, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.TipoData)
                @Html.TextBoxFor(x => x.TipoData, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.OrganizacaoCompras)
                @Html.TextBoxFor(x => x.OrganizacaoDeCompras, "", new { @class = "form-control", @readOnly = true })
            </div>
        </div>
        <div class="col-md-24">
            <div class="col-md-6 form-group">
                @Html.Label(GlobalMessages.AreaContabilidadeCustos)
                @Html.TextBoxFor(x => x.AreaContabilidadeCustos, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.NumeroContaRazao)
                @Html.TextBoxFor(x => x.NumeroContaRazao, "", new { @class = "form-control", @readOnly = true })
            </div>
            <div class="col-md-6 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.NumeroSeqSegmentoClasseContabil)
                @Html.TextBoxFor(x => x.NumeroSeqSegmentoClasseContabil, "", new { @class = "form-control", @readOnly = true })
            </div>
        </div>
        <div class="col-md-24">
            <br />
            <div class="geenFieldSet">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title pull-left">@GlobalMessages.Variavel</h3>
                        <div class="pull-right">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-24">
            <div class="col-md-6 form-group">
                @Html.Label(GlobalMessages.Preco)
                @Html.TextBoxFor(x => x.Preco, "", new { @class = "form-control", Value = !Model.Preco.IsEmpty() ? Model.Preco.ToString("F") : "" ,@readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.UnidadePreco)
                @Html.TextBoxFor(x => x.PrecoUnidade, "", new { @class = "form-control", Value = !Model.PrecoUnidade.IsEmpty() ? Model.PrecoUnidade.ToString("F") : "" ,@readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.Centro)
                @Html.TextBoxFor(x => x.CentroDeCusto, "", new { @class = "form-control" ,@readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.DataSolicitacao)
                @Html.TextBoxFor(x => x.DataSolicitacao, "", new { @class = "form-control", datepicker = "datepicker" ,@readOnly = true })
            </div>

        </div>
        <div class="col-md-24">
            <div class="col-md-6  form-group">
                @Html.Label(GlobalMessages.FornecedorPrentendido)
                @Html.TextBoxFor(x => x.FornecedorPretendido, "", new { @class = "form-control" ,@readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.DataLiberacao)
                @Html.TextBoxFor(x => x.DataLiberacao, "", new { @class = "form-control", @datepicker = "datepicker" ,@readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.CategoriaItemDocumentoCompra)
                @Html.TextBoxFor(x => x.CategoriaItemDocumentoCompra, "", new { @class = "form-control" ,@readOnly = true })
            </div>
            <div class="col-md-5 col-md-offset-1 form-group">
                @Html.Label(GlobalMessages.DataRemessaItem)
                @Html.TextBoxFor(x => x.DataRemessaItem, "", new { @class = "form-control", datepicker = "datepicker" ,@readOnly = true })
            </div>
        </div>
    </form>
</div>
