@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources
@*@model Tenda.Domain.Agendamento.Models.Views.ViewUsuarioLoja*@

<script src="~/Static/portal-pos-venda/informacao-usuario/modal-gerenciar-associacoes.js"></script>
<script>
    Europa.Components.GerenciarAssociacoesLoja.Modal.UrlListarLojas = '@Url.Action("ListarLojas", "InformacaoUsuario")';
    Europa.Components.GerenciarAssociacoesLoja.Modal.UrlIncluirLoja = '@Url.Action("IncluirLoja", "InformacaoUsuario")';
    Europa.Components.GerenciarAssociacoesLoja.Modal.UrlExcluirLoja = '@Url.Action("ExcluirLoja", "InformacaoUsuario")';
    Europa.Components.GerenciarAssociacoesLoja.Modal.Permissoes = {
        Incluir: '@SessionAttributes.Current().HasPermission("SEG12", "IncluirLoja")' === 'True',
        Excluir: '@SessionAttributes.Current().HasPermission("SEG12", "ExcluirLoja")' === 'True'
    }

</script>

<div class="modal" id="modal_gerenciar_associacoes" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Europa.Components.GerenciarAssociacoesLoja.Modal.CloseModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal_titulo">@GlobalMessages.GerenciarAssociacoesLoja</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="modal_formulario" class="form-group">
                        <fieldset id="modal_formulario_fieldset">
                            <div class="col-md-24">
                                <div class="col-md-11">
                                    @*tml.HiddenFor(x => x.Id)
                                    @Html.Label(GlobalMessages.Nome, new {@class = "control-label"})
                                    @Html.TextBoxFor(x => x.NomeUsuario, new {@class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-6 col-md-offset-1">
                                    @Html.Label(GlobalMessages.Login, new {@class = "control-label"})
                                    @Html.TextBoxFor(x => x.Login, new {@class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-5  col-md-offset-1">
                                    @Html.Label(GlobalMessages.Situacao, new {@class = "control-label"})
                                    @Html.TextBoxFor(x => x.Situacao, new {@class = "form-control", @readonly = "readonly"})*@
                                </div>
                            </div>

                            <div class="col-md-24" ng-controller="lojasDatatable as table">
                                <div id="header_datatable_lojas">
                                    <div class="col-md-5 pull-left">
                                        <h5>@GlobalMessages.Lojas</h5>
                                    </div>
                                    <div class="col-md-19">
                                        @if (SessionAttributes.Current().HasPermission("SEG12", "IncluirLoja"))
                                        {
                                            <button id="modal_formulario_btn_perfil" class="btn btn-default pull-right"
                                                    type="button" title="@GlobalMessages.IncluirLoja" onclick="Europa.Components.GerenciarAssociacoesLoja.Modal.Novo()">
                                                <i class="fa fa-plus"></i> @GlobalMessages.IncluirLoja
                                            </button>
                                        }
                                    </div>
                                </div>
                                <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
                                       dt-instance="table.dtInstance" class="table table-striped table-bordered"
                                       dt-column-defs="table.dtColumnDefs">
                                </table>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" title="@GlobalMessages.Fechar" onclick="Europa.Components.GerenciarAssociacoesLoja.Modal.CloseModal() ">
                    <i class="fa fa-close"></i> @GlobalMessages.Fechar
                </button>
            </div>
        </div>
    </div>
</div>