@using Europa.Extensions;
@using Tenda.Domain.EmpresaVenda.Models.Views

@model DataSourceResponse<ViewPreProposta>
@if (Model != null)
{
    <script>
        Europa.Controllers.KanbanPreProposta.qtdPreproposta = @Model.total
    </script>
    
<div id="CardsPreProposta" class="row col-md-12" style="margin-top: -10px;">
    @foreach (var prePropostaView in Model.records)
    {
        var url = Url.Action("Index/" + @prePropostaView.Id, "PreProposta");
        <div id="cardPreProposta_@prePropostaView.Id" class="col-md-4 CardsPreProposta">
            <div class="col-md-24" style="background-color: #394452">
                <div class="row RowCardsPreProposta">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 CardNome">
                                <a target="_blank" href='@url'><p>@prePropostaView.NomeCliente</p></a>
                            </div>
                            <div  class="CardEyes col-md-4" onclick="Europa.Controllers.KanbanPreProposta.Bloqueio(@prePropostaView.Id)">
                                <div id="OlhoBloqueado_@prePropostaView.Id" class="CardEyesWhite"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 DadosCardPreProposta">
                        <p>Pré-Proposta: @prePropostaView.Codigo</p>
                        <p>Status: <strong class="StatusCardPreProposta">@prePropostaView.SituacaoPrePropostaPortalHouse</strong>   </p>
                        <p>Empreendimento: @prePropostaView.NomeBreveLancamento</p>
                        <p>Torre: @prePropostaView.NomeTorre</p>
                        <p>Unidade: @prePropostaView.DescricaoTorre</p>
                        <p>Data Elaboração: @prePropostaView.CriadoEm.ToShortDateString()</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
}