@using Europa.Resources

<script>
    Europa.Controllers.TermoAceite.UrlSalvarArquivo = '@Url.Action("SalvarTermoAceite", "TermoAceiteProgramaFidelidade")';
</script>

<div ng-controller="AnexoTermoAceiteController" class="modal" id="modal_anexo_termo_aceite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Europa.Controllers.TermoAceite.CloseModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.Incluir</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-24">
                    <div class="col-md-24">
                        @using (Html.BeginForm("SalvarTermoAceite", "TermoAceiteProgramaFidelidade", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", id = "form_salvar_termo_aceite" }))
                        {
                            @Html.AntiForgeryToken()
                            <label>@GlobalMessages.EnvioArquivo</label>
                            <input type="file" style="margin-top: 5px" id="file" name="file" accept="application/pdf">
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="EnviarArquivo()"><i class="fa fa-upload" aria-hidden="true"></i> @GlobalMessages.Enviar</button>
                <button type="button" class="btn btn-default" onclick="Europa.Controllers.TermoAceite.CloseModal()"><i class="fa fa-ban" aria-hidden="true"></i> @GlobalMessages.Desistir</button>
            </div>
        </div>
    </div>
</div>
