@using Europa.Resources
@using Tenda.EmpresaVenda.Portal.Models.Application

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutValidarAcesso.cshtml";
}

<link href="~/Static/projeto/contrato-corretagem/validar-token.css" rel="stylesheet" />
<script src="~/Static/projeto/contrato-corretagem/validar-token.js"></script>


<script>
    Europa.Controllers.ValidarToken.UrlReenviarToken = '@Url.Action("ReenviarToken", "ContratoCorretagem")';
    Europa.Controllers.ValidarToken.UrlVerificarToken = '@Url.Action("VerificarToken", "ContratoCorretagem")';
</script>

<div style="width:100%">

    <div class="div_msg_validar">
        <span>@GlobalMessages.VamosValidarAcesso</span>
        <span>@GlobalMessages.DigiteCodigoEmail</span>
    </div>
    <div style="width:100%;text-align:center; margin-top:75px">
        <div style="letter-spacing: 32px;">
            <input type="text" name="1" id="token_1" maxlength="1" onkeyup="Europa.Controllers.ValidarToken.ChangeInput(this)" />
            <input type="text" name="2" id="token_2" maxlength="1" onkeyup="Europa.Controllers.ValidarToken.ChangeInput(this)" />
            <input type="text" name="3" id="token_3" maxlength="1" onkeyup="Europa.Controllers.ValidarToken.ChangeInput(this)" />
            <input type="text" name="4" id="token_4" maxlength="1" onkeyup="Europa.Controllers.ValidarToken.ChangeInput(this)" />
            <input type="text" name="5" id="token_5" maxlength="1" onkeyup="Europa.Controllers.ValidarToken.ChangeInput(this)" />
            <input type="text" name="6" id="token_6" maxlength="1" onkeyup="Europa.Controllers.ValidarToken.ChangeInput(this)" />
        </div>
        <input style="opacity:0" id="inputToken" />
        <div style="display: grid;margin-top:32px">
            <span id="msg-codigo-error" style="display:none;font-size: 14px;color: #ec1d24;font-weight: 600;">@GlobalMessages.CodigoIncorreto</span>
            <span id="msg_codigo" onclick="Europa.Controllers.ValidarToken.ReenviarToken()">@GlobalMessages.NaoRecebiCodigo</span>
        </div>

        <div style="margin-top: 75px;width:100%">
            <button id="btn_entrar" disabled>@GlobalMessages.Entrar</button>
        </div>
    </div>
</div>
@using (Html.BeginForm("InformarToken", "ContratoCorretagem", FormMethod.Post, new { Id = "form_informar_token" }))
{
    @Html.Hidden("token")
}