@using Tenda.EmpresaVenda.Web.Models.Application

@{
    ViewBag.Codigo = "PAG04";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}
    <script src="~/Static/projeto/status-contrato-junix/index-status-contrato-junix.js"></script>
    <script type="text/javascript" src="~/Static/projeto/status-contrato-junix/fase-datatable.js"></script>
    <script type="text/javascript" src="~/Static/projeto/status-contrato-junix/sintese-datatable.js"></script>
<script>

    Europa.Controllers.StatusContratoJunix.listFases = '@Url.Action("ListarFases", "StatusContratoJunix")';
    Europa.Controllers.StatusContratoJunix.UrlIncluirFase = '@Url.Action("IncluirFase","StatusContratoJunix")';
    Europa.Controllers.StatusContratoJunix.UrlAlterarFase = '@Url.Action("AlterarFase","StatusContratoJunix")';
    Europa.Controllers.StatusContratoJunix.UrlExcluirFase = '@Url.Action("ExcluirFase","StatusContratoJunix")';

    Europa.Controllers.StatusContratoJunix.listSinteses = '@Url.Action("ListarSinteses", "StatusContratoJunix")';
    Europa.Controllers.StatusContratoJunix.UrlIncluirSintese = '@Url.Action("IncluirSintese","StatusContratoJunix")';
    Europa.Controllers.StatusContratoJunix.UrlAlterarSintese = '@Url.Action("AlterarSintese","StatusContratoJunix")';
    Europa.Controllers.StatusContratoJunix.UrlExcluirSintese = '@Url.Action("ExcluirSintese","StatusContratoJunix")';

    Europa.Controllers.StatusContratoJunix.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()'
    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div class="col-md-7">
    @{Html.RenderPartial("~/Views/StatusContratoJunix/_DatatableFase.cshtml"); }
</div>
<div class="col-md-16 col-md-offset-1">
    @{ Html.RenderPartial("~/Views/StatusContratoJunix/_DatatableSintese.cshtml"); }
</div>