@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

@{
    ViewBag.Codigo = "GEC13";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/hierarquia-coordenador/index-hierarquia-coordenador.js"></script>
<link href="~/Static/projeto/hierarquia-coordenador/hierarquia-coordenador.css" rel="stylesheet" />

<script>
    //Listas
    Europa.Controllers.HierarquiaCoordenador.UrlListarCoordenadores = '@Url.Action("ListarCoordenadores", "HierarquiaCoordenador")';
    Europa.Controllers.HierarquiaCoordenador.UrlListarSupervisores = '@Url.Action("ListarSupervisores", "HierarquiaCoordenador")';
    Europa.Controllers.HierarquiaCoordenador.UrlListarViabilizadores = '@Url.Action("ListarViabilizadores", "HierarquiaCoordenador")';

    //Actions
    Europa.Controllers.HierarquiaCoordenador.UrlOnJoinCoordenadorSupervisor = '@Url.Action("OnJoinCoordenadorSupervisor","HierarquiaCoordenador")';
    Europa.Controllers.HierarquiaCoordenador.UrlOnUnJoinCoordenadorSupervisor = '@Url.Action("OnUnJoinCoordenadorSupervisor","HierarquiaCoordenador")';

    Europa.Controllers.HierarquiaCoordenador.UrlExportarTudo = '@Url.Action("ExportarTudo", "HierarquiaCoordenador")';
    Europa.Controllers.HierarquiaCoordenador.UrlExportarSelecionadosSupervisor = '@Url.Action("ExportarSelecionadosSupervisor", "HierarquiaCoordenador")';
    Europa.Controllers.HierarquiaCoordenador.UrlExportarSelecionadosViabilizador = '@Url.Action("ExportarSelecionadosViabilizador", "HierarquiaCoordenador")';

    Europa.Controllers.HierarquiaCoordenador.UrlOnJoinCoordenadorViabilizador = '@Url.Action("OnJoinCoordenadorViabilizador","HierarquiaCoordenador")';
    Europa.Controllers.HierarquiaCoordenador.UrlOnUnJoinCoordenadorViabilizador = '@Url.Action("OnUnJoinCoordenadorViabilizador","HierarquiaCoordenador")';

    Europa.Controllers.HierarquiaCoordenador.Permissoes = {
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir")'=='True'
    };

</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div class="tabs-container col-md-9">
    @{
        Html.RenderPartial("_DatatableCoordenador");
    }
</div>

<div class="tabs-container col-md-14 col-md-offset-1">
    <input type="radio" name="tabs" class="tabs" id="tab1" checked>
    <label for="tab1" id="tab_cs">@GlobalMessages.Supervisor</label>
    <div style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    ">
    @{
        Html.RenderPartial("_DatatableSupervisor");
    }
    </div>

    <input type="radio" name="tabs" class="tabs" id="tab2">
    <label for="tab2" id="tab_cv">@GlobalMessages.Viabilizador</label>
    <div style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    ">
    @{
        Html.RenderPartial("_DatatableViabilizador");
    }
    </div>
</div>

<form id="Exportar"></form>
