@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.Domain.Core.Enums
@model Tenda.EmpresaVenda.Domain.Services.Models.FiltroRegraComissaoDTO

@{
    var selectListItemList = EnumHelper.GetSelectList(typeof(SituacaoRegraComissao));
    var validItens = new List<string>()
    {
        ((int) SituacaoRegraComissao.Ativo).ToString(),
        ((int) SituacaoRegraComissao.Rascunho).ToString(),
        ((int) SituacaoRegraComissao.Vencido).ToString(),
    };
    selectListItemList = selectListItemList.Where(x => validItens.Contains(x.Value)).ToList();
}

<script src="~/Static/projeto/regra-comissao-padrao/datatable-regra-comissao-padrao.js"></script>

<div id="secao-contrato-corretagem"></div>
<div class="panel-heading"></div>
<div class="col-md-24">
    <br/>
    <div class="geenFieldSet">
        <div class="panel-heading">
            <div>
                <h3 class="panel-title pull-left">@GlobalMessages.RegraComissaoPadrao</h3>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-24">
    <form id="form_filtro">
        <div class="col-md-6">
            @Html.Label(GlobalMessages.Descricao)
            @Html.TextBox("filtro_descricao", "", new {@class = "form-control", maxlength = 255})
        </div>
        <div class="col-md-4 col-md-offset-1">
            @Html.Label(GlobalMessages.Situacao)
            @Html.DropDownList("filtro_situacoes", selectListItemList, new {@class = "form-control", multiple = "multiple"})
        </div>
        <div class="col-md-4 col-md-offset-1">
            @Html.Label(GlobalMessages.Regional)
            @Html.DropDownList("filtro_regional", new SelectList(EstadosSelectList.Values, "Value", "Text"), new {@class = "form-control", multiple = "multiple"})
        </div>
        <div class="col-md-3 col-md-offset-1">
            @Html.Label(GlobalMessages.VigenteEm)
            <div class="input-group">
                @Html.TextBoxFor(x => x.VigenteEm, new {@class = "form-control", datepicker = "datepicker"})
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.ClosestInput(this)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>

        <div class="pull-right" style="margin-top:20px">
            <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.RegraComissaoPadrao.Filtrar()">
                <i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
            <button class="btn btn-default" type="button" title="@GlobalMessages.Limpar" onClick="Europa.Controllers.RegraComissaoPadrao.LimparFiltro()">
                <i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
        </div>
    </form>

    <div ng-controller="RegraComissaoPadraoTable as table">
        <div id="datatable_header" class="col-md-24">
            <div class="col-md-12" style="margin-top:5px">
                @Html.Label(GlobalMessages.RegraComissaoPadrao)
            </div>
            <div class="pull-right">
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
                {
                    <button type="button" title="@GlobalMessages.Incluir" class="btn btn-default" onclick="Europa.Controllers.ModalNovaRegraComissaoPadrao.Abrir()">
                        <i class="fa fa-plus"></i> @GlobalMessages.Incluir
                    </button>
                }
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs">
        </table>
    </div>
</div>

<form id="form_download_regra_comissao"></form>

@{
    Html.RenderPartial("_ModalInclusao");
}