@using Europa.Resources
@using Tenda.Domain.Core.Enums

<div class="modal" id="modal_inclusao_regra_comissao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="overflow: auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.IncluirRegraComissao</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" id="form_inclusao">
                    <div id="divBody">
                        <div class="col-md-24 form-group">
                            @Html.Label(GlobalMessages.Regional + " *", new { @class = "control-label" })
                            @Html.DropDownList("Regional", new SelectList(EstadosSelectList.Values, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="col-md-24 form-group">
                            @Html.Label(GlobalMessages.Descricao + " *", new { @class = "control-label" })
                            @Html.TextArea("Descricao", "", new { @class = "form-control", @rows = 3, @style = "resize: none", maxlength = 255 })
                        </div>
                        <div class="col-md-24 form-group">
                            @Html.Label(GlobalMessages.EnvioDeArquivo + " *", new { @class = "control-label", style = "overflow: hidden;" })
                            <input name="Arquivo" id="Arquivo" type="file" accept="application/pdf" class="control-label" style="max-width: 100%">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" onclick="Europa.Controllers.RegraComissao.SalvarInclusao()"><i class="fa fa-save" aria-hidden="true"></i> @GlobalMessages.Salvar</button>
                    <button type="button" class="btn btn-default" onclick="Europa.Controllers.RegraComissao.FecharModal()"><i class="fa fa-close" aria-hidden="true"></i> @GlobalMessages.Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
