@using Tenda.EmpresaVenda.Web.Models.Application
@using Tenda.EmpresaVenda.Domain.Services.Models
@using Europa.Resources

@{
    ViewBag.Codigo = "EVS15";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script src="~/Static/projeto/regra-comissao-padrao/regra-comissao-padrao.js"></script>
<script>
    Europa.Controllers.RegraComissaoPadrao.UrlListar = '@Url.Action("Listar", "RegraComissaoPadrao")';
    Europa.Controllers.RegraComissaoPadrao.UrlIncluir = '@Url.Action("Incluir", "RegraComissaoPadrao")';
    Europa.Controllers.RegraComissaoPadrao.UrlMatriz = '@Url.Action("Matriz", "RegraComissaoPadrao")';
    Europa.Controllers.RegraComissaoPadrao.UrlAtualizar = '@Url.Action("Atualizar", "RegraComissaoPadrao")';
    Europa.Controllers.RegraComissaoPadrao.UrlLiberar = '@Url.Action("Liberar", "RegraComissaoPadrao")';
    Europa.Controllers.RegraComissaoPadrao.UrlDownloadPdf = '@(Url.Action("DownloadRegraComissao", "RegraComissaoPadrao"))';

    Europa.Controllers.RegraComissaoPadrao.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()',
        Liberar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Liberar").ToString().ToLower()',
        Detalhar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Detalhar").ToString().ToLower()'
    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

@{
    Html.RenderPartial("_Datatable", new FiltroRegraComissaoDTO());
    Html.RenderPartial("_ModalNovaRegraComissaoPadrao");
}