@using Europa.Extensions
@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.EmpresaVenda.Domain.Commons
@using Tenda.EmpresaVenda.Web.Models.Application
@model Tenda.Domain.EmpresaVenda.Models.RegraComissaoPadrao
@{
    ViewBag.Codigo = "EVS15";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);

    var permissaoAdd = SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir");
    var permissaoAlterar = SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar");
    var novo = ViewBag.Novo != null && ViewBag.Novo;

    var habilitarEdicao = (Model.Id == 0 && permissaoAdd) || (Model.Id > 0 && (permissaoAlterar || (novo && permissaoAdd)));
    var read = Model.Id > 0 && !novo && Model.Situacao != SituacaoRegraComissao.Rascunho;
}

<script src="~/Static/projeto/regra-comissao-padrao/matriz-regra-comissao-padrao.js"></script>
<script src="~/Static/projeto/regra-comissao-padrao/matriz-regra-comissao-padrao-nominal.js"></script>
<script>
	Europa.Controllers.MatrizRegraComissaoPadrao.Url.Index = '@(Url.Action("Index", "RegraComissaoPadrao"))';
	Europa.Controllers.MatrizRegraComissaoPadrao.Url.Listar = '@Url.Action("BuscarMatriz", "RegraComissaoPadrao")';
	Europa.Controllers.MatrizRegraComissaoPadrao.Url.Salvar = '@(Url.Action("SalvarMatriz", "RegraComissaoPadrao"))';
	Europa.Controllers.MatrizRegraComissaoPadrao.Url.GerarPdf = '@(Url.Action("GerarPdf", "RegraComissaoPadrao"))';
	Europa.Controllers.MatrizRegraComissaoPadrao.Url.DownloadPdf = '@(Url.Action("DownloadRegraComissao", "RegraComissaoPadrao"))';
	Europa.Controllers.MatrizRegraComissaoPadrao.Url.GerarExcel = '@(Url.Action("GerarExcel", "RegraComissaoPadrao"))';
	Europa.Controllers.MatrizRegraComissaoPadrao.BuscarAtivoAtual = @(ViewBag.PorUltimaAtualizacao.ToString().ToLower());
	Europa.Controllers.MatrizRegraComissaoPadrao.Editavel = @(((Model.Situacao == SituacaoRegraComissao.Rascunho || ViewBag.Novo) && habilitarEdicao).ToString().ToLower());
	Europa.Controllers.MatrizRegraComissaoPadrao.PreCarregado = @((ViewBag.Novo).ToString().ToLower())
	$(document).ready(function(){
        Europa.Controllers.MatrizRegraComissaoPadrao.BuscarMatriz();
        Europa.Controllers.MatrizRegraComissaoPadrao.BuscarMatrizNominal();

        $("#tab1").click();
	});
</script>
<link href="~/Static/projeto/regra-comissao-padrao/matriz-regra-comissao-padrao.css" rel="stylesheet"/>
<link href="~/Static/projeto/grupo-cca/grupo-cca.css" rel="stylesheet" />

<div id="titlebar-name">
    @GlobalMessages.RegraComissao
</div>
<div id="titlebar-buttons">
    <div class="pull-right" style="width: 100%">
        <button class="btn btn-default"
                onClick="location.href='@Url.Action("Index", "RegraComissaoPadrao")'">
            <i class="fa fa-chevron-left"></i> @GlobalMessages.Voltar
        </button>
        @if (habilitarEdicao && !read)
        {
            <button id="btn_salvar" class="btn btn-default" onClick="Europa.Controllers.MatrizRegraComissaoPadrao.Salvar()">
                <i class="fa fa-save"></i> @GlobalMessages.Salvar
            </button>
            <button id="btn_download" class="btn btn-default" 
                    onClick="Europa.Controllers.MatrizRegraComissaoPadrao.GerarExcel()">
                <i class="fa fa-download"></i> @GlobalMessages.Exportar Excel
            </button>
        }
        @if (Model.Id > 0 && !ViewBag.Novo)
        {
            if (Model.Situacao == SituacaoRegraComissao.Rascunho)
            {
                <button id="btn_gerar" class="btn btn-default" 
                        onClick="Europa.Controllers.MatrizRegraComissaoPadrao.GerarPdf()">
                    <i class="fa fa-file"></i> @GlobalMessages.GerarPDF
                </button>
            }
            <button id="btn_download_pdf" class="btn btn-default" 
                    style="display: @(Model.Arquivo.HasValue() ? "inline" : "none")"
                    onClick="Europa.Controllers.MatrizRegraComissaoPadrao.DownloadPdf(@(Model.Id))">
                <i class="fa fa-download"></i> @GlobalMessages.Download @GlobalMessages.PDF
            </button>
        }
    </div>
</div>

<div class="col-md-24 matriz-page-content">

    <div id="dados_regra_comissao_padrao" class="col-md-24">
        @Html.HiddenFor(x => x.Id)
        <div class="col-md-6">
            @Html.Label(GlobalMessages.Regional + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Regional, new { @class = "form-control", onchange = "Europa.Controllers.MatrizRegraComissaoPadrao.OnRegionalChanged()", @readonly = true })
        </div>
        <div class="col-md-17 col-md-offset-1">
            @Html.Label(GlobalMessages.Descricao + " *", new { @class = "control-label" })
            @if (read)
            {
                @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control", maxlength = 255, @readonly = true })
            }
            else
            {
                @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control", maxlength = 255 })
            }
        </div>
    </div>
    <div id="filtro_matriz" class="col-md-24">
        <div class="col-md-24">
            <div class="geenFieldSet">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title pull-left">@GlobalMessages.Filtros</h3>
                        <div class="pull-right">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @Html.Label(GlobalMessages.Empreendimento)
            <select id="autocomplete_empreendimentos" class="select2-container form-control"></select>
        </div>
        <div class="pull-right" style="margin-top:20px">
            <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.MatrizRegraComissaoPadrao.AplicarFiltro()">
                <i class="fa fa-filter"></i> @GlobalMessages.Filtrar
            </button>
            <button class="btn btn-default" type="button" title="@GlobalMessages.Limpar" onClick="Europa.Controllers.MatrizRegraComissaoPadrao.LimparFiltro()">
                <i class="fa fa-eraser"></i> @GlobalMessages.Limpar
            </button>
        </div>
    </div>
    <div class="tabs-container col-md-24">
        <input type="radio" name="tabs" class="tabs" id="tab1" checked>
        <label for="tab1">@GlobalMessages.Fixa</label>
        <div style="padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;">
            <div id="matriz_pagadoria" class="col-md-24">
            </div>
        </div>

        <input type="radio" name="tabs" class="tabs" id="tab2" checked>
        <label for="tab2">@GlobalMessages.Nominal</label>
        <div style="padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;">
            <div id="matriz_pagadoria_nominal" class="col-md-24">
            </div>
        </div>
    </div>
</div>