@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums

<div class="modal" id="modal_liberar_pacote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.Liberar @GlobalMessages.Pacote</h4>
            </div>
            <div class="modal-body">
                <form id="form_liberar_pacote">
                    <div class="col-md-24"  style="margin-top: 15px;">
                        <div class="col-md-11">
                            @Html.Label(GlobalMessages.Pacote + "s", new { @class = "control-label", style = "font-size: 15px"})
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="Europa.Controllers.Lead.MarcarTodos()">
                                @GlobalMessages.MarcarTodos
                            </button>
                            <button type="button" class="btn btn-default" onclick="Europa.Controllers.Lead.DesmarcarTodos()">
                                @GlobalMessages.DesmarcarTodos
                            </button>
                        </div>
                        <div class="col-md-24" id="pacote_treeview"></div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button  class="btn btn-default" type="button" onclick="Europa.Controllers.Lead.LiberarPacote()">
                    <i class="fa fa-check"></i> @GlobalMessages.Liberar
                </button>
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    <i class="fa fa-close"></i> @GlobalMessages.Fechar
                </button>
            </div>
        </div>
    </div>
</div>
