@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

@{
    ViewBag.Codigo = "GEC12";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/hierarquia-supervisor-viabilizador/index-hierarquia-supervisor-viabilizador.js"></script>
<link href="~/Static/projeto/hierarquia-supervisor-viabilizador/hierarquia-supervisor.css" rel="stylesheet" />

<script>
    Europa.Controllers.HierarquiaSupervisorViabilizador.UrlListarSupervisores = '@Url.Action("ListarSupervisores", "HierarquiaSupervisorViabilizador")';
    Europa.Controllers.HierarquiaSupervisorViabilizador.UrlListarViabilizadores = '@Url.Action("ListarViabilizadores", "HierarquiaSupervisorViabilizador")';

    Europa.Controllers.HierarquiaSupervisorViabilizador.UrlExportarTudo = '@Url.Action("ExportarTudo", "HierarquiaSupervisorViabilizador")';
    Europa.Controllers.HierarquiaSupervisorViabilizador.UrlExportarSelecionados = '@Url.Action("ExportarSelecionadosViabilizador", "HierarquiaSupervisorViabilizador")';

    Europa.Controllers.HierarquiaSupervisorViabilizador.UrlExportarTodosSupervisores = '@Url.Action("ExportarTodosSupervisores", "HierarquiaSupervisorViabilizador")';
    Europa.Controllers.HierarquiaSupervisorViabilizador.UrlExportarPaginaSupervisores = '@Url.Action("ExportarPaginaSupervisores", "HierarquiaSupervisorViabilizador")';

    Europa.Controllers.HierarquiaSupervisorViabilizador.UrlOnJoinSupervisorViabilizador = '@Url.Action("OnJoinSupervisorViabilizador", "HierarquiaSupervisorViabilizador")';
    Europa.Controllers.HierarquiaSupervisorViabilizador.UrlSelecionarTodosViabilizadores = '@Url.Action("SelecionarTodosViabilizadores", "HierarquiaSupervisorViabilizador")';

    Europa.Controllers.HierarquiaSupervisorViabilizador.Permissoes = {
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir")'
    };

</script>

<div id="titlebar-name">@ViewBag.Title</div>
<div class="tabs-container col-md-9">
    @{
        Html.RenderPartial("_DatatableSupervisor");
    }
</div>

<div class="tabs-container col-md-14 col-md-offset-1">
    <input type="radio" name="tabs" class="tabs" id="tab1" checked>
    <label for="tab1">@GlobalMessages.Viabilizador</label>
    <div style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    ">
        @{
            Html.RenderPartial("_DatatableViabilizador");
        }
    </div>
</div>

<form id="Exportar"></form>
