@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources
@using Tenda.Domain.Security.Views

<script src="~/Static/administrativo/log-entidade/log-entidade.js"></script>
<script src="~/Static/administrativo/log-entidade/log-entidade-datatable.js"></script>

@model Tenda.Domain.Security.Services.Models.LogEntidadeDTO
@{
    ViewBag.Codigo = "SEG06";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<div id="titlebar-name">
    @ViewBag.Title
</div>

<script>
    Europa.Components.Datatable.LogEntidade.listAction = '@Url.Action("Listar", "LogEntidade")';
    Europa.Components.Datatable.LogEntidade.UrlExportarPagina = '@Url.Action("ExportarPagina", "LogEntidade")';
    Europa.Components.Datatable.LogEntidade.UrlExportarDatatable = '@Url.Action("ExportarDatatable", "LogEntidade")';
</script>

@{
    if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar"))
    {
        <div class="col-md-24">
            <form id="form_filtro_log_entidade">
                <div class="col-md-5">
                    @Html.Label(GlobalMessages.Entidade)
                    @Html.DropDownListFor(x => x.Entidade, Model.Entidades , GlobalMessages.Selecione, new {@class = "form-control"})
                </div>
                <div class="col-md-3 col-md-offset-1">
                    @Html.Label(GlobalMessages.ChavePrimaria)
                    @Html.TextBox("ChavePrimariaFiltro", null, new {@class = "form-control", @type = "number"})
                </div>
                <div class="col-md-4 col-md-offset-1">
                    @Html.Label(GlobalMessages.UsuarioCriador)
                    <select name="IdUsuarioCriado" id="autocomplete_usuario_criador_log_entidade" class="select2-container form-control"></select>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    @Html.Label(GlobalMessages.UsuarioAtualizacao)
                    <select name="IdUsuarioAtualizacao" id="autocomplete_usuario_atualizacao_log_entidade" class="select2-container form-control"></select>
                </div>
                <div class="col-md-7">
                    @Html.Label(GlobalMessages.DataLog)
                    <div class="input-group">
                        @Html.Label("De", new { @for = "DiaDe", @class = "input-group-addon", id = "diaLabel", style = "width: 35px;" })
                        @Html.TextBox("DataInicio", "{0:dd/MM/yyyy}", new { @class = "form-control", datepicker = "datepicker", id = "DataInicio" })
                        @Html.Label("Até", new { @for = "DiaAte", @class = "input-group-addon", id = "diaAteLabel", style = "width: 35px;" })
                        @Html.TextBox("DataFim", "{0:dd/MM/yyyy}", new { @class = "form-control", datepicker = "datepicker", id = "DataFim" })
                    </div>
                </div>
                <div class="pull-right" style="margin-top: 20px">
                    <button title="@GlobalMessages.Filtrar" class="btn btn-default" style="width: 100px" onClick="Europa.Components.Datatable.LogEntidade.Filtrar()">
                        <i class="fa fa-filter"></i> @GlobalMessages.Filtrar
                    </button>
                    <button title="@GlobalMessages.Limpar" class="btn btn-default" style="width: 100px" onClick="Europa.Controllers.LogEntidade.LimparFiltros()">
                        <i class="fa fa-eraser"></i> @GlobalMessages.Limpar
                    </button>
                </div>

            </form>
        </div>


        <div ng-controller="LogEntidadeDataTable as table">
            <div class="col-md-24">
                <div id="LogEntidadeDatatable_barra">
                    <div class="col-md-12" style="margin-left: 5px">
                        <h5>@GlobalMessages.Logs</h5>
                    </div>
                    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Exportar"))
                    {
                        <div class="pull-right" style="margin-right: 5px; margin-top: 5px">
                            <button title="@GlobalMessages.Exportar" class="btn btn-default" onClick="Europa.Components.Datatable.LogEntidade.ExportarDatatable()">
                                <i class="fa fa-file-excel-o"></i> @GlobalMessages.Exportar
                            </button>
                            <button title="@GlobalMessages.ExportarPagina" class="btn btn-default" onClick="Europa.Components.Datatable.LogEntidade.ExportarPagina()">
                                <i class="fa fa-file-excel-o"></i> @GlobalMessages.ExportarPagina
                            </button>
                        </div>
                    }
                </div>
                <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
                       dt-instance="table.dtInstance" class="table table-striped table-bordered"
                       dt-column-defs="table.dtColumnDefs"></table>
            </div>
        </div>
    }
    <form id="Exportar"></form>
}
@{
    Html.RenderPartial("~/Views/LogEntidade/_DetalhamentoModal.cshtml", new ViewLogEntidade());
}