@using Europa.Resources
@model Tenda.EmpresaVenda.Web.Models.ClienteDTO

@{
    ViewBag.Codigo = "EVS05";
}

<div class="col-md-24">
    <br />
    <div class="geenFieldSet">
        <div class="panel-heading">
            <div>
                <h3 class="panel-title pull-left">@GlobalMessages.DadosFinanceiros</h3>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-5 form-group">
    @Html.Label(GlobalMessages.TipoRenda, new { @class = "control-label" })
    @Html.EnumDropDownListFor(x => x.Cliente.TipoRenda, GlobalMessages.Selecione, new { @class = "form-control", onchange = "Europa.Controllers.Cliente.TipoRendaOnChange()" })
</div>
<div class="col-md-3 col-md-offset-1">
    @Html.Label(GlobalMessages.RendaFormal)
    @Html.TextBoxFor(x => x.Cliente.RendaFormal, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.RendaFormal:n2}", onchange = "Europa.Controllers.Cliente.RendaOnchange()" })
</div>
<div class="col-md-5 col-md-offset-1">
    @Html.Label(GlobalMessages.OrigemRendaFormal)
    @Html.TextBoxFor(x => x.Cliente.OrigemRendaFormal, new { @class = "form-control", maxlength = 128 })
</div>
<div class="col-md-3 col-md-offset-1">
    @Html.Label(GlobalMessages.RendaInformal)
    @Html.TextBoxFor(x => x.Cliente.RendaInformal, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.RendaInformal:n2}", onchange = "Europa.Controllers.Cliente.RendaOnchange()" })
</div>
<div class="col-md-4 col-md-offset-1">
    @Html.Label(GlobalMessages.OrigemRendaInformal)
    @Html.TextBoxFor(x => x.Cliente.OrigemRendaInformal, new { @class = "form-control", maxlength = 128 })
</div>
<div class="col-md-24">
    <div class="col-md-5">
        @Html.Label(GlobalMessages.RendaMensal)
        @Html.TextBoxFor(x => x.Cliente.RendaMensal, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.RendaMensal:n2}", @readonly = "readonly" })
    </div>
    <div class="col-md-3 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.ValorFgts, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cliente.FGTS, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.FGTS:n2}" })
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.MesesFgts, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Cliente.MesesFGTS, new { @class = "form-control text-right inteiro" })
    </div>
</div>

<div class="col-md-5">
    @Html.Label(GlobalMessages.PossuiFinanciamento)
    <div class="input-group" style="width: 100%">
        <div class="btn-group" data-toggle="buttons" style="width: 100%">
            <label class="btn btn-default @(Model.Cliente.PossuiFinanciamento ? "active" :"")" style="width: 50%; margin-top: 0px;">
                @Html.RadioButtonFor(x => x.Cliente.PossuiFinanciamento, true) @GlobalMessages.Sim
            </label>
            <label class="btn btn-default @(!Model.Cliente.PossuiFinanciamento ? "active" :"")" style="width: 50%; margin-top: 0px;">
                @Html.RadioButtonFor(x => x.Cliente.PossuiFinanciamento, false) @GlobalMessages.Nao
            </label>
        </div>
    </div>
</div>

<div class="col-md-3 col-md-offset-1">
    @Html.Label(GlobalMessages.ValorFinanciamento)
    @Html.TextBoxFor(x => x.Cliente.ValorFinanciamento, new { @class = "form-control text-right dinheiro", maxlength = 13, Value = $"{Model.Cliente?.ValorFinanciamento:n2}" })
</div>

<div class="col-md-5 col-md-offset-1">
    @Html.Label(GlobalMessages.TipoFinanciamento)
    @Html.TextBoxFor(x => x.Cliente.TipoFinanciamento, new { @class = "form-control", maxlength = 128 })
</div>

<div class="col-md-3 col-md-offset-1">
    @Html.Label(GlobalMessages.UltimaParcela)
    <div class="input-group">
        @Html.TextBoxFor(x => x.Cliente.UltimaParcelaFinanciamento, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", datepicker = "datepicker", parent = "#form_cliente" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="Europa.Components.DatePicker.Closest(this)">
                <i class="fa fa-calendar"></i>
            </button>
        </span>
    </div>
</div>