@using Europa.Resources
@model Tenda.EmpresaVenda.Web.Models.ClienteDTO

@{
    ViewBag.Codigo = "EVS05";
}

<div class="col-md-24">
    <br />
    <div class="geenFieldSet">
        <div class="panel-heading">
            <div>
                <h3 class="panel-title pull-left">@GlobalMessages.Proprietario</h3>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-24">
    <div class="col-md-11 form-group">
        @Html.HiddenFor(reg => reg.Cliente.Corretor)
        @Html.Label(GlobalMessages.Corretor, new { @class = "control-label" })
        @Html.TextBoxFor(reg => reg.Cliente.NomeCorretor, new { @class = "form-control", @maxlength = 128, @readonly = "readonly" })
    </div>
    <div class="col-md-6 col-md-offset-1">
        @Html.HiddenFor(reg => reg.Cliente.EmpresaVenda.Id)
        @Html.Label(GlobalMessages.EmpresaVenda, new { @class = "control-label" })
        @Html.TextBoxFor(reg => reg.Cliente.EmpresaVenda.NomeFantasia, new { @class = "form-control", @maxlength = 128, @readonly = "readonly" })
    </div>
</div>

