@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

@{
    ViewBag.Codigo = "CAD16";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/AgenteVenda/agente-venda.js"></script>
<link href="~/Static/projeto/grupo-cca/grupo-cca.css" rel="stylesheet" />

<script>
    //URLs Datatable Loja Portal
    Europa.Controllers.LojaPortal.UrlListarLojasPortal = '@Url.Action("ListarDatatableLoja","AgenteVenda")';

    //URLs Datatable Usuário
    Europa.Controllers.LojaPortal.UrlListarUsuario = '@Url.Action("ListarDatatableUsuario","AgenteVenda")';
    Europa.Controllers.LojaPortal.UrlAtribuirUsuarioALoja = '@Url.Action("AtribuirUsuarioALoja","AgenteVenda")';

    Europa.Controllers.LojaPortal.Permissoes = {
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir")'

    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div class="col-md-9 tabs-container">
    <h3 class="panel-title pull-left">Lojas Portal</h3>
    @{
        Html.RenderPartial("_DatatableLojaPortal");
    }
</div>

<div class="tabs-container col-md-14 col-md-offset-1">
    <input type="radio" name="tabs" class="tabs" id="tab2" checked>
    <label for="tab2">@GlobalMessages.Usuario</label>
    <div style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    ">
        @{
            Html.RenderPartial("_DatatableUsuario");
        }
    </div>
</div>