@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources
@using Tenda.EmpresaVenda.Domain.Commons

@{
    ViewBag.Codigo = "CAD11";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/stand-venda/index-stand-venda.js"></script>

<script>
    //Urls Datatable Stand Venda
    Europa.Controllers.StandVenda.UrlListarDatatableStandVenda = '@Url.Action("ListarDatatableStandVenda", "StandVenda")';
    Europa.Controllers.StandVenda.UrlIncluirStandVenda = '@Url.Action("IncluirStandVenda", "StandVenda")';
    Europa.Controllers.StandVenda.UrlAtualizarStandVenda = '@Url.Action("AtualizarStandVenda", "StandVenda")';
    Europa.Controllers.StandVenda.UrlExcluirStandVenda = '@Url.Action("ExcluirStandVenda", "StandVenda")';

    //Urls Datatable Stand Venda x Empresa Venda
    Europa.Controllers.StandVenda.UrlListarDatatableStandVendaEmpresaVenda = '@Url.Action("ListarDatatableStandVendaEmpresaVenda", "StandVenda")';
    Europa.Controllers.StandVenda.UrlOnJoinStandEmpresaVenda = '@Url.Action("OnJoinStandEmpresaVenda", "StandVenda")';

    Europa.Controllers.StandVenda.DropDownEstado =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("Estado", RegionalHelper.RegionaisMatrizSelectListItem,string.Empty, new { @class = "form-control"}).ToHtmlString()))';

    Europa.Controllers.StandVenda.Permissoes = {
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()' == 'true',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()' == 'true'
    };
</script>

<div id="titlebar-name">@ViewBag.Title</div>

<div class="col-md-11">
    @{
        Html.RenderPartial("_DatatableStandVenda");
    }
</div>

<div class="col-md-12 col-md-offset-1">
    @{ 
        Html.RenderPartial("_DatatableStandVendaEmpresaVenda");
    }
</div>