@using Europa.Extensions;
@using Tenda.EmpresaVenda.ApiService.Models.KanbanPreProposta

@model List<CardKanbanPrePropostaDto>

@{
    var we = 100 / (Model.IsEmpty() ? 1 : Model.Count());
}

@foreach (var card in Model)
{
    <div class="col-md-24 div-card-kanban" style="width:@(we-1)%">
        <div class="col-md-24" id="card_@card.Id" style="background-color: @card.Cor;min-width:@(we-1)%;border-radius:10px">
            @Html.Label(card.Descricao, new { @class = "control-label" })
            <div>
                <span onclick="Europa.Controllers.KanbanPreProposta.NovaSituacaoCardKanban(@card.Id)"><i class="fa fa-plus"></i></span>
                <span onclick="Europa.Controllers.KanbanPreProposta.EditarCardKanbanPreProposta(@card.Id)"><i class="fa fa-edit"></i></span>
                <span onclick="Europa.Controllers.KanbanPreProposta.RemoverCardKanbanPreProposta(@card.Id)"><i class="fa fa-trash"></i></span>
            </div>
        </div>
        @if (card.Situacoes.HasValue())
        {
            <div class="col-md-24" style="margin-top:10px;">
                @foreach (var situacao in card.Situacoes)
                {
                    <div style="background-color:@situacao.Cor;    border-radius: 5px;margin-bottom:5px">@situacao.StatusPortalHouse</div>
                }            
            </div>
        }
    </div>

}
    