@using Europa.Resources
@using Tenda.EmpresaVenda.ApiService.Models.KanbanPreProposta

@model AreaKanbanPrePropostaDto

<form class="form-inline" id="form_area_kanban">
    @Html.HiddenFor(x => x.Id)
    <div class="col-md-24 form-group">
        @Html.Label(GlobalMessages.Titulo + " *", new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control" })
    </div>
    <div class="col-md-24 form-group">
            @Html.Label(GlobalMessages.Ativo + " *", new { @class = "control-label" })
            @Html.CheckBoxFor(x => x.Ativo, new { @class = "", style = "margin-left: 10px; margin-top: 10px; " })
    </div>
    <div class="col-md-24">
        @Html.Label("Cor" + " *", new { @class = "control-label" })
    </div>
    <div class="col-md-24">
        <div class="col-md-11">
            @Html.TextBoxFor(x => x.Cor, new { @class = "form-control", type = "color", style = "min-height: 80px;", onchange = "Europa.Controllers.KanbanPreProposta.OnChangeColorPicker()" })
        </div>
        <div class="col-md-12 col-md-offset-1 div-preview titulo-area-kanban" id="preview">
            @Html.Label("", new { @class = "control-label", id = "preview_titulo", style = "font-size:24px" })
        </div>
    </div>
</form>
