@using Europa.Extensions;
@using Europa.Resources
@using Tenda.EmpresaVenda.ApiService.Models.KanbanPreProposta
@using Tenda.EmpresaVenda.Web.Models.Application

@model KanbanPrePropostaDto

@{
    ViewBag.Codigo = "GEC20";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/kanban-pre-proposta/index-kanban-pre-proposta.js"></script>
<script type="text/javascript" src="~/Static/projeto/kanban-pre-proposta/modal-area-kanban-pre-proposta.js"></script>
<script type="text/javascript" src="~/Static/projeto/kanban-pre-proposta/modal-card-kanban-pre-proposta.js"></script>

<link href="~/Static/projeto/kanban-pre-proposta/kanban-pre-proposta.css" rel="stylesheet" />

<script>
    Europa.Controllers.KanbanPreProposta.UrlSalvarCardKanbanPreProposta = '@Url.Action("SalvarCardKanbanPreProposta","KanbanPreProposta")';
    Europa.Controllers.KanbanPreProposta.UrlFormularioCardKanbanPreProposta = '@Url.Action("FormularioCardKanbanPreProposta", "KanbanPreProposta")';
    Europa.Controllers.KanbanPreProposta.UrlListarSituacaoCardKanban = '@Url.Action("ListarSituacaoCardKanban", "KanbanPreProposta")';
    Europa.Controllers.KanbanPreProposta.UrlListarCardsKanbanPreProposta = '@Url.Action("ListarCardsKanbanPreProposta", "KanbanPreProposta")';
    Europa.Controllers.KanbanPreProposta.UrlAdicionarSituacaoCardKanban = '@Url.Action("AdicionarSituacaoCardKanban", "KanbanPreProposta")';
    Europa.Controllers.KanbanPreProposta.UrlRemoverSituacaoCardKanban = '@Url.Action("RemoverSituacaoCardKanban", "KanbanPreProposta")';
    Europa.Controllers.KanbanPreProposta.UrlEditarCardKanbanPreProposta = '@Url.Action("EditarCardKanbanPreProposta", "KanbanPreProposta")';
    Europa.Controllers.KanbanPreProposta.UrlRemoverCardKanbanPreProposta = '@Url.Action("RemoverCardKanbanPreProposta", "KanbanPreProposta")';

    Europa.Controllers.KanbanPreProposta.Permissao = {
        Excluir:true
    }
</script>

<div id="titlebar-name">
    @ViewBag.Title
</div>

<div class="col-md-24">
    <button type="button" class="btn btn-default" onclick="Europa.Controllers.KanbanPreProposta.AbrirModalAreaKanban()">Cadastrar Área</button>
</div>
<div id="kanban" class="col-md-24" style="text-align:center;color:black">
    <div class="col-md-24" id="areas_kanban">
        @{
            var wa = 100 / (Model.ColumnsKanbanPrePropostaDto.IsEmpty() ? 1 : Model.ColumnsKanbanPrePropostaDto.Count());
        }

        @foreach (var column in Model.ColumnsKanbanPrePropostaDto)
        {
            <div class="col-md-2" style="min-width: @(wa-1)%;margin: 0.5%">
                <div class="col-md-24 div-area-kanabn titulo-area-kanban" style="background-color: @column.AreaKanbanPrePropostaDto.Cor;" id="area_@column.AreaKanbanPrePropostaDto.Id">
                    @Html.Label(column.AreaKanbanPrePropostaDto.Descricao, new { @class = "control-label" })
                    <div>
                        <span onclick="Europa.Controllers.KanbanPreProposta.AdicionarCardKanban(@column.AreaKanbanPrePropostaDto.Id)"><i class="fa fa-plus"></i></span>
                        <span onclick="Europa.Controllers.KanbanPreProposta.EditarAreaKanban(@column.AreaKanbanPrePropostaDto.Id)"><i class="fa fa-edit"></i></span>
                        <span onclick="Europa.Controllers.KanbanPreProposta.ExcluirAreaKanban(@column.AreaKanbanPrePropostaDto.Id)"><i class="fa fa-trash"></i></span>
                    </div>
                </div>
                <div class="col-md-24" style="margin-top:10px">
                    @{
                        Html.RenderPartial("_CardsKanbanPreProposta", column.CardsKanbanPrePropostaDto);
                    }
                </div>
            </div>
        }
    </div>
</div>

@{
    Html.RenderPartial("_ModalAreaKanban", new AreaKanbanPrePropostaDto());
    Html.RenderPartial("_ModalCardKanban", new CardKanbanPrePropostaDto());
}

<div class="modal" id="modal_situacao_card_kanban" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" style="overflow: auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Europa.Controllers.KanbanPreProposta.FecharModalSituacaoCardKanban()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastrar Situação</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-24">
                    <div class="col-md-16">
                        @Html.Label(GlobalMessages.SituacaoPreProposta)
                        <select id="autocomplete_situacao_card_kanban" name="autocomplete_situacao_card_kanban" class="select2-container form-control"></select>
                    </div>
                    <div class="col-md-8">
                        @Html.Label(GlobalMessages.Regional, new { style = "visibility:hidden" })
                        <div class="pull-right">
                            <button class="btn btn-default" onclick="Europa.Controllers.KanbanPreProposta.AdicionarSituacaoCardKanban()"><i class="fa fa-plus"></i> @GlobalMessages.Adicionar</button>
                            <button class="btn btn-default" onclick="Europa.Controllers.KanbanPreProposta.Limpar()"><i class="fa fa-close"></i> @GlobalMessages.Cancelar</button>
                        </div>
                    </div>
                </div>
                <div ng-controller="DatatableSituacaoCardKanban as table">
                    <div class="col-md-24">
                        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
                               dt-instance="table.dtInstance" class="table table-striped table-bordered"
                               dt-column-defs="table.dtColumnDefs" style="padding:0px;">
                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" onclick="Europa.Controllers.KanbanPreProposta.FecharModalSituacaoCardKanban()"><i class="fa fa-close" aria-hidden="true"></i> @GlobalMessages.Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>