@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.EmpresaVenda.PortalHouse.Models.Application
@model Tenda.EmpresaVenda.ApiService.Models.PreProposta.PrePropostaCreateDto

@{
    var selectListSituacao = new List<SelectListItem>();
    selectListSituacao.Add(new SelectListItem() { Value = "0", Text = GlobalMessages.Situacao });
    foreach (var situacao in EnumHelper.GetSelectList(typeof(SituacaoAprovacaoDocumento)))
    {
        selectListSituacao.Add(situacao);
    };
    var selectListProponentes = new List<SelectListItem>();
    if(Model.ListProponentes != null && Model.ListProponentes.Any())
    {
        selectListProponentes.AddRange(Model.ListProponentes.Select(x => new SelectListItem
        {
            Value = x.Id.ToString(),
            Text = x.Nome
        }));
    }
}

<script>
    Europa.Controllers.PreProposta.DocumentoProponente.UrlListar = '@Url.Action("DocumentoProponente", "PreProposta")';
    Europa.Controllers.PreProposta.DocumentoProponente.UrlUpload = '@Url.Action("UploadDocumento", "PreProposta")';
    Europa.Controllers.PreProposta.DocumentoProponente.UrlExcluir = '@Url.Action("ExcluirDocumentoProponente", "PreProposta")';
    Europa.Controllers.PreProposta.DocumentoProponente.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar").ToString().ToLower()',
        NaoAnexar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "NaoAnexar").ToString().ToLower()'
    };

</script>

<div ng-controller="documentoProponentesTable as table">
    <div id="documento_proponente_datatable_header">
        <div class="row">
            <div class="col-md-6">
                <div class="h-100 d-flex align-items-end">
                    <h4 class="color-blue">@GlobalMessages.Documentos</h4>
                    @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "BaixarTodosDocumentos") &&
                        Model.PreProposta.Id > 0 &&
                        !Model.PreProposta.Codigo.IsEmpty() &&
                        Model.PreProposta.SituacaoProposta != SituacaoProposta.AguardandoAnaliseSimplificada &&
                        Model.PreProposta.SituacaoProposta != SituacaoProposta.Retorno)
                    {
                    <button id="btn_baixar_todos_documentos" class="button__red__outline px-5 ml-5" type="button"
                            onclick="Europa.Controllers.PreProposta.BaixarTodosDocumentos()">
                        @GlobalMessages.BaixarTodos
                    </button>
                    }
                </div>
            </div>

            <div class="col-md-2" id="dropdown_documento_proponente_cliente">
                @Html.Label(GlobalMessages.Proponente, new { @class = "d-block" })
                @Html.DropDownList("DocumentoProponente_Cliente", selectListProponentes, new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2">
                @Html.Label(GlobalMessages.Status, new { @class = "d-block"})
                @Html.DropDownList("DocumentoProponente_Situacao", selectListSituacao, new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2">
                <div class="h-100 d-flex align-items-end justify-content-end">
                    <button class="button__red__outline px-6" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.PreProposta.DocumentoProponente.FiltrarTabela()">
                        @GlobalMessages.Filtrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
            dt-instance="table.dtInstance" class="table"
            dt-column-defs="table.dtColumnDefs"></table>
</div>

<div class="modal" id="documento_proponente_modal_upload" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.UploadDocumentoProponente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="form_upload_documento_proponente">
                    <div class="row">
                        <div class="col form-group">
                            @Html.Label(GlobalMessages.Motivo)
                            @Html.TextBox("ArquivoDescricaoMotivo", null, new { @class = "form-control form-control-sm", @maxlength = "255" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            @Html.Label(GlobalMessages.EnvioDeArquivo + " *", new { @class = "control-label", style = "overflow: hidden;" })
                            <input name="arquivo" id="arquivo" type="file" class="control-label" style="width: 100%;" accept="application/pdf">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-upload-documento-preponente" type="button" class="button__red__outline" title="@GlobalMessages.Enviar" onclick="Europa.Controllers.PreProposta.DocumentoProponente.Upload()">
                    <i class="fas fa-upload" aria-hidden="true"></i> @GlobalMessages.Enviar
                </button>
                <button type="button" class="button__red__outline" title="@GlobalMessages.Fechar" onclick="Europa.Controllers.PreProposta.DocumentoProponente.Modal.Hide()">
                    <i class="fas fa-times"></i> @GlobalMessages.Fechar
                </button>
            </div>

        </div>
    </div>
</div>

@{
    Html.RenderPartial("_MotivoModal");
}