@using Europa.Extensions
@using Europa.Resources
@using Tenda.EmpresaVenda.ApiService.Models.Util
@using Tenda.EmpresaVenda.PortalHouse.Models.Application
@model Tenda.EmpresaVenda.ApiService.Models.PreProposta.PrePropostaCreateDto


@{
    var listaTipoParcelas = TipoParcelaWrapper.TipoParcelaItbiEmolumento().Select(x => new SelectListItem
    {
        Text = x.AsString(),
        Value = "" + (int)x
    });
}

<script>
    Europa.Controllers.PreProposta.ItbiEmolumento.UrlListar = '@Url.Action("ItbiEmolumento", "PreProposta")';
    Europa.Controllers.PreProposta.ItbiEmolumento.UrlIncluir = '@Url.Action("IncluirItbiEmolumento", "PreProposta")';
    Europa.Controllers.PreProposta.ItbiEmolumento.UrlAlterar = '@Url.Action("AlterarItbiEmolumento", "PreProposta")';
    Europa.Controllers.PreProposta.ItbiEmolumento.UrlExcluir = '@Url.Action("ExcluirItbiEmolumento", "PreProposta")';
    Europa.Controllers.PreProposta.ItbiEmolumento.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarItbiEmolumento").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirItbiEmolumento").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExcluirItbiEmolumento").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AlterarItbiEmolumento").ToString().ToLower()'
    };
    Europa.Controllers.PreProposta.ItbiEmolumento.DropDownTipoParcela =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("TipoParcela", listaTipoParcelas,
        new { @class = "form-control form-control-sm" }).ToHtmlString()))';
</script>

<div ng-controller="itbiEmolumentoTable as table">
    <div id="itbi_emolumento_datatable_header">
        <div class="d-flex justify-content-between">
            <h4 class="color-blue">@GlobalMessages.ItbiEmolumentos</h4>
            @if (Model.PodeManterAssociacoes && SessionAttributes.Current().HasPermission(ViewBag.Codigo, "DetalhamentoFinanceiroManual"))
            {
                <button class="button__red__outline px-5" type="button" title="@GlobalMessages.Novo" onClick="Europa.Controllers.PreProposta.ItbiEmolumento.Novo()">
                    @GlobalMessages.Adicionar
                </button>
            }
        </div>
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
            dt-instance="table.dtInstance" class="table"
            dt-column-defs="table.dtColumnDefs"></table>
</div>