@using Europa.Resources
@using System.Collections.Generic;
@using System.Web.Mvc;
@using Europa.Resources;

@{
    var selectCompartilharLink = new List<SelectListItem>();
    selectCompartilharLink.Add(new SelectListItem { Text = "Indicador", Value = "1" });
    selectCompartilharLink.Add(new SelectListItem { Text = "Indicado", Value = "2" });


}
<script>
    Europa.Controllers.PreProposta.UrlEnviarWhatsBotmakerIndicador = '@Url.Action("EnviarWhatsBotmakerIndicador", "PreProposta")';
    Europa.Controllers.PreProposta.UrlEnviarWhatsBotmakerIndicado = '@Url.Action("EnviarWhatsBotmakerIndicado", "PreProposta")';
</script>
<style>
    #modal-compartilhar-link .hidden {
        display: none !important;
    }
</style>
<div id="modal-compartilhar-link" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document" style="max-width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@GlobalMessages.Compartilhar @GlobalMessages.Link  @GlobalMessages.Indicacao</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 form-group">

                        @Html.Label(GlobalMessages.Destinatario)
                        @Html.DropDownList("Destinatario", selectCompartilharLink, "", new { @class = "form-control", onchange = "Europa.Controllers.PreProposta.OnChangeDestinatario()" })
                    </div>
                </div>

                <form class="row hidden indicado" id="form-compartilhar-indicado">
                    <div class="col-md-6 form-group">
                        @Html.Label(GlobalMessages.Nome)
                        @Html.TextBox("NomeIndicado", "", new { @class = "form-control", })
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.Label(GlobalMessages.Telefone)
                        @Html.TextBox("TelefoneIndicado", "", new { @class = "form-control" })
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="button__red__outline" onclick="Europa.Controllers.PreProposta.CompartilharLinkIndicador()">@GlobalMessages.Compartilhar</button>
                <button type="button" class="button__red__outline" aria-label="Close" data-dismiss="modal"><i class="fa fa-close"></i> @GlobalMessages.Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
