@using Europa.Resources
@using Europa.Extensions

<link href="~/Static/projeto/pre-proposta/indicacao.css" rel="stylesheet" />

<script src="~/Static/projeto/pre-proposta/indicacao.js"></script>

<script>
    Europa.Controllers.Indicacao.UrlCadastrarIndicado = '@Url.Action("EnviarIndicacao","PreProposta")';
    Europa.Controllers.Indicacao.UrlSalvarRecusaIndicacao = '@Url.Action("SalvarRecusaIndicacao","PreProposta")';
</script>

<div class="modal" id="modal-inclusao-indicacao"  role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog " role="document" style="width: 869px; max-width:869px">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <span style="color:var(--marine-blue);font-weight: bold;font-size: 24px;"> INDIQUE</span>
                </div>
                <div style="padding-top: 16px;">
                    <p class="col-md-8 px-0 my-0" style="color:#394452;font-size: 16px;line-height: 22px;">Peça ao cliente que indique familiares, amigos, colegas de trabalho para comprar um Tenda.<span style="font-weight:700">Ele pode ganhar R$400 em vale presentes!</span></p>
                </div>
                <div class="d-flex justify-content-end">
                    <button id="add-form-btn" class="btn btn-md" style="height:40px;" disabled> Adicionar Indicação</button>
                </div>
                <div id="forms-container">
                    <form id="form-1">
                        <div class="col-md-12 title-indicacao mb-2">
                            <label id="indicacao-1" style="color:var(--marine-blue)">1.INDICAÇÃO</label>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                @Html.Label(GlobalMessages.Nome + " *", new { @for = "Nome" })
                                @Html.TextBox("Nome", "", new { @class = "form-control form-control-sm", @maxlength = "128", @id = "nome-1", @required = "required", @onchange = "Europa.Controllers.Indicacao.onChangeLiberar()" })
                            </div>
                            <div class="col-md-4 form-group">
                                @Html.Label(GlobalMessages.Sobrenome + " *")
                                @Html.TextBox("Sobrenome", "", new { @class = "form-control form-control-sm", @maxlength = "128", @id = "sobreNome-1", @required = "required", @onchange = "Europa.Controllers.Indicacao.onChangeLiberar()" })
                            </div>
                            <div class="col-md-4  form-group">
                                @Html.Label(GlobalMessages.Telefone + " *")
                                @Html.TextBox("Telefone", "", new { @class = "form-control form-control-sm mask-telephone", @id = "telefone-1", @required = "required", @onchange = "Europa.Controllers.Indicacao.onChangeLiberar()" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group">
                                @Html.Label(GlobalMessages.Email)
                                @Html.TextBox("Email", "", new { @class = "form-control form-control-sm", @id = "email-1", @onchange = "Europa.Controllers.Indicacao.onChangeLiberar()" })
                            </div>

                            <div class="col-md-3 form-group">
                                @Html.Label(GlobalMessages.Estado + " *")
                                <select name="Estado" id="autocomplete_estado-1" class="select2-container form-control form-control-sm" parent="#form-1"></select>
                            </div>
                            <div class="col-md-4 form-group">
                                @Html.Label(GlobalMessages.Cidade + " *")
                                <select name="Cidade" id="autocomplete_cidade-1" class="select2-container form-control form-control-sm" onchange="Europa.Controllers.Indicacao.onChangeLiberar()"></select>
                               
                            </div>
                        </div>
                        <div class="geenFieldSet">
                            <span style="font-size:12px;color:var(--neutral-three)">* Campos Obrigatórios</span>
                            <div class="panel-heading">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <input type="checkbox" id="nao-indicar" onchange="Europa.Controllers.Indicacao.OnChangeCancelarIndicacao()">
                        <label for="nao-indicar" style="color:var(--marine-blue);font-size:14px;"> Cliente não quer indicar</label>
                    </div>
                    <div class="col-md-3 d-flex justify-content-end">
                        <button type="button" id="confirmar_indicado" class="btn btn-blue btn-md btn-indicar" onclick="Europa.Controllers.Indicacao.CadastrarIndicado()" disabled> Indicar</button>
                        <button type="button" id="cancelar_indicado" class="btn btn-md btn-indicar hidden" onclick="Europa.Controllers.Indicacao.SalvarRecusaIndicacao()"> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>