@using Europa.Resources
@model Tenda.EmpresaVenda.ApiService.Models.PreProposta.PrePropostaCreateDto

<script type="text/javascript" src="~/static/projeto/pre-proposta/modal-reenviar-suat.js"></script>

<div class="modal fade bd-example-modal-lg" id="reenviar-suat-modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@GlobalMessages.Reenviar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="form_reenviar">
                    <div class="row ">
                        <div class="col-md-6 form-group">
                            @Html.Label(GlobalMessages.Produto, new { @class = "control-label" })
                            @Html.TextBoxFor(reg => reg.PreProposta.BreveLancamento.Nome, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.Label("Novo " + GlobalMessages.Produto, new { @class = "control-label" })
                            @{
                                Html.RenderAction("RenderBrevesLancamentosReenviar", new { idEmpresavenda = Model.PreProposta.EmpresaVenda.Id });
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button__red__outline" title="@GlobalMessages.Reenviar" onclick="Europa.Components.ModalReenviarSuat.Reenviar()">
                    @GlobalMessages.Reenviar
                </button>
                <button type="button" class="button__red__outline" title="@GlobalMessages.Desistir" data-dismiss="modal">
                    @GlobalMessages.Desistir
                </button>
            </div>
        </div>
    </div>
</div>