@using Europa.Resources
@using Tenda.EmpresaVenda.PortalHouse.Models.Application
@model Tenda.EmpresaVenda.ApiService.Models.PreProposta.PrePropostaCreateDto

<script>
    Europa.Controllers.PreProposta.Proponente.UrlListar = '@Url.Action("Proponente", "PreProposta")';
    Europa.Controllers.PreProposta.Proponente.UrlIncluir = '@Url.Action("IncluirProponente", "PreProposta")';
    Europa.Controllers.PreProposta.Proponente.UrlAlterar = '@Url.Action("AlterarProponente", "PreProposta")';
    Europa.Controllers.PreProposta.Proponente.UrlExcluir = '@Url.Action("ExcluirProponente", "PreProposta")';
    Europa.Controllers.PreProposta.Proponente.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarProponente").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirProponente").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExcluirProponente").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AlterarProponente").ToString().ToLower()'
    };
</script>

<div ng-controller="proponentesTable as table">
    <div id="proponente_datatable_header">
        <div class="d-flex justify-content-between">
            <h4 class="color-blue">@GlobalMessages.Proponentes</h4>

            @if (Model.PodeManterAssociacoes)
            {
                <button class="button__red__outline px-5" type="button" title="@GlobalMessages.Novo" onClick="Europa.Controllers.PreProposta.Proponente.Novo()">
                    @GlobalMessages.Adicionar
                </button>
            }
        </div>
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table"
           dt-column-defs="table.dtColumnDefs"></table>
</div>