@{
    Layout = null;
}

@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

@{
    ViewBag.Codigo = "CAD19";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}


<script type="text/javascript" src="~/Static/projeto/AgrupamentoProcessoPreProposta/datatable-cruzamento.js"></script>
<script>
    //URLs Datatable Loja Portal
    Europa.Controllers.AgrupamentoSituacaoProcessoPreProposta.UrlListar= '@Url.Action("Listar", "AgrupamentoSituacaoProcessoPreProposta")';
    Europa.Controllers.AgrupamentoSituacaoProcessoPreProposta.UrlIncluir= '@Url.Action("Incluir", "AgrupamentoSituacaoProcessoPreProposta")';
    Europa.Controllers.AgrupamentoSituacaoProcessoPreProposta.UrlAlterar= '@Url.Action("Alterar", "AgrupamentoSituacaoProcessoPreProposta")';
    Europa.Controllers.AgrupamentoSituacaoProcessoPreProposta.UrlExcluir= '@Url.Action("Excluir", "AgrupamentoSituacaoProcessoPreProposta")';
    Europa.Controllers.AgrupamentoSituacaoProcessoPreProposta.IdAgrupamento = null;
    Europa.Controllers.AgrupamentoSituacaoProcessoPreProposta.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarCruzamento").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirCruzamento").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExcluirCruzamento").ToString().ToLower()',
        Alterar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AlterarCruzamento").ToString().ToLower()'
    };
</script>
<div class="col-md-24">
    <form id="form_filtro_TransalteStatus">
        <div class="col-md-24">
            <div class="col-md-16">
                @Html.Label(GlobalMessages.Status)
                @Html.TextBox("filtro_Nome", "", new { @class = "form-control", maxlength = 50 })
            </div>
            <div class="pull-right col-md-7 col-md-offset-1" style="margin-top: 22px">
                <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.AgrupamentoSituacaoProcessoPreProposta.Filtrar()"><i class="fa fa-filter"></i></button>
                <button type="button" title="@GlobalMessages.Limpar" class="btn btn-default" onClick="Europa.Controllers.AgrupamentoSituacaoProcessoPreProposta.LimparFiltro()"><i class="fa fa-eraser"></i></button>
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
                {
                    <button class="btn btn-default" onclick="Europa.Controllers.AgrupamentoSituacaoProcessoPreProposta.Novo()">
                        <i class="fa fa-plus"></i> @GlobalMessages.Incluir
                    </button>
                }
            </div>
        </div>
    </form>
    <div ng-controller="AgrupamentoSituacaoProcessoDatatable as table">
        <div id="AgrupamentoSituacaoProcesso_datatable_header" class="col-md-24 container-fluid">
            <div class="col-md-24 form-group">
                <form>
                    @*<div class="col-md-18" style="margin-right:5px">
                            <input type="text" id="filtroLoja" placeholder="@GlobalMessages.Nome" class="form-control">
                        </div>
                        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar"))
                        {
                            <div class="col-md-5" style="margin-left: 5px">
                                <button class="btn btn-default" onclick="Europa.Controllers.LojaPortal.FiltrarLojaPortal()"><i class="fa fa-filter" aria-hidden="true"></i></button>
                                <button class="btn btn-default" type="button" onclick="Europa.Controllers.LojaPortal.LimparFiltroLojaPortal()"><i class="fa fa-eraser"></i></button>
                            </div>
                        }*@
                </form>
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>

