@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application
@model Tenda.EmpresaVenda.ApiService.Models.AgrupamentoProcessoPreProposta.AgrupamentoProcessoPrePropostaFiltro
@{
    ViewBag.Codigo = "CAD19";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}


<script type="text/javascript" src="~/Static/projeto/AgrupamentoProcessoPreProposta/AgrupamentoProcessoPreProposta.js"></script>
<script>
    //URLs Datatable Loja Portal
    Europa.Controllers.AgrupamentoProcessoPreProposta.UrlListar= '@Url.Action("Listar", "AgrupamentoProcessoPreProposta")';
    Europa.Controllers.AgrupamentoProcessoPreProposta.UrlIncluir= '@Url.Action("Incluir", "AgrupamentoProcessoPreProposta")';
    Europa.Controllers.AgrupamentoProcessoPreProposta.UrlAlterar= '@Url.Action("Alterar", "AgrupamentoProcessoPreProposta")';
    Europa.Controllers.AgrupamentoProcessoPreProposta.UrlExcluir= '@Url.Action("Excluir", "AgrupamentoProcessoPreProposta")';



    Europa.Controllers.AgrupamentoProcessoPreProposta.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()',
        Alterar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar").ToString().ToLower()'
    };
</script>
<div id="titlebar-name">@ViewBag.Title</div>

<div class="col-md-10">
    @{ 
        Html.RenderPartial("_DataTableAgrupamento");
    }
</div>
<div class="col-md-13 col-md-offset-1">
    @Html.Partial("_DetalheAgrupamentoSituacao")
</div>
