@using Europa.Fmg.Portal.Models.Application
@using Europa.Resources

<style>
    .lead-titlebar {
        background-color: var(--bluey-grey); 
        padding: 14px 0px 13px 24px;
        margin: 15px 0px 15px 0px;
    }

    .lead-title {
        width: 372px;
        height: 19px;
        font-family: AktivGrotesk;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.18px;
        color: var(--white);
    }

    .lead-checkbox {
        width: 27px;
        height: 27px;
        object-fit: contain;
    }

    .lead-selecionar-leads {
        width: 213px;
        height: 21px;
        font-family: AktivGrotesk;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--slate);
        vertical-align: bottom;
    }
    input[type=radio] + label:before {
        height: 24px;
        width: 24px;
        margin-right: 10px;
        content: " ";
        display: inline-block;
        vertical-align: middle;
        background:white;
    }

    input[type=radio]:checked + label:before {
        width: 24px;
        height: 24px;
        background:red;
    }


    label {
        margin: 0 0 0;
    }

    input[type=radio] + label:before {
        margin-right: 2px;
        border:1px solid gray;
    }
    
</style>

<div id="titlebar-name" class="col-md-24 lead-titlebar">
    @Html.Label(GlobalMessages.LeadsPacote.ToUpper(), new { @class = "control-label lead-title" })
</div>


<div class="col-md-24">
    <div class="col-md-5 hidden selecionar">
        <img id="check_false" class="lead-checkbox" style="vertical-align: text-bottom;position:relative;opacity:0.5" src="~/Static/images/inputCheckBox/icon-checkmark.png" onclick="Europa.Controllers.Leads.OnClickSelecionarLeads()" />
        <img id="check_true" class="hidden lead-checkbox" style="vertical-align: text-bottom; cursor:pointer;" src="~/Static/images/inputCheckBox/icon-checkmark_red.png" onclick="Europa.Controllers.Leads.OnClickSelecionarLeads()" />

        <input class="hidden" value="false" type="checkbox" id="selecionar_leads" disabled name="selecionar_leads">
        @Html.Label(GlobalMessages.Selecionar + " " + GlobalMessages.Leads, new { @class = "control-label lead-selecionar-leads" })
    </div>
    <div class="col-md-4 hidden corretor" style="display: inline-flex; padding-top: 5px;">
            <div class="form-check" style="margin-right: 20px;">
                <input onclick="Europa.Controllers.Leads.OnClickSelecionar()" class="form-check-input" type="radio" name="leads-selecionados" id="todos" value="true">
                <label class="form-check-label" for="todos" style="font-size:13px">
                    @GlobalMessages.Todos
                </label>
            </div>
            <div class="form-check" style="margin-right: 20px;">
                <input onclick="Europa.Controllers.Leads.OnClickSelecionar()" class="form-check-input" type="radio" name="leads-selecionados" id="selecionados" value="false">
                <label class="form-check-label" for="selecionados" style="font-size:13px">
                    @GlobalMessages.Selecionados
                </label>
            </div>
    </div>

    <div class="col-md-1 hidden corretor">
        @Html.Label(GlobalMessages.Corretor, new { @class = "control-label", style = "margin-top: 9px;" })
    </div>
    <div class="col-md-5 hidden corretor" style="margin-left:17px">
        <select id="autocomplete_corretor_lote" name="autocomplete_corretor_lote" class="col-md-4 select2-container form-control"></select>
    </div>
    <div class="corretor hidden col-md-1 pull-left" style="margin-left:10px;padding-top:3px;">
        <button type="button" class="btn btn-" onclick="Europa.Controllers.Leads.AtribuirCorretorLeadsPagina()" ><i class="fa fa-save" aria-hidden="true"></i></button>
    </div>
    <div class="text-right" style="float: right;">
        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarPagina"))
        {
            <button class="btn" type="button" onclick="Europa.Controllers.Leads.ExportarPaginaDiretor()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarPagina</button>
        }
        @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExportarTodos"))
        {
            <button class="btn" type="button" onclick="Europa.Controllers.Leads.ExportarTodosDiretor()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> @GlobalMessages.ExportarTodos</button>
        }
    </div>
</div>

<div class="col-md-24">
    <div ng-controller="DiretorDatatable as table">
        <div id="diretpr_datatable_header">
            
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table"
               dt-column-defs="table.dtColumnDefs">
        </table>
    </div>
</div>