@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums

<div class="col-md-24">
    <div class="col-md-4 form-group">
        @Html.Label(GlobalMessages.Pacote, new { @class = "control-label" })
        @*<select id="autocomplete_pacote_diretor" name="autocomplete_pacote_diretor" class="select2-container form-control"></select>*@
        <select id="pacote_diretor" class="form-control" onchange=""></select>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <button class="btn pull-right" type="button" onclick="Europa.Controllers.Leads.AbrirPacote()" style="margin: 18px 0px 0px 4px;">@GlobalMessages.Abrir</button>
    </div>
    <div class="col-md-10 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Corretor, new { @class = "control-label" })
        <select id="autocomplete_corretor_filtro" name="autocomplete_corretor_filtro" class="col-md-4 select2-container form-control"></select>
    </div>
    <div class="col-md-6 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Situacao, new { @class = "control-label" })
        @Html.DropDownList("filtro_situacoes", EnumHelper.GetSelectList(typeof(SituacaoLead)), "Todos", new { @class = "form-control" })
    </div>
</div>
<div class="col-md-24" style="margin: 24px 0px 0px 0px;">
    <div class="col-md-6 col-md-offset-7 form-group">
        @Html.Label(GlobalMessages.Lead, new { @class = "control-label" })
        @Html.TextBox("filtro_lead", "", new { @class = "form-control" })
    </div>
    <div class="col-md-6 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Telefone, new { @class = "control-label" })
        @Html.TextBox("filtro_telefone", "", new { @class = "form-control" })
    </div>
    <div class="pull-right form-group">
        <button class="btn pull-right" type="button" onclick="Europa.Controllers.Leads.LimparFiltroDiretor()" style="margin: 22px 0px 0px 4px;">@GlobalMessages.Limpar</button>
        <button class="btn pull-right" type="button" onclick="Europa.Controllers.Leads.FiltrarDatatableDiretor()" style="margin: 22px 0px 0px 4px;">@GlobalMessages.Filtrar</button>
    </div>
</div>