@using Europa.Resources
@using Europa.Extensions;
@model Tenda.Domain.EmpresaVenda.Models.BreveLancamento


@{
    var disponivelCatalogo = Model.Id == 0 || Model.DisponivelCatalogo;
    var catalogoOptions = new[]
    {
        new {Text = GlobalMessages.Sim, Value = true.ToString()},
        new {Text = GlobalMessages.Nao, Value = false.ToString()}
    };
}

<form id="form_breve_lancamento">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Sequencia)
    @Html.Hidden("regional_nome", Model.Regional.HasValue() ? Model.Regional.Nome : "")
    @Html.Hidden("regional_id", Model.Regional.HasValue() ? Model.Regional.Id : 0)
    <div class="col-md-24">
        <div class="col-md-6 form-group">
            @Html.Label(GlobalMessages.Nome + " *", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", maxlength = 128 })
        </div>
        <div class="col-md-3 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Regional + "*")
            <select id="autocomplete_regionais" name="autocomplete_regionais" class="select2-container form-control" multiple="multiple" ></select>

        </div>
        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.DisponibilizarCatalogo, new { @class = "control-label" })
            @Html.DropDownListFor(x => x.DisponivelCatalogo, new SelectList(catalogoOptions, "Value", "Text", disponivelCatalogo.ToString()), new { @class = "form-control" })
        </div>
        <div class="col-md-7 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.Empreendimento, new { @class = "control-label" })
            @Html.HiddenFor(x => x.Empreendimento.Id)
            @Html.TextBoxFor(x => x.Empreendimento.Nome, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>
    <div class="col-md-24">
        <div class="col-md-24 form-group">
            @Html.Label(GlobalMessages.Informacoes, new { @class = "control-label" })
            @Html.TextAreaFor(x => x.Informacoes, new { @class = "form-control", maxlength = 1024 })
        </div>
    </div>
    <div class="col-md-24">
        <div class="col-md-24 form-group">
            @Html.Label(GlobalMessages.FichaTecnica, new { @class = "control-label" })
            @Html.TextAreaFor(x => x.FichaTecnica, new { @class = "form-control", maxlength = 1024 })
        </div>
    </div>
</form>