@using Europa.Resources

<div class="col-md-24">
    <div class="modal" id="modal-prioridade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-prioridade-titulo">
                        <div class="col-md-10">
                            @Html.TextBox("filtro_nome_modal", "", new { @class = "form-control", maxlength = 128, @placeholder = GlobalMessages.BreveLancamento })
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default" title="@GlobalMessages.Filtrar" onClick="Europa.Controllers.BreveLancamento.FiltrarPrioridade()"><i class="fa fa-filter"></i> @GlobalMessages.Filtrar</button>
                            <button type="button" title="@GlobalMessages.Limpar" class="btn btn-default" onClick="Europa.Controllers.BreveLancamento.LimparFiltroPrioridade()"><i class="fa fa-eraser"></i> @GlobalMessages.Limpar</button>
                        </div>
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-md-24">
                            <div ng-controller="PrioridadeDataTable as table">
                                <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
                                       dt-instance="table.dtInstance" class="table table-striped table-bordered"
                                       dt-column-defs="table.dtColumnDefs"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="" data-dismiss="modal">
                        <i class="fa fa-ban"></i> @GlobalMessages.Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>