@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

@model Tenda.EmpresaVenda.Domain.Services.Models.LayoutProgramaFidelidadeDTO

@{
    ViewBag.Codigo = "GEC08";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
}

<script type="text/javascript" src="~/Static/projeto/layout-programa-fidelidade/index-layout-programa-fidelidade.js"></script>
<script type="text/javascript" src="~/Static/projeto/layout-programa-fidelidade/modal-visualizar-imagem.js"></script>

<script>
    Europa.Controllers.LayoutProgramaFidelidade.Url = {
        SalvarLayout: '@Url.Action("SalvarLayout","LayoutProgramaFidelidade")'
    };
</script>

<div id="titlebar-name">
    @ViewBag.Title
</div>

<div id="titlebar-buttons">
    <button id="btn_novo"
            class="btn btn-default"
            type="button"
            onClick="Europa.Controllers.LayoutProgramaFidelidade.Novo()">
        <i class="fa fa-plus"></i> @GlobalMessages.Novo
    </button>

    <button id="btn_editar"
            class="btn btn-default hidden"
            type="button"
            onClick="Europa.Controllers.LayoutProgramaFidelidade.Editar()">
        <i class="fa fa-edit"></i> @GlobalMessages.Editar
    </button>

    <button id="btn_salvar"
            class="btn btn-default hidden"
            type="button"
            onClick="Europa.Controllers.LayoutProgramaFidelidade.SalvarLayout()">
        <i class="fa fa-save"></i> @GlobalMessages.Salvar
    </button>

    <button id="btn_cancelar"
            class="btn btn-default hidden"
            type="button"
            onClick="Europa.Controllers.LayoutProgramaFidelidade.Cancelar()">
        <i class="fa fa-close"></i> @GlobalMessages.Cancelar
    </button>
</div>

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form-layout",enctype = "multipart/form-data" }))
{
<fieldset id="fieldset-form-layout" disabled="disabled">
    @Html.HiddenFor(x => x.IdLayoutProgramaFidelidade)
    @Html.HiddenFor(x=>x.LinkBannerParceiroExclusivo)
    @Html.HiddenFor(x=>x.LinkBannerPontos)
    <div class="col-md-24">
        @Html.Label(GlobalMessages.Area + " do " + GlobalMessages.Resgate, new { @class = "control-label", style = "font-weight: bold;font-size: 13px;" })
        <hr style="margin-top:0px;border-top: 2px solid #eee;" />
    </div>
    <div class="col-md-24">
        <div class="col-md-4 form-group">
            @Html.Label(GlobalMessages.NomeParceiro, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.NomeParceiroExclusivo, new { @class = "form-control" })
        </div>

        <div class="col-md-4 col-md-offset-1 form-group">
            @Html.Label(GlobalMessages.LinkParceiro, new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon">http://</span>
                @Html.TextBoxFor(x => x.LinkParceiroExclusivo, new { @class = "form-control" })
            </div>            
        </div>

            <div class="col-md-4 col-md-offset-1 form-group">
                <label>@GlobalMessages.BannerParceiro</label>
                <input type="file" style="margin-top: 5px" id="FileBannerParceiroExclusivo" name="FileBannerParceiroExclusivo">
                <a id="bannerParceiro" href="#" onclick="Europa.Controllers.LayoutProgramaFidelidade.VizualizarParceiro()">@GlobalMessages.VisualizarImagem</a>
            </div>
        </div>
    <div class="col-md-24" style="margin-top:20px">
        @Html.Label(GlobalMessages.Area + " do " + GlobalMessages.ComoFunciona, new { @class = "control-label", style = "font-weight: bold;font-size: 13px;" })
        <hr style="margin-top:0px;border-top: 2px solid #eee;" />
    </div>
    <div class="col-md-24">
        <div class="col-md-4 form-group">
            @Html.Label(GlobalMessages.BannerPontos, new { @class = "control-label" })
            <input type="file" style="margin-top: 5px" id="FileBannerPontos" name="FileBannerPontos">
            <a id="bannerPontos" href="#" onclick="Europa.Controllers.LayoutProgramaFidelidade.VizualizarPontos()">@GlobalMessages.VisualizarImagem</a>
        </div>
    </div>
</fieldset>
}

@{ 
    Html.RenderPartial("_ModalVisualizarImagem");
}
