@using Europa.Resources

<div class="col-md-24">
    <div class="modal" id="clonar_pre_proposta_modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document" style="width: 700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@GlobalMessages.ClonarPreProposta</h4>
                </div>
                <div class="modal-body">
                    <form id="form_clone_pre_proposta">
                        <div class="col-md-12">
                            @Html.Label(GlobalMessages.BreveLancamento, new { @class = "control-label" })
                            @Html.TextBox("breve_lancamento_atual", "", new { @class = "form-control", @maxlength = 30, @readonly = "readonly" })
                        </div>
                        <div class="col-md-11  col-md-offset-1">
                            @Html.Label("Novo " + GlobalMessages.BreveLancamento, new { @class = "control-label" })
                            @{
                                Html.RenderAction("RenderBrevesLancamentosClone");
                            }
                        </div>
                        <div class="col-md-12">
                            @Html.Label(GlobalMessages.Torre, new { @class = "control-label" })
                            @Html.TextBox("torre_atual", "", new { @class = "form-control", @maxlength = 30, @readonly = "readonly" })
                        </div>
                        <div class="col-md-11 col-md-offset-1">
                            @Html.Label("Nova " + GlobalMessages.Torre + " *")
                            <select id="autocomplete_clone_torre" name="autocomplete_clone_torre" class="select2-container form-control"></select>
                        </div>
                        <div class="col-md-12">
                            @Html.Label(GlobalMessages.Observacao + " da Torre", new { @class = "control-label" })
                            @Html.TextBox("observacao_torre", "", new { @class = "form-control", maxlength = 128, @readonly = "readonly" })
                        </div>
                        <div class="col-md-11 col-md-offset-1">
                            @Html.Label("Nova " + GlobalMessages.Observacao + " da Torre", new { @class = "control-label" })
                            @Html.TextBox("observacao_torre_clone", "", new { @class = "form-control", maxlength = 128 })
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" title="@GlobalMessages.Clonar" onclick="Europa.Controllers.PreProposta.ClonarPreProposta()">
                        <i class="fa fa-check" aria-hidden="true"></i> @GlobalMessages.Clonar
                    </button>
                    <button type="button" class="btn" title="@GlobalMessages.Desistir" onclick="$('#clonar_pre_proposta_modal').modal('hide')">
                        <i class="fa fa-close"></i> @GlobalMessages.Desistir
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>