@using Europa.Extensions
@using Europa.Resources
@using Tenda.EmpresaVenda.Domain.Commons
@using Tenda.EmpresaVenda.Portal.Models.Application
@model Tenda.EmpresaVenda.Portal.Models.PrePropostaDTO

@{
    var listaTipoParcelas = TipoParcelaWrapper.TipoParcelaDetalhamentoFinanceiro().Select(x => new SelectListItem
    {
        Text = x.AsString(),
        Value = "" + (int)x
    });
}

<script>
    Europa.Controllers.PreProposta.DetalhamentoFinanceiro.UrlListar = '@Url.Action("DetalhamentoFinanceiro", "PreProposta")';
    Europa.Controllers.PreProposta.DetalhamentoFinanceiro.UrlIncluir = '@Url.Action("IncluirDetalhamentoFinanceiro", "PreProposta")';
    Europa.Controllers.PreProposta.DetalhamentoFinanceiro.UrlAlterar = '@Url.Action("AlterarDetalhamentoFinanceiro", "PreProposta")';
    Europa.Controllers.PreProposta.DetalhamentoFinanceiro.UrlExcluir = '@Url.Action("ExcluirDetalhamentoFinanceiro", "PreProposta")';
    Europa.Controllers.PreProposta.DetalhamentoFinanceiro.Permissoes = {
        Visualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "VisualizarDetalhamentoFinanceiro").ToString().ToLower()',
        Incluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "IncluirDetalhamentoFinanceiro").ToString().ToLower()',
        Excluir: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "ExcluirDetalhamentoFinanceiro").ToString().ToLower()',
        Atualizar: '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AlterarDetalhamentoFinanceiro").ToString().ToLower()'
    };
    Europa.Controllers.PreProposta.DetalhamentoFinanceiro.DropDownTipoParcela =
        '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownList("TipoParcela", listaTipoParcelas,
        new { @class = "form-control" }).ToHtmlString()))';
</script>

<div class="col-md-24">
    <div ng-controller="detalhamentoFinanceiroTable as table">
        <div id="detalhamento_financeiro_datatable_header">
            <div class="col-md-18 form-group">
                <h5>@GlobalMessages.DetalhamentoFinanceiro</h5>
            </div>
            <div class="pull-right">
                @if (Model.PodeManterAssociacoes && SessionAttributes.Current().HasPermission(ViewBag.Codigo, "DetalhamentoFinanceiroManual")) { 
                    <button class="btn" type="button" title="@GlobalMessages.Novo" onClick="Europa.Controllers.PreProposta.DetalhamentoFinanceiro.Novo()"><i class="fa fa-plus" aria-hidden="true"></i> @GlobalMessages.Novo</button>
                }
            </div>
        </div>
        <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
               dt-instance="table.dtInstance" class="table"
               dt-column-defs="table.dtColumnDefs"></table>
    </div>
</div>