@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@using Europa.Extensions

@model Tenda.EmpresaVenda.Portal.Models.PrePropostaDTO

@{
    ViewBag.Codigo = "EVS10";
}

@Html.HiddenFor(reg => reg.PodeManterAssociacoes)
@Html.HiddenFor(reg => reg.PreProposta.Id)
@Html.HiddenFor(reg => reg.PreProposta.Cliente.Id)
@Html.HiddenFor(reg => reg.PreProposta.BreveLancamento.Id)
@Html.HiddenFor(reg => reg.PreProposta.BreveLancamento.Nome)
@Html.HiddenFor(reg => reg.PreProposta.PontoVenda.Id)
@Html.HiddenFor(reg => reg.PreProposta.IdTorre)
@Html.HiddenFor(reg => reg.PreProposta.NomeTorre)
@Html.HiddenFor(reg => reg.PreProposta.BreveLancamento.Empreendimento.Id)
@Html.HiddenFor(reg => reg.PreProposta.IdSuat)
@*@Html.HiddenFor(reg => reg.PreProposta.Regiao.Id)*@
@*@Html.HiddenFor(reg=>reg.PreProposta.IsBreveLancamento)*@
@if (Model.PreProposta.SituacaoProposta.HasValue)
{
    @Html.HiddenFor(reg => reg.PreProposta.SituacaoProposta, new { @Value = (int)Model.PreProposta.SituacaoProposta })
}

<div class="col-md-24">
    <div class="col-md-4 form-group">
        @Html.Label(GlobalMessages.Codigo, new { @class = "control-label" })
        @Html.TextBoxFor(reg => reg.PreProposta.Codigo, new { @class = "form-control", @maxlength = 30, @readonly = "readonly" })
    </div>
    <div class="col-md-7 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Cliente + " *", new { @class = "control-label" })
        <div class="input-group">
            @Html.TextBox("PreProposta.Cliente.NomeCompleto", Model.PreProposta.Cliente?.NomeCompleto, new { @class = "form-control", @readonly = true, data_entity = "Cliente", data_id = Model.PreProposta.Cliente?.Id })
            @Html.HiddenFor(x => x.PreProposta.Cliente.Id)
            @*@Html.HiddenFor(x => x.PreProposta.Cliente.NomeCompleto)*@
            <span class="input-group-btn">
                <button id="btn_select_cliente" type="button" class="btn control-label" onclick="Europa.Components.ClienteModal.AbrirModal(Europa.Controllers.PreProposta.SelectCliente)">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.DataElaboracao, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.PreProposta.DataElaboracao, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Status, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.SituacaoPrepropostaSuatEvs, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-md-24">
    <div class="col-md-4 form-group">
        @Html.Label(GlobalMessages.EmpresaVenda, new { @class = "control-label" })
        @Html.HiddenFor(x => x.PreProposta.EmpresaVenda.Id)
        @Html.TextBoxFor(reg => reg.PreProposta.EmpresaVenda.NomeFantasia, new { @class = "form-control", @maxlength = 30, @readonly = "readonly" })
    </div>
    @*<div class="col-md-7 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.OrigemCliente, new { @class = "control-label" })
        @Html.DropDownListFor(x => x.PreProposta.OrigemCliente, EnumHelper.GetSelectList(typeof(Tenda.Domain.EmpresaVenda.Enums.TipoOrigemCliente)).OrderBy(x => x.Text), "", new { @class = "form-control" })
    </div>*@
    <div class="col-md-7 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.OrigemCliente, new { @class = "control-label" })
        <div class="input-group">
            @Html.DropDownListFor(x => x.PreProposta.OrigemCliente, EnumHelper.GetSelectList(typeof(Tenda.Domain.EmpresaVenda.Enums.TipoOrigemCliente)).OrderBy(x => x.Text), "", new { @class = "form-control" ,onchange= "Europa.Controllers.PreProposta.OnChangeIndicacao()"})
            <span class="input-group-btn">
                <button id="span_origem_cliente" disabled type="button" class="btn control-label" onclick="Europa.Controllers.PreProposta.AbrirModalOrigemIndicacao()">
                    <i class="fa fa-eye"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Corretor, new { @class = "control-label" })
        @Html.HiddenFor(x => x.PreProposta.Corretor.Id)
        @Html.TextBoxFor(x => x.PreProposta.Corretor.Nome, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Elaborador, new { @class = "control-label" })
        @Html.HiddenFor(x => x.PreProposta.Elaborador.Id)
        @Html.TextBoxFor(x => x.PreProposta.Elaborador.Nome, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-md-24">
    <div class="col-md-6  form-group">
        @Html.Label(GlobalMessages.PontoVenda + " *", new { @class = "control-label" })
        @Html.DropDownListFor(reg => reg.PreProposta.PontoVenda, Model.ListPontosVenda, GlobalMessages.Selecione, new { @class = "form-control", onchange = "Europa.Controllers.PreProposta.ChangePontoVenda()" })
    </div>

    <div class="col-md-5 col-md-offset-1 form-group">

        @if (Model.PreProposta.SituacaoProposta == SituacaoProposta.AguardandoFluxo)
        {
            Html.RenderAction("RenderBrevesLancamentos");
        }
        else if (Model.PreProposta.HasValue() &&
            Model.PreProposta.SituacaoProposta != SituacaoProposta.EmElaboracao &&
            Model.PreProposta.SituacaoProposta != SituacaoProposta.EmAnaliseSimplificada &&
            Model.PreProposta.SituacaoProposta != SituacaoProposta.DocsInsuficientesSimplificado &&
            Model.PreProposta.SituacaoProposta != SituacaoProposta.AnaliseSimplificadaAprovada &&
            Model.PreProposta.SituacaoProposta != SituacaoProposta.Condicionada &&
            Model.PreProposta.SituacaoProposta != SituacaoProposta.SICAQComErro &&
            Model.PreProposta.SituacaoProposta != SituacaoProposta.Reprovada &&
            Model.PreProposta.SituacaoProposta != SituacaoProposta.AguardandoAnaliseSimplificada)
        {
            <div>
                @Html.Label(GlobalMessages.EmpresasVendas_Produto, new { @class = "control-label" })
            </div>
            @Html.TextBoxFor(x => x.PreProposta.BreveLancamento.Nome, new { @class = "form-control" })
        }
        else
        {
            @Html.Label("Escolha o Produto", new { @class = "control-label" })
            <select id="autocomplete_breve_lancamento" name="autocomplete_breve_lancamento" class="select2-container form-control" disabled="disabled"></select>
        }
    </div>

    <div class="col-md-11 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Viabilizador, new { @class = "control-label" })
        @Html.TextBoxFor(reg => reg.PreProposta.Viabilizador.Nome, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="col-md-24">
    @*@Html.Label(GlobalMessages.Produto)
        <div class="col-md-24">
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.PreProposta.IsBreveLancamento, true, new { id = "PreProposta_IsBreveLancamento_Sim",onclick= "Europa.Controllers.PreProposta.OnSelectBreveLancamento(1)" }) <label class="control -label" for="PreProposta_IsBreveLancamento_Sim">@GlobalMessages.Sim</label>
            </div>
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.PreProposta.IsBreveLancamento, false, new { id = "PreProposta_IsBreveLancamento_Nao", onclick = "Europa.Controllers.PreProposta.OnSelectBreveLancamento(0)" }) <label class="control-label" for="PreProposta_IsBreveLancamento_Nao">@GlobalMessages.Nao</label>
            </div>
        </div>*@
    <div class="col-md-6 form-group">
        @if (Model.PreProposta.HasValue() &&
        Model.PreProposta.SituacaoProposta != SituacaoProposta.EmElaboracao &&
        Model.PreProposta.SituacaoProposta != SituacaoProposta.EmAnaliseSimplificada &&
        Model.PreProposta.SituacaoProposta != SituacaoProposta.DocsInsuficientesSimplificado &&
        Model.PreProposta.SituacaoProposta != SituacaoProposta.AnaliseSimplificadaAprovada &&
        Model.PreProposta.SituacaoProposta != SituacaoProposta.Condicionada &&
        Model.PreProposta.SituacaoProposta != SituacaoProposta.SICAQComErro &&
        Model.PreProposta.SituacaoProposta != SituacaoProposta.Reprovada &&
        Model.PreProposta.SituacaoProposta != SituacaoProposta.AguardandoAnaliseSimplificada &&
        Model.PreProposta.SituacaoProposta != SituacaoProposta.AguardandoFluxo)
        {
            @Html.Label(GlobalMessages.Torre, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.PreProposta.NomeTorre, new { @class = "form-control", @readonly = "readonly" })
        }
        else
        {
            @Html.Label(GlobalMessages.Torre)
            <select id="autocomplete_torre" name="autocomplete_torre" class="select2-container form-control" disabled="disabled"></select>
        }
    </div>

    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.Observacao + " da Torre", new { @class = "control-label" })
        @Html.TextBoxFor(reg => reg.PreProposta.ObservacaoTorre, new { @class = "form-control", maxlength = 128 })
    </div>

    <div class="col-md-5 col-md-offset-1 form-group">
        @Html.Label(GlobalMessages.ParcelaSolicitada, new { @class = "control-label" })
        @Html.TextBoxFor(reg => reg.PreProposta.ParcelaSolicitada, new { @class = "form-control text-right dinheiro", Value = Model.PreProposta.ParcelaSolicitada.ToString("F") })
    </div>

    <div class="col-md-5 col-md-offset-1 form-group">
        @if (Model.PreProposta.ParcelaAprovada.HasValue())
        {
            @Html.Label(GlobalMessages.ParcelaAprovada, new { @class = "control-label" })
            @Html.TextBoxFor(reg => reg.PreProposta.ParcelaAprovada, new { @class = "form-control text-right dinheiro", @readonly = "readonly", Value = Model.PreProposta.ParcelaAprovada.ToString("F") })
            @Html.HiddenFor(reg=>reg.PreProposta.ParcelaAprovada)
        }
        else
        {
            @Html.Label(GlobalMessages.ParcelaAprovada + " Prévia", new { @class = "control-label" })
            @Html.TextBoxFor(reg => reg.PreProposta.ParcelaAprovadaPrevio, new { @class = "form-control text-right dinheiro", @readonly = "readonly", Value = Model.PreProposta.ParcelaAprovadaPrevio.ToString("F") })
            @Html.HiddenFor(reg=>reg.PreProposta.ParcelaAprovadaPrevio)
        }
    </div>

</div>
<div class="col-md-24">
    <div class="col-md-8">
        @Html.Label(GlobalMessages.Endereco, new { @class = "control-label" })
        @Html.TextBoxFor(reg => reg.EnderecoBreveLancamento, new { @class = "form-control", @maxlength = 128, @readonly = "readonly" })
    </div>
    <div class="col-md-3 col-md-offset-1">
        @Html.Label(GlobalMessages.FaixaUmMeio + "?", new { @class = "control-label" })
        <div class="col-md-24">
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.PreProposta.FaixaEv, true, new { id = "PreProposta_FaixaEv_Sim" }) <label class="control -label" for="PreProposta_FaixaEv_Sim">@GlobalMessages.Sim</label>
            </div>
            <div class="col-md-12">
                @Html.RadioButtonFor(reg => reg.PreProposta.FaixaEv, false, new { id = "PreProposta_FaixaEv_Nao" }) <label class="control-label" for="PreProposta_FaixaEv_Nao">@GlobalMessages.Nao</label>
            </div>
        </div>
    </div>
    <div id="area_totais">
        <div class="col-md-3 col-md-offset-1">
            @Html.Label(GlobalMessages.TotalDetalhamentoFinanceiro, new { @class = "control-label" })
            @Html.TextBoxFor(reg => reg.PreProposta.TotalDetalhamentoFinanceiro, new { @class = "form-control text-right dinheiro", maxlength = 13, @readonly = "readonly", Value = Model.PreProposta.TotalDetalhamentoFinanceiro.ToString("F") })
        </div>
        <div class="col-md-3 col-md-offset-1">
            @Html.Label(GlobalMessages.TotalItbiEmolumento, new { @class = "control-label" })
            @Html.TextBoxFor(reg => reg.PreProposta.TotalItbiEmolumento, new { @class = "form-control text-right dinheiro", @maxlength = 13, Value = Model.PreProposta.TotalItbiEmolumento.ToString("F"), @readonly = "readonly" })
        </div>
        <div class="col-md-3 col-md-offset-1">
            @Html.Label(GlobalMessages.Total, new { @class = "control-label" })
            @Html.TextBoxFor(reg => reg.PreProposta.Valor, new { @class = "form-control text-right dinheiro", @maxlength = 13, Value = Model.PreProposta.Valor.ToString("F"), @readonly = "readonly" })
        </div>
        <script>
            Europa.String.FormatAsMoney($('#PreProposta_TotalDetalhamentoFinanceiro').val());
            Europa.String.FormatAsMoney($('#PreProposta_TotalItbiEmolumento').val());
            Europa.String.FormatAsMoney($('#PreProposta_Valor').val());
            Europa.String.FormatAsMoney($('#PreProposta_ParcelaAprovada').val());
            Europa.String.FormatAsMoney($('#PreProposta_ParcelaSolicitada').val());
        </script>
    </div>
</div>
@{
    Html.RenderPartial("_ModalOrigemIndicacao"); 
}