@using Europa.Resources
@using Europa.Extensions

<link href="~/Static/projeto/pre-proposta/indique.css" rel="stylesheet" />

<script src="~/Static/projeto/pre-proposta/indicacao.js"></script>

<script>
    Europa.Controllers.Indicacao.UrlCadastrarIndicado = '@Url.Action("EnviarIndicacao","PreProposta")';
    Europa.Controllers.Indicacao.UrlSalvarRecusaIndicacao = '@Url.Action("SalvarRecusaIndicacao","PreProposta")';
</script>
<style>
    #modal-inclusao-indicacao .btn[disabled]:hover {
        color: #DBDCDC;
        border-color: #DBDCDC;
        background-color: #ffff;
    }
   
    #modal-inclusao-indicacao .btn[disabled] {
        cursor: not-allowed;
        opacity: .65;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #DBDCDC;
        border-color: #DBDCDC;
    }
    #nao-indicar {
        height: 24px;
        width: 24px;
        margin: 0px;
    }
    input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
        margin-top: 10px;
    }

    input[type=checkbox]:disabled + label:before {
        opacity: 0.2;
    }

    input[type=checkbox] + label {
        cursor: pointer;
        position:relative;
    }

    input[type=checkbox]:disabled + label {
        cursor: not-allowed;
    }


    input[type=checkbox] + label:before {
        border-radius: 50%;
    }

    input[type=checkbox] + label:before {
        height: 24px;
        width: 24px;
        border:1px solid var(--marine-blue);
        border-radius: 4px;
        margin-right: 10px;
        content: " ";
        display: inline-block;
        vertical-align: middle;
    }
    input[type=checkbox]:checked + label:after {
        background: var(--marine-blue);
        position: absolute;
        left: 4px;
        top: 4px;
        content: " ";
        height: 16px;
        width: 16px;
        border-radius: 4px;
        display: inline-block;
        margin-right: 14px;
    }

</style>

<div class="modal" id="modal-inclusao-indicacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 869px">
        <div class="modal-content">
            <div class="modal-header">
                @*<img title="@GlobalMessages.Fechar" data-dismiss="modal"
                     style="margin-bottom: 15px; text-align: right;" class="btn-close pull-right"
                     src="~/Static/images/x-icon-red.png" />*@
            </div>
            <div class="modal-body col-md-24">
                <div class="col-md-24 ">
                    <span style="color:var(--marine-blue);font-weight: bold;font-size: 24px;"> INDIQUE</span>
                </div>
                <div class="col-md-24" style="padding-top: 16px;">
                    <p class="col-md-16" style="color:#394452;font-size: 16px;line-height: 22px;">Peça ao cliente que indique familiares, amigos, colegas de trabalho para comprar um Tenda.<span style="font-weight:700">Ele pode ganhar R$400 em vale presentes!</span></p>
                </div>
                <div class="pull-right">
                    <button id="add-form-btn" class="btn btn-md" style="height:40px;" disabled> Adicionar Indicação</button>
                </div>
                <div id="forms-container">
                    <form class="col-md-24" id="form-1">
                        <div class="col-md-24 title-indicacao">
                            <label id="indicacao-1" style="color:var(--marine-blue)">1.INDICAÇÃO</label>
                        </div>
                        <div class="col-md-24">
                            <div class="col-md-8 form-group">
                                @Html.Label(GlobalMessages.Nome + " *",new { @for = "Nome" })
                                @Html.TextBox("Nome", "", new { @class = "form-control", @maxlength = "128",@id= "nome-1" , @required= "required" ,@onchange="Europa.Controllers.Indicacao.onChangeLiberar()"})
                            </div>
                            <div class="col-md-7 col-md-offset-1 form-group">
                                @Html.Label(GlobalMessages.Sobrenome + " *")
                                @Html.TextBox("Sobrenome", "", new { @class = "form-control", @maxlength = "128", @id = "sobreNome-1", @required = "required", @onchange="Europa.Controllers.Indicacao.onChangeLiberar()" })
                            </div>
                            <div class="col-md-7 col-md-offset-1 form-group">
                                @Html.Label(GlobalMessages.Telefone + " *")
                                @Html.TextBox("Telefone", "", new { @class = "form-control  mask-telephone", @id = "telefone-1", @required = "required", @onchange="Europa.Controllers.Indicacao.onChangeLiberar()" })
                            </div>
                        </div>
                        <div class="col-md-24">
                            <div class="col-md-10 form-group">
                                @Html.Label(GlobalMessages.Email)
                                @Html.TextBox("Email", "", new { @class = "form-control", @id = "email-1", @onchange="Europa.Controllers.Indicacao.onChangeLiberar()" })
                            </div>

                            <div class="col-md-5 col-md-offset-1 form-group">
                                @Html.Label(GlobalMessages.Estado + " *")
                                <select name="Estado" id="autocomplete_estado-1" class="select2-container form-control" required></select>
                                
                            </div>
                            <div class="col-md-7 col-md-offset-1 form-group">
                                @Html.Label(GlobalMessages.Cidade + " *")
                                <select name="Cidade" id="autocomplete_cidade-1" class="select2-container form-control" required onchange ="Europa.Controllers.Indicacao.onChangeLiberar()"></select>
                            </div>
                        </div>
                        <div class="col-md-24 geenFieldSet">
                            <span style="font-size:12px;color:var(--neutral-three)">* Campos Obrigatórios</span>
                            <div class="panel-heading">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-24">
                    <div class="col-md-18">
                        @*@Html.CheckBox("nao-indicar", new { id = "nao-indicar" , onchange = "Europa.Controllers.Indicacao.OnChangeCancelarIndicacao()"})<label class="control-label checkBox" style="color:var(--marine-blue);font-size:14px;padding-left: 14px;" for="nao-indicar"> Cliente não quer indicar</label>*@
                        <input type="checkbox" id="nao-indicar" onchange="Europa.Controllers.Indicacao.OnChangeCancelarIndicacao()">
                    <label for="nao-indicar" style="color:var(--marine-blue);font-size:14px;"> Cliente não quer indicar</label>
                    </div>
                    <div class=" col-md-6 pull-right">
                        <button type="button" id="confirmar_indicado" class="btn btn-blue btn-md btn-indicar pull-right" onclick="Europa.Controllers.Indicacao.CadastrarIndicado()" disabled> Indicar</button>
                        <button type="button" id="cancelar_indicado" class="btn btn-md btn-indicar pull-right hidden" onclick="Europa.Controllers.Indicacao.SalvarRecusaIndicacao()" > Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>