@using Europa.Extensions
@using Europa.Resources
@using Tenda.Domain.EmpresaVenda.Enums
@using Tenda.EmpresaVenda.Portal.Models.Application
@using Tenda.EmpresaVenda.Portal.Models

@model Tenda.EmpresaVenda.Portal.Models.PrePropostaDTO

@{
    ViewBag.Codigo = "EVS10";
    ViewBag.Title = ApplicationInfo.TituloUnidadeFuncional(ViewBag.Codigo);
    var nomeEmpre = "";
    long idEmpre = 0;
    nomeEmpre = ViewBag.NomeEmpreendimento;
    idEmpre = ViewBag.IdEmpreendimento == null ? 0 : ViewBag.IdEmpreendimento;
    var exibeAvalista = Model.AvalistaDTO != null && Model.AvalistaDTO.Avalista != null && Model.AvalistaDTO.Avalista.Id > 0;

}

@* A ordem dos elementos abaixo importa. Existe um acoplamento inicial entre pre-proposta e os demais componentes *@
<script type="text/javascript" src="~/static/projeto/pre-proposta/pre-proposta.js"></script>
<script type="text/javascript" src="~/static/projeto/pre-proposta/detalhamento-financeiro.js"></script>
<script type="text/javascript" src="~/static/projeto/pre-proposta/itbi-emolumento.js"></script>
<script type="text/javascript" src="~/static/projeto/pre-proposta/proponente.js"></script>
<script type="text/javascript" src="~/static/projeto/pre-proposta/documento-proponente.js"></script>
<script type="text/javascript" src="~/Static/projeto/pre-proposta/dados-avalista.js"></script>

<script>
    Europa.Controllers.PreProposta.NomeEmpre = '@nomeEmpre';
    Europa.Controllers.PreProposta.IdEmpre = '@idEmpre';

    // URLs
    Europa.Controllers.PreProposta.UrlIndex = '@Url.Action("Index", "PreProposta")';
    Europa.Controllers.PreProposta.UrlBuscarCliente = '@Url.Action("BuscarDadosCliente", "PreProposta")';
    Europa.Controllers.PreProposta.UrlIncluirPreProposta = '@Url.Action("Incluir", "PreProposta")';
    Europa.Controllers.PreProposta.UrlAlterarPreProposta = '@Url.Action("Alterar", "PreProposta")';
    Europa.Controllers.PreProposta.UrlCancelarPreProposta = '@Url.Action("Cancelar", "PreProposta")';
    Europa.Controllers.PreProposta.UrlEnviarPreProposta = '@Url.Action("Enviar", "PreProposta")';
    Europa.Controllers.PreProposta.UrlRetornarPreProposta = '@Url.Action("Retornar", "PreProposta")';
    Europa.Controllers.PreProposta.UrlRevisarPreProposta = '@Url.Action("Revisar", "PreProposta")';
    Europa.Controllers.PreProposta.UrlAlterarCorretor = '@Url.Action("AlterarCorretor", "PreProposta")';
    Europa.Controllers.PreProposta.UrlProponenteDropDown = '@Url.Action("RenderPropoponenteDropDownList", "PreProposta")';
    Europa.Controllers.PreProposta.UrlTotalFinanceiro = '@Url.Action("RenderTotalFinanceiro", "PreProposta")';
    Europa.Controllers.PreProposta.UrlNegativarAnexo = '@Url.Action("NegativaAnexarDocumentoProponente", "PreProposta")';
    Europa.Controllers.PreProposta.UrlClonarPreProposta = '@Url.Action("ClonarPreProposta", "PreProposta")';
    Europa.Controllers.PreProposta.UrlBaixarTodosDocumentos = '@Url.Action("BaixarTodosDocumentos", "PreProposta")';
    Europa.Controllers.PreProposta.UrlBaixarDocumento = '@Url.Action("BaixarDocumento", "PreProposta")';
    Europa.Controllers.PreProposta.UrlPreBaixarBoleto = '@Url.Action("PreBaixarBoleto", "PreProposta")';
    Europa.Controllers.PreProposta.UrlPreBaixarContrato = '@Url.Action("PreBaixarContrato", "PreProposta")';
    Europa.Controllers.PreProposta.UrlBaixarContrato = '@Url.Action("BaixarContrato", "PreProposta")';
    Europa.Controllers.PreProposta.UrlBaixarBoleto = '@Url.Action("BaixarBoleto", "PreProposta")';

    Europa.Controllers.PreProposta.UrlBaixarFormularios = '@Url.Action("BaixarFormularios", "PreProposta")';
    Europa.Controllers.PreProposta.UrlAguardandoAnaliseCompleta = '@Url.Action("AguardandoAnaliseCompleta", "PreProposta")';

    Europa.Controllers.PreProposta.Permissoes = {
        DetalhamentoFinanceiroManual:'@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "DetalhamentoFinanceiroManual").ToString().ToLower()'=='true',
    }
</script>

<style>
    .nav-tabs > li {
        margin-right: 5%;
    }
</style>


@{
    Model.PodeManterAssociacoes = Model.PreProposta != null &&
                                  Model.PreProposta.Id > 0 &&
                                  (SituacaoProposta.EmElaboracao == Model.PreProposta.SituacaoProposta ||
                                   SituacaoProposta.DocsInsuficientesSimplificado == Model.PreProposta.SituacaoProposta ||
                                   SituacaoProposta.Condicionada == Model.PreProposta.SituacaoProposta ||
                                   SituacaoProposta.DocsInsuficientesCompleta == Model.PreProposta.SituacaoProposta ||
                                   SituacaoProposta.AguardandoFluxo == Model.PreProposta.SituacaoProposta);
}

<div class="menu-options" size="large">
    <div id="titlebar-name">
        @if (Model.PreProposta.Codigo.IsEmpty() || Model.PreProposta.BreveLancamento == null)
        {
            <div class="pull-left">@ViewBag.Title</div>
        }
        else
        {
            <div class="pull-left" style="font-size: 9pt; margin-top: -5px; margin-bottom:-5px">
                <div>@Model.PreProposta.Codigo</div>
                <div>@Model.PreProposta.Cliente.NomeCompleto</div>
            </div>
        }
    </div>
    <div id="titlebar-buttons">
        <div id="btn_edicao" class="col-md-24" style="display: inline-flex; margin-top: 2px">

            @if (Model.PreProposta.Id > 0 && Model.PreProposta.SituacaoProposta != SituacaoProposta.Cancelada)
            {
                <div class="btn-group">
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Compartilhar Link de Indicação <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#" onclick="Europa.Controllers.Indicacao.AbrirModal()">Cadastre uma Indicação</a></li>
                        <li><a href="#" onclick="Europa.Controllers.PreProposta.AbrirModalCompartilharLink()">Compartilhar Link de Indicação</a></li>
                    </ul>
                </div>
            }
            @if (Model.PodeManterAssociacoes)
            {
                <button id="btn_simulador" class="btn btn-white" type="button"
                        onclick="Europa.Controllers.Simulador.AbrirModalSimulador()">
                    @GlobalMessages.SimuladorPPRAtual
                </button>
            }
            @if (Model.PodeManterAssociacoes&& SessionAttributes.Current().HasPermission(ViewBag.Codigo, "MatrizOferta"))
            {
                <button id="btn_simulador" class="btn btn-white" type="button"
                        onclick="Europa.Controllers.Simulador.AbrirMatrizOferta()">
                    @GlobalMessages.MatrizOferta
                </button>
            }
            @if (Model.PreProposta.Observacao.HasValue())
            {
                <button id="btn_obsetvacoes" class="btn btn-white" type="button"
                        onclick="Europa.Controllers.PreProposta.AbrirModalObservacoes()">
                    @GlobalMessages.Observacoes
                </button>
            }
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Clonar")
     && Model.PreProposta.SituacaoProposta == SituacaoProposta.Condicionada)
            {
                <button id="btn_clonar" class="btn btn-white" type="submit" onclick="Europa.Controllers.PreProposta.AbrirModalClonarPreProposta()">
                    <i class="fa fa-user"></i> @GlobalMessages.ClonarPreProposta
                </button>
            }

            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "AlterarCorretor")
     && Model.PodeManterAssociacoes)
            {
                <button id="btn_alterar_corretor" class="btn btn-white" type="submit" onclick="Europa.Controllers.PreProposta.AbrirAlterarCorretor()">
                    <i class="fa fa-user"></i> @GlobalMessages.AlterarCorretor
                </button>
            }

            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar") &&
     Model.PodeManterAssociacoes &&
     (SituacaoProposta.EmElaboracao == Model.PreProposta.SituacaoProposta ||
      SituacaoProposta.DocsInsuficientesSimplificado == Model.PreProposta.SituacaoProposta ||
      SituacaoProposta.DocsInsuficientesCompleta == Model.PreProposta.SituacaoProposta ||
      SituacaoProposta.Condicionada == Model.PreProposta.SituacaoProposta ||
      SituacaoProposta.AguardandoFluxo == Model.PreProposta.SituacaoProposta))
            {
                <button id="btn_cancelar_pre_proposta" class="btn btn-white" type="button" onclick="Europa.Controllers.PreProposta.CancelarPreProposta()">
                    <i class="fa fa-ban"></i> @GlobalMessages.CancelarPreProposta
                </button>
            }

            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Enviar")
     && Model.PodeManterAssociacoes &&
     (SituacaoProposta.EmElaboracao == Model.PreProposta.SituacaoProposta ||
      SituacaoProposta.AguardandoFluxo == Model.PreProposta.SituacaoProposta))
            {
                <button id="btn_enviar_proposta" class="btn btn-white" type="submit" onclick="Europa.Controllers.PreProposta.PreEnviarPreProposta()">
                    <i class="fa fa-send"></i> @GlobalMessages.Enviar
                </button>
            }
            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Enviar")
     && Model.PodeManterAssociacoes && SituacaoProposta.DocsInsuficientesSimplificado == Model.PreProposta.SituacaoProposta)
            {
                <button id="btn_enviar_proposta" class="btn btn-white" type="submit" onclick="Europa.Controllers.PreProposta.RetornarPreProposta()">
                    <i class="fa fa-send"></i> @GlobalMessages.Enviar
                </button>
            }

            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Enviar")
     && Model.PodeManterAssociacoes && SituacaoProposta.DocsInsuficientesCompleta == Model.PreProposta.SituacaoProposta)
            {
                <button id="btn_enviar_proposta" class="btn btn-white" type="submit" onclick="Europa.Controllers.PreProposta.AguardandoAnaliseCompleta()">
                    <i class="fa fa-send"></i> @GlobalMessages.Enviar
                </button>
            }

            @if ((SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir") && Model.PreProposta.Id.IsEmpty()) ||
     (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Alterar") && Model.PodeManterAssociacoes))
            {
                <button id="btn_salvar_proposta" class="btn btn-white" type="submit" onclick="Europa.Controllers.PreProposta.SalvarPreProposta()">
                    <i class="fa fa-save"></i> @GlobalMessages.Salvar
                </button>
            }

            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "BaixarTodosDocumentos") &&
         Model.PreProposta.Id > 0 &&
         Model.PossuiFormulario &&
         Model.PreProposta.Codigo.HasValue())
            {
                <button id="btn_baixar_todos_documentos" class="btn btn-white" type="button"
                        onclick="Europa.Controllers.PreProposta.BaixarFormularios()">
                    <i class="fa fa-download"></i> @GlobalMessages.BaixarFormularios
                </button>
            }



            @if (Model.PreProposta.IdSuat > 0)
            {
                <button id="btn_imprimir_contrato" class="btn btn-white" type="submit" onclick="Europa.Controllers.PreProposta.BaixarContrato()">
                    <i class="fa fa-print"></i> @GlobalMessages.ImprimirContrato
                </button>
                <button id="btn_baixar_boleto" class="btn btn-white" type="submit" onclick="Europa.Controllers.PreProposta.BaixarBoleto()">
                    <i class="fa fa-barcode"></i> @GlobalMessages.BaixarBoleto
                </button>
            }

            @if (Model.KitCompleto && !Model.AvalistaDTO.DocsAprovados || Model.PossuiPosChaves && !Model.AvalistaDTO.DocsAprovados)
            {
                <button id="btn_salvar_avalista" class="btn btn-white hidden" type="button" onclick="Europa.Controllers.PreProposta.DadosAvalista.CadastrarAvalista()">
                    <i class="fa fa-save"></i> @GlobalMessages.Salvar
                </button>
            }

            @if (Model.KitCompleto && !Model.AvalistaDTO.DocsAprovados || Model.PossuiPosChaves && !Model.AvalistaDTO.DocsAprovados)
            {
                <button id="btn_enviar_documentos_avalista" class="btn btn-white hidden" type="button" onclick="Europa.Controllers.PreProposta.DadosAvalista.EnviarDocumentosAvalista()">
                    <i class="fa fa-send"></i> @GlobalMessages.EnviarDocsAvalista
                </button>
            }

        </div>
    </div>

    <div id="titlebar-extra">
        <div class="col-md-24">
            <nav class="col-md-24">
                <ul id="tabMenu" class="nav nav-tabs" role="tablist" style="background-color: #FFFFFF" onclick="Europa.Controllers.PreProposta.OnChangeBar(this)">
                    @if (exibeAvalista && !Model.PermissaoAvalistaPreChaves || Model.KitCompleto && !Model.PermissaoAvalistaPreChaves || Model.PossuiPosChaves)
                    {
                        <li id="tabAvalista" onclick="Europa.Controllers.PreProposta.DadosAvalista.ActionAvalista()" style="background-color:#a6b9c8">
                            <a href="#area_avalista" style="color:#FFFFFF">@GlobalMessages.DadosAvalista</a>
                        </li>
                    }
                    <li id="tabGeral" onclick="Europa.Controllers.PreProposta.DadosAvalista.GoBackAvalista()" class="active">
                        <a href="#area_geral">@GlobalMessages.InformacoesGerais</a>
                    </li>
                    <li id="tabFinanciero" onclick="Europa.Controllers.PreProposta.DadosAvalista.GoBackAvalista()">
                        <a href="#area_detalhamento_financeiro">@GlobalMessages.DadosFinanceiros</a>
                    </li>
                    <li id="tabItbi" onclick="Europa.Controllers.PreProposta.DadosAvalista.GoBackAvalista()">
                        <a href="#area_itbi_emolumento">@GlobalMessages.ItbiEmolumentos</a>
                    </li>
                    <li id="tabProponente" onclick="Europa.Controllers.PreProposta.DadosAvalista.GoBackAvalista()">
                        <a href="#area_proponente">@GlobalMessages.Proponente</a>
                    </li>
                    <li id="tabDocumentacao" onclick="Europa.Controllers.PreProposta.DadosAvalista.GoBackAvalista()">
                        <a href="#area_documento_proponente">@GlobalMessages.Documentacao</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<div class="col-md-24" id="scrollable_div">
    <div class="tab-content">
        <div class="tab-pane active">
            <div id="tabsContent">
                <form id="form_pre_proposta">
                    <div class="col-md-24">
                        <fieldset id="fieldset_pre_proposta">
                            <div class="col-md-24 hidden" id="area_avalista">
                                @{
                                    Html.RenderPartial("_DadosAvalista", Model);
                                }
                            </div>
                            <div class="col-md-24 area" id="area_geral">
                                @{
                                    Html.RenderPartial("_Geral", Model);
                                }
                            </div>
                            <div class="col-md-24 @(Model.PreProposta.HasValue() ? "" : "hidden") area" id="area_detalhamento_financeiro">
                                @{
                                    Html.RenderPartial("_DetalhamentoFinanceiro", Model);
                                }
                            </div>
                            <div class="col-md-24 @(Model.PreProposta.HasValue() ? "" : "hidden") area" id="area_itbi_emolumento">
                                @{
                                    Html.RenderPartial("_ItbiEmolumento", Model);
                                }
                            </div>
                            <div class="col-md-24 @(Model.PreProposta.HasValue() ? "" : "hidden") area" id="area_proponente">
                                @{
                                    Html.RenderPartial("_Proponente", Model);
                                }
                            </div>
                            <div class="col-md-24 @(Model.PreProposta.HasValue() ? "" : "hidden") area" id="area_documento_proponente">
                                @{
                                    Html.RenderPartial("_DocumentoProponente", Model);
                                }
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(x=>x.SituacaoAnterior)

<form id="Exportar"></form>
@{
    Html.RenderPartial("~/Views/Cliente/_ModalBuscaCliente.cshtml");

    Html.RenderPartial("~/Views/PreProposta/_AlterarCorretorModal.cshtml");

    Html.RenderPartial("~/Views/PreProposta/_ClonarPrePropostaModal.cshtml");

    Html.RenderPartial("~/Views/PreProposta/_ModalObservacoes.cshtml");
    Html.RenderPartial("~/Views/PreProposta/_ModalVisualizarDocs.cshtml");

    Html.RenderPartial("~/Views/Simulador/_ModalSimulacao.cshtml",Model);
    Html.RenderPartial("~/Views/Simulador/_DialogoSimulador.cshtml");
    Html.RenderPartial("_ModalIndicacao");
    Html.RenderPartial("_ModalCompartilharLink");
}
