@using Europa.Resources
@using Tenda.EmpresaVenda.Web.Models.Application

<script src="~/Static/administrativo/perfil/perfil-datatable.js"></script>

<div class="col-md-24">
    <div ng-controller="TabelaPerfil as perfil">
        <table datatable="" dt-options="perfil.dtOptions" dt-columns="perfil.dtColumns"
               dt-instance="perfil.dtInstance" class="table table-striped table-bordered"
               dt-column-defs="perfil.dtColumnDefs"></table>
        <div id="perfil_datatable_header">
            <form>
                <div class="col-md-5">
                    <input id="FiltroNomePerfil" name="FiltroNomeperfil" class="form-control" placeholder="@GlobalMessages.Nome" />
                </div>
                <div class="col-md-1" style="margin-left: 3px;">
                    <button type="submit" class="btn btn-default" onclick="Europa.Controllers.CadastroPerfil.Filtrar()">
                        <i class="fa fa-filter"></i>
                    </button>
                </div>
            </form>
            <div class="pull-right">
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Incluir"))
                {
                    <button class="btn btn-default" onclick="Europa.Controllers.CadastroPerfil.Novo()">
                        <i class="fa fa-plus"></i> @GlobalMessages.Incluir
                    </button>
                }
                @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Suspender") ||
                    SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Reativar") ||
                    SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar"))
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            @GlobalMessages.Opcoes <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Suspender"))
                            {
                                <li><a href="#" onclick="Europa.Controllers.CadastroPerfil.Suspender()">@GlobalMessages.Suspender</a></li>

                            }

                            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Reativar"))
                            {
                                <li><a href="#" onclick="Europa.Controllers.CadastroPerfil.Ativar()">@GlobalMessages.Reativar</a></li>
                            }

                            <li role="separator" class="divider"></li>

                            @if (SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Cancelar"))
                            {
                                <li><a href="#" onclick="Europa.Controllers.CadastroPerfil.Cancelar()">@GlobalMessages.Cancelar</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
