@using Tenda.EmpresaVenda.Web.Models.Application
@using Europa.Resources
<script src="~/Static/administrativo/permissao-perfil/funcionalidade-datatable.js"></script>
<script>
    Europa.Components.Datatable.Funcionalidade.listAction = '@Url.Action("ListaFuncionalidade", "Perfil")';
    Europa.Components.Datatable.Funcionalidade.AssociarPermissao = '@Url.Action("AssociarPermissao", "Perfil")';
    Europa.Components.Datatable.Funcionalidade.RemoverPermissao = '@Url.Action("RemoverPermissao", "Perfil")';
    Europa.Components.Datatable.Funcionalidade.MudarFlagLog = '@Url.Action("AlterarLogFuncionalidade", "Perfil")';
    Europa.Components.Datatable.Funcionalidade.permissao = [];
    Europa.Components.Datatable.Funcionalidade.permissao.Visualizar = '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Visualizar").ToString().ToLower()';
    Europa.Components.Datatable.Funcionalidade.permissao.Excluir = '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Excluir").ToString().ToLower()';
    Europa.Components.Datatable.Funcionalidade.permissao.Atualizar = '@SessionAttributes.Current().HasPermission(ViewBag.Codigo, "Atualizar").ToString().ToLower()';
</script>

<div ng-controller="FuncionalidadeDataTable as table">
    <div id="FuncionalidadeDatatable_barra" class="col-md-24 container-fluid">
        <form>
            <div class="col-md-24 form-group">
                <div class="col-md-5">
                    <input type="text" id="filtroNomeUF" placeholder="@GlobalMessages.UnidadeFuncional" class="form-control" aria-describedby="@GlobalMessages.DigiteNomeFiltro">
                </div>
                <div class="col-md-5" style="margin-left: 5px">
                    <input type="text" id="filtroNomeFunc" placeholder="@GlobalMessages.Funcionalidade" class="form-control" aria-describedby="@GlobalMessages.DigiteNomeFiltro">
                </div>
                <div class="col-md-5" style="margin-left: 5px">
                    <button class="btn btn-default" onclick="Europa.Components.Datatable.Funcionalidade.CarregarDados()"><i class="fa fa-filter" aria-hidden="true"></i> @GlobalMessages.Filtrar</button>
                    <button class="btn btn-default" type="button" onclick="Europa.Components.Datatable.Funcionalidade.LimparFiltros()"><i class="fa fa-eraser" aria-hidden="true"></i> @GlobalMessages.Limpar</button>
                </div>
            </div>
        </form>
    </div>
    <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns"
           dt-instance="table.dtInstance" class="table table-striped table-bordered"
           dt-column-defs="table.dtColumnDefs"></table>
</div>